<template>
  <div class="flex-row-hc-vc versus-tag br-xs p-t-10 p-b-10">
    <img :class="flagClassObj" :src="flag1_img" />
    <span class="versus-tag--item versus-tag--score fs18 fw500">{{
      score1
    }}</span>
    <span class="versus-tag--item versus-tag--score fs18 fw500">:</span>
    <span class="versus-tag--item versus-tag--score fs18 fw500">{{
      score2
    }}</span>
    <img :class="flagClassObj" :src="flag2_img" />
  </div>
</template>

<script>
import Flags from '@/assets/imgs/flags.js'
export default {
  name: 'VersusTag',
  components: {},
  props: {
    flag1: {
      type: String,
      default: 'flag1'
    },
    flag2: {
      type: String,
      default: 'flag2'
    },
    score1: {
      type: Number,
      default: 0
    },
    score2: {
      type: Number,
      default: 0
    },
    paddingBig: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {}
  },
  computed: {
    flag1_img: {
      get() {
        return Flags.items[this.flag1]
      }
    },
    flag2_img: {
      get() {
        return Flags.items[this.flag2]
      }
    },
    flagClassObj: {
      get() {
        return {
          'versus-tag--item versus-tag--img': true,
          'pad-small': !this.paddingBig,
          'pad-big': this.paddingBig
        }
      }
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
.versus-tag {
  background: $mainBgColor;
  .versus-tag--item {
    margin: 0px 2.5px;
    line-height: 1.33;
  }
  .versus-tag--img {
    &.pad-small {
      margin: 0px 5px;
    }
    &.pad-big {
      margin: 0px 10px;
    }
    width: 20px;
    height: 20px;
  }
  .versus-tag--score {
    line-height: 1;
    margin-top: 3px;
  }
}
</style>
