<template>
  <div class="flex-row-hl-vc h-full">
    <div
      class="versus-name--main p-l-5 p-r-5 p-t-10 p-b-10 flex-row-hl-vc fw500 flex1 fs14"
    >
      <div class="versus-name--item">
        Esports
      </div>
      <div class="versus-name--item">
        |
      </div>
      <div class="flex-row-hc-vc h-full">
        <img class="versus-name--flag versus-name--item" :src="flag1_img" />
        <div class="versus-name--item">
          VS
        </div>
        <img class="versus-name--flag versus-name--item" :src="flag2_img" />
      </div>
    </div>
    <div class="versus-name--state p-l-5 p-r-5 p-t-10 p-b-10 flex-row-hc-vc">
      <div v-if="isLive" class="versus-name--item">Live</div>
      <svg-icon class="versus-name--item ic_size_20" icon-class="streaming" />
    </div>
  </div>
</template>
<script>
import Flags from '@/assets/imgs/flags.js'
export default {
  name: 'VersusTag',
  components: {},
  props: {
    flag1: {
      type: String,
      default: 'flag1'
    },
    flag2: {
      type: String,
      default: 'flag2'
    },
    isLive: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {}
  },
  computed: {
    flag1_img: {
      get() {
        return Flags.items[this.flag1]
      }
    },
    flag2_img: {
      get() {
        return Flags.items[this.flag2]
      }
    }
  },
  methods: {}
}
</script>
<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
.versus-name--main {
  background: $mainBgColor;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.versus-name--flag {
  width: 20px;
  height: 20px;
}
.versus-name--state {
  color: white;
  background-color: red;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.versus-name--item {
  margin-left: 5px;
  margin-right: 5px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.3;
}
.ic_size_20 {
  width: 20px;
  height: 20px;
}
</style>
