<template>
  <sidebar-menu
    :menu="items"
    :hide-toggle="true"
    :relative="false"
    :width="variables.leftSidebarWidth"
    :width-collapsed="variables.collapseLeftSidebarWidth"
    :collapsed="!sidebar.opened"
    :show-one-child="true"
    @item-click="onItemClick"
  >
    <span slot="dropdown-icon"></span>
  </sidebar-menu>
</template>

<script>
// import { SidebarMenu } from 'vue-sidebar-menu'
import variables from '@/assets/styles/variables.scss'

export default {
  components: {
    // SidebarMenu
  },
  props: {
    items: {
      type: Array,
      default() {
        return []
      }
    }
  },
  data() {
    return {}
  },
  computed: {
    sidebar() {
      return this.$store.getters['app/getSidebar']
    },
    variables() {
      return variables
    }
  },
  methods: {
    onItemClick(event, item) {
      this.$emit('item-click', event, item)
    }
  }
}
</script>
