<template>
  <div
    class="vsm--item flex-row-hl-vc vsm--link league-item--root"
    style="display: flex !important;"
  >
    <p-check
      color="success"
      :checked="checked"
      :style="{ display: checkVisible ? 'block' : 'none' }"
      @change="checkChanged"
    />
    <nuxt-link :to="href" class="flex1">
      <div
        tabindex="0"
        role="link"
        :class="txtClassObj"
        style="padding-left: 0px;padding-right: 0px;"
      >
        <div class="flex-row-hl-vc">
          <img class="vsm--icon category-icon" :src="icon" />
          <span class="vsm--subtitle fw300">{{ title }}</span>
        </div>
        <span class="fs14 league-item--badge fw400">
          {{ badge }}
        </span>
      </div>
    </nuxt-link>
  </div>
</template>
<script>
export default {
  name: 'LeagueItem',
  components: {},
  props: {
    checkVisible: {
      type: Boolean,
      default: false
    },
    href: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    badge: {
      type: Number,
      default: 0
    },
    type: {
      type: String,
      default: ''
    },
    index: {
      type: Number,
      default: -1
    },
    checked: {
      type: Boolean,
      default: true
    },
    active: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {}
  },
  computed: {
    txtClassObj: {
      get() {
        return {
          'menu-item fs14 flex-space-between-vc': true,
          inactive: !this.active
        }
      }
    }
  },
  methods: {
    checkChanged(checkState) {
      this.$emit('checked', this.type, this.index, checkState)
    }
  }
}
</script>
<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.league-item--root {
  height: 50px !important;
  padding-left: 40px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: $leftSideBarRightPadding !important;
}
.v-sidebar-menu .vsm--mobile-item .vsm--item {
  &.league-item--root {
    padding-left: 10px !important;
    padding-right: 15px !important;
  }
}
.inactive {
  color: $leagueInactiveTxtColor !important;
}
</style>
