<template>
  <b-dropdown
    variant="outline-none"
    :no-caret="true"
    right
    class="right-dropdown"
  >
    <!-- <template slot="button-content"> -->
    <div slot="button-content" class="flex-row-hl-vc pointer">
      <div v-if="mode == 0" class="rect m-r-5" />
      <span v-if="mode == 0" class="wallet fs16 m-r-10">
        {{ 100 }}
      </span>
      <img
        v-if="mode == 1"
        :src="'/imgs/custom_user.png' + '?imageView2/1/w/80/h/80'"
        class="avatar br-sm m-r-10"
      />

      <div class="v-full fs12 caret br-xs flex-row-hc-vc">
        <font-awesome-icon v-if="mode == 0 || mode == 1" :icon="'ellipsis-v'" />
        <!-- <font-awesome-icon v-if="mode == 2" :icon="'bars'" /> -->
        <div v-if="mode == 2" class="fs15">Menu</div>
      </div>
    </div>
    <!-- </template> -->
    <b-dropdown-item v-if="containMenuItems" href="/esports"
      >Esports</b-dropdown-item
    >
    <b-dropdown-item v-if="containMenuItems" href="/sports"
      >Sports</b-dropdown-item
    >
    <b-dropdown-item v-if="containMenuItems" href="/games"
      >Games</b-dropdown-item
    >
    <b-dropdown-item v-if="containMenuItems" href="/market"
      >Market</b-dropdown-item
    >

    <b-dropdown-item v-if="!containMenuItems" href="/account"
      >Setting</b-dropdown-item
    >
    <b-dropdown-item-button v-if="!containMenuItems" @click="logout"
      >Log Out</b-dropdown-item-button
    >
  </b-dropdown>
</template>
<script>
export default {
  props: {
    mode: {
      type: Number,
      default: 0
    },
    containMenuItems: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {}
  },
  computed: {},
  mounted() {},
  methods: {
    logout() {}
  }
}
</script>
<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.avatar {
  width: $rightMenuMinHeight;
  height: $rightMenuMinHeight;
}
.wallet {
  color: $walletColor;
  margin-top: 3px;
}
.rect {
  width: 20px;
  height: 20px;
  background-color: $walletColor;
}
.caret {
  color: white;
  height: $rightMenuMinHeight;
  padding: 0px 4px;
  background-color: $grey4b;
}
.right-dropdown {
  padding: 0px !important;
  /deep/ .dropdown-menu {
    background-color: $mainBgColor !important;
  }
  /deep/ .dropdown-item {
    color: white;
    &:hover {
      background-color: $navbarBgColor !important;
      color: $purple !important;
    }
  }
}
</style>
