<template>
  <div class="container br-sm flex-row-hc-vc">
    <span class="time fs12">15:41</span>
    <span class="locale">(GMT-1)</span>
    <font-awesome-icon class="fs9 locale" icon="chevron-down" />
  </div>
</template>

<script>
export default {}
</script>
<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.container {
  cursor: pointer;
  min-width: 125px;
  border: 1px solid $grey33;
  padding: 10px 10px;
  min-height: $rightMenuMinHeight;

  .time {
    font-weight: 400;
    color: white;
  }
  .locale {
    color: $grey68;
  }
}
</style>
