<template>
  <div class="footer-logo flex-row-hc-vc br-b-xl">
    <img class="logo" src="/imgs/logo.png" />
  </div>
</template>

<script>
export default {
  name: 'FooterLogo',
  components: {},
  data() {
    return {}
  },
  computed: {},
  methods: {}
}
</script>
<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
.footer-logo {
  height: $footerLogoHeight;
  background-color: $mlightpurple;
  padding: 5px 60px;
}
</style>
