<template>
  <shadow-box class="pd-8-20" :has-shadow="false" :has-content-box="false">
    <div slot="shadow-box-content" class="flex-col-hl-vc h-full">
      <!-- <b-form class="h-full" @submit="onSubmit"> -->
      <b-overlay :show="overlayVisible" variant="dark" class="h-full">
        <div class="flex-space-between-vb h-full">
          <div class="flex-col m-r-30">
            <div class="fs17 fc-light-grey fw600 m-b-10">Your Bet</div>
            <input-box-with-clear-btn
              :var-link="betTemp"
              @inputChanged="onBetChanged"
            />
          </div>
          <div class="flex-col m-r-30">
            <div class="fs17 fc-light-grey fw600 m-b-10">Auto-cashout</div>
            <input-box-with-clear-btn
              :var-link="payOut"
              :is-toll-icon-visible="false"
              @inputChanged="onAutoCashoutChanged"
            />
          </div>
          <div class="flex-col m-t-10">
            <div
              class="hover_btn mw-200 flex-row-hc-vc"
              :class="betStatus"
              @click="onActionBet"
            >
              <span>{{ betBtnText }}</span>
            </div>
          </div>
        </div>
        <div class="flex-space-between-vc h-full m-t-20">
          <div
            class="dark_hover_btn flex-row-hc-vc m-r-5 m-t-10"
            @click="onBetting(0)"
          >
            <span>1K</span>
          </div>
          <div
            class="dark_hover_btn flex-row-hc-vc m-r-5 m-t-10"
            @click="onBetting(1)"
          >
            <span>10K</span>
          </div>
          <div
            class="dark_hover_btn flex-row-hc-vc m-r-5 m-t-10"
            @click="onBetting(2)"
          >
            <span>100K</span>
          </div>
          <div
            class="dark_hover_btn flex-row-hc-vc m-r-5 m-t-10"
            @click="onBetting(3)"
          >
            <span>1/2</span>
          </div>
          <div
            class="dark_hover_btn flex-row-hc-vc m-r-5 m-t-10"
            @click="onBetting(4)"
          >
            <span>X2</span>
          </div>
          <div
            class="dark_hover_btn flex-row-hc-vc m-r-5 m-t-10"
            @click="onBetting(5)"
          >
            <span>MAX</span>
          </div>
          <selection-bar
            :ary-btn-info="aryBetMode"
            :has-border="true"
            :is-large-padding="false"
            class="m-t-10"
            class-obj="p-l-15 p-r-15"
            :font-size="15"
            @onClick="selectMode"
          />
        </div>
      </b-overlay>
      <!-- </b-form> -->
    </div>
  </shadow-box>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import InputBoxWithClearBtn from '@/components/pc/games/InputBoxWithClearBtn'
import SelectionBar from '@/components/pc/games/crash/SelectionBar.vue'

export default {
  name: 'BetScoreBox',
  components: {
    ShadowBox,
    InputBoxWithClearBtn,
    SelectionBar
  },
  props: {
    betBtnText: {
      type: String,
      default: ''
    },
    betStatus: {
      type: String,
      default: ''
    },
    overlayVisible: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      betTemp: '1000',
      payOut: '0',
      isAutoBettingTemp: false,
      aryBetMode: [
        {
          label: 'Manual Bet',
          isActive: true
        },
        {
          label: 'Auto Bet',
          isActive: false
        }
      ]
    }
  },
  computed: {
    storeBetTemp() {
      const bet = this.$store.getters['betting/getBetTemp']
      return bet !== undefined && bet !== '' ? bet : '1000'
    },
    storePayout() {
      const payout = this.$store.getters['betting/getPayout']
      return payout !== undefined && payout !== '' ? payout : '1000'
    },
    storeIsAutoTemp() {
      const session = this.$store.getters['betting/getIsAutoTemp']
      return session !== undefined && session !== '' ? session : false
    }
  },
  watch: {
    storeIsAutoTemp: {
      handler(val, oldVal) {
        this.isAutoBettingTemp = val !== undefined && val !== '' ? val : false
        this.aryBetMode[0].isActive = !this.isAutoBettingTemp
        this.aryBetMode[1].isActive = this.isAutoBettingTemp
      },
      immediate: true
    },
    storeBetTemp: {
      handler(val, oldVal) {
        this.betTemp = val !== undefined ? val : '1000'
      },
      immediate: true
    },
    storePayout: {
      handler(val, oldVal) {
        this.payOut = val !== undefined ? val : ''
      },
      immediate: true
    }
  },
  methods: {
    onBetting(btnType) {
      if (btnType === 0)
        this.betTemp = (parseInt(this.betTemp) + 1000).toFixed()
      else if (btnType === 1)
        this.betTemp = (parseInt(this.betTemp) + 10000).toFixed()
      else if (btnType === 2)
        this.betTemp = (parseInt(this.betTemp) + 100000).toFixed()
      else if (btnType === 3)
        this.betTemp = (parseInt(this.betTemp) / 2).toFixed()
      else if (btnType === 4)
        this.betTemp = (parseInt(this.betTemp) * 2).toFixed()
      else if (btnType === 5) this.betTemp = this.getMax().toFixed()
      this.$emit('bet-value-changed', this.betTemp)
    },
    getMax() {
      return this.$store.getters['users/getWalletInfo']
    },
    onSubmit(evt) {
      evt.preventDefault()
      this.onActionBet()
    },
    onActionBet() {
      if (this.betStatus !== 'betting' && this.betStatus !== 'disabled')
        this.$emit('action-bet')
    },
    selectMode(index) {
      for (let i = 0; i < this.aryBetMode.length; i++) {
        if (index === i) this.aryBetMode[i].isActive = true
        else this.aryBetMode[i].isActive = false
      }
      this.$emit('onSelectMode', index)
    },
    onBetChanged(value) {
      this.$emit('bet-value-changed', value)
    },
    onAutoCashoutChanged(value) {
      this.$emit('auto-cashout-changed', value)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.hover_btn {
  background: $mlightpurple;
  color: white;
  font-size: 15px;
  border-radius: 7px;
  padding: 10px 30px;
  font-weight: 500;
  cursor: pointer;
}

.hover_btn:hover {
  background: $lightpurple;
}

.hover_btn.cashout {
  background: $darkblue;
}
.hover_btn:hover.cashout {
  background: $blue;
}

.hover_btn.cancel {
  background: $darkchancered;
}
.hover_btn:hover.cancel {
  background: $lightred;
}

.hover_btn.disabled,
.hover_btn.betting {
  background: $grey59;
}
.hover_btn:hover.disabled,
.hover_btn:hover.betting {
  background: $grey59;
}

.dark_hover_btn {
  background: $darkgrey;
  color: white;
  font-size: 15px;
  border-radius: 7px;
  padding: 10px 30px;
  font-weight: 500;
  cursor: pointer;
}

.dark_hover_btn:hover {
  background: $ldarkblack;
}

.mw-200 {
  min-width: 200px;
}
</style>
