<template>
  <div class="list_container h-full">
    <div class="flex-space-between-vc fc-white">
      <div class="p-l-15 p-t-5 p-b-5 flex-row-hc-vc">
        <div class="round_box">
          <div class="fs17 bold">{{ aryUserList.length }}</div>
        </div>
        <div v-if="isGame" class="p-l-10">in Game</div>
        <div v-else class="p-l-10">Cashed Out</div>
      </div>
      <div class="p-r-10 p-t-5 p-b-5 flex-row">
        <div v-if="!isGame" class="p-r-40 fs18 bold">@</div>
        <toll-box
          :bet="totalMoney()"
          :purple="false"
          :default-width-mini="true"
        />
      </div>
    </div>
    <div
      v-if="isGame"
      class="table_header purple flex-space-between-vc fs14 m-b-10"
    >
      <div>In Game</div>
      <div>Bet Amount</div>
    </div>
    <div v-else class="table_header green flex-space-between-vc fs14 m-b-10">
      <div class="fw400">Winners</div>
      <div class="fw400 m-r-40">Profit</div>
    </div>
    <div class="no-scrollbar v-full item_container">
      <score-user-list-item
        v-for="(item, i) in aryUserList"
        :key="i"
        :user-info="item"
        :is-cash-out="!isGame"
        class="m-t-5 m-b-5"
      />
    </div>
  </div>
</template>

<script>
import TollBox from '@/components/pc/games/TollBox.vue'
import ScoreUserListItem from '@/components/pc/games/crash/ScoreUserListItem.vue'

export default {
  name: 'ScoreGraph',
  components: {
    TollBox,
    ScoreUserListItem
  },
  props: {
    isGame: {
      type: Boolean,
      default: false
    },
    // heightValue: {
    //   type: Number,
    //   default: 0
    // },
    aryUserList: {
      type: Array,
      default() {
        return [
          {
            username: '',
            gemcount: 0,
            value: 0,
            cashout: 0
          }
        ]
      }
    }
  },
  data() {
    return {}
  },
  computed: {},
  created() {},
  methods: {
    totalMoney() {
      let totalM = 0
      for (let i = 0; i < this.aryUserList.length; i++) {
        if (this.isGame) totalM += parseInt(this.aryUserList[i].value)
        else {
          const cashout = this.aryUserList[i].cashout
          const value = this.aryUserList[i].value
          totalM += parseInt((value * (cashout - 100)) / 100)
        }
      }
      return totalM
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.list_container {
  background: $clrContainerBack;
  border-radius: 10px;
}

.round_box {
  padding: 8px 10px;
  border-radius: 7px;
  background: $footerBgColor;
}

.table_header {
  padding: 10px 10px 10px 20px;
  color: white;
}

.table_header.purple {
  background: $ddarkpurple;
}

.table_header.green {
  background: $green;
}

.item_container {
  height: calc(100% - 110px);
  // padding: 0px 10px;
  margin: 0px 10px;
}
</style>
