<template>
  <div class="list_item_container br-ss flex-space-between-vc">
    <div class="fc-white flex-row-hc-vc">
      <diamond-box
        :user-name="userInfo.username"
        :diamonds="userInfo.gemcount"
      />
      <span class="p-l-5 p-r-10 fs14 fw600">{{ userInfo.username }}</span>
    </div>
    <div class="fc-mid-green flex-row-hc-vc">
      <span v-if="isCashOut" class="p-r-20">
        {{ (userInfo.cashout / 100).toFixed(2) }}x
      </span>
      <toll-box
        v-if="!isCashOut"
        :bet="parseInt(userInfo.value)"
        :large-icon="false"
        :purple="false"
        :default-width-mini="true"
      />
      <toll-box
        v-else
        :bet="parseInt((userInfo.value * (userInfo.cashout - 100)) / 100)"
        :large-icon="false"
        :purple="false"
        :default-width-mini="true"
      />
    </div>
  </div>
</template>

<script>
import DiamondBox from '@/components/pc/games/DiamondBox.vue'
import TollBox from '@/components/pc/games/TollBox.vue'

export default {
  name: 'ScoreUserListItem',
  components: {
    DiamondBox,
    TollBox
  },
  props: {
    isCashOut: {
      type: Boolean,
      default: false
    },
    userInfo: {
      type: Object,
      default() {
        return {
          username: '',
          gemcount: 0,
          value: 0,
          cashout: 0
        }
      }
    }
  },
  data() {
    return {}
  },
  computed: {},
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.list_item_container {
  background: $dark_back;
  padding: 5px;
  min-width: 300px;
}
</style>
