<template>
  <div class="selectionbtn_container flex-row">
    <selection-btn
      v-for="(item, i) in aryBtnInfo"
      :key="i"
      :lbl-btn="item.label"
      :icon="item.icon"
      :is-active="item.isActive"
      :is-bold="isBold"
      :has-border="hasBorder"
      :is-large="isLargePadding"
      :is-distributed="isDistributed"
      class="p-t-10 p-b-10"
      :class="classObj"
      :font-size="fontSize"
      @onClick="onClick(i)"
    />
  </div>
</template>

<script>
import SelectionBtn from '@/components/pc/games/crash/SelectionBtn.vue'
export default {
  name: 'SelectionBar',
  components: {
    SelectionBtn
  },
  props: {
    aryBtnInfo: {
      type: Array,
      default() {
        return [
          {
            label: '',
            icon: '',
            isActive: false
          }
        ]
      }
    },
    hasBorder: {
      type: Boolean,
      default: false
    },
    isLargePadding: {
      type: Boolean,
      default: true
    },
    isDistributed: {
      type: Boolean,
      default: false
    },
    classObj: {
      type: String,
      default: ''
    },
    fontSize: {
      type: Number,
      default: 15
    },
    isBold: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {}
  },
  computed: {},
  created() {},
  methods: {
    onClick(i) {
      this.$emit('onClick', i)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
.selectionbtn_container {
  background: $dark_back;
  border-radius: 5px;
}
</style>
