<template>
  <div
    class="selection_button pointer"
    :class="classObj"
    :style="'font-size: ' + fontSize + 'px;'"
    @click="onClick"
  >
    <svg-icon v-if="icon != ''" :icon-class="icon" class="ic_size_18" />
    <span>{{ lblBtn }}</span>
  </div>
</template>

<script>
export default {
  name: 'SelectionBtn',
  props: {
    lblBtn: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: ''
    },
    isActive: {
      type: Boolean,
      default: false
    },
    isBold: {
      type: Boolean,
      default: false
    },
    hasBorder: {
      type: Boolean,
      default: false
    },
    isLarge: {
      type: Boolean,
      default: true
    },
    isDistributed: {
      type: Boolean,
      default: false
    },
    fontSize: {
      type: Number,
      default: 15
    }
  },
  data() {
    return {}
  },
  computed: {
    classObj: {
      get() {
        return {
          active: this.isActive,
          'font-bold': this.isBold,
          'has-border': this.hasBorder,
          large: this.isLarge,
          distributed: this.isDistributed
        }
      }
    }
  },
  created() {},
  methods: {
    onClick() {
      this.$emit('onClick')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.selection_button {
  background: $dark_back;
  color: $lightgrey;
  font-size: 15px;
  border-radius: 5px;
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

.selection_button:hover {
  background: $ldarkblack;
}

.has-border {
  border: 1px solid $mainmenuActiveColor;
}

.selection_button:not(:first-child) {
  margin-left: -5px;
}

.selection_button.large:not(:first-child) {
  margin-left: -5px;
}

.selection_button.distributed {
  margin: 0px 10px;
}

.selection_button.distributed.large {
  margin: 0px 20px;
}

.selection_button.active {
  color: white;
  background: $mainmenuActiveColor;
  border: 1px solid $mainmenuActiveColor;
  z-index: 1;
}

.selection_button:hover.action {
  background: $brightpurple;
}

.ic_size_18 {
  width: 18px;
  height: 18px;
}
</style>
