<template>
  <shadow-box
    class="m-t-25 pd-8-20"
    :has-shadow="false"
    :has-content-box="false"
  >
    <div slot="shadow-box-content" class="flex-col-hl-vc h-full">
      <div class="flex-space-between-vb h-full">
        <div class="flex-col m-r-30">
          <div class="fs17 fc-light-grey fw600 m-b-10">Base Bet</div>
          <input-box-with-clear-btn
            :var-link="basebet"
            class="mw-200"
            @inputChanged="changeAutoBaseBet"
          />
        </div>
        <div class="flex-col m-r-30">
          <div class="fs17 fc-light-grey fw600 m-b-10 m-t-10">Auto-cashout</div>
          <input-box-with-clear-btn
            :var-link="cashout"
            :is-toll-icon-visible="false"
            class="mw-200"
            @inputChanged="changeCashOut"
          />
        </div>
        <div class="flex-col m-r-30">
          <div class="fs17 fc-light-grey fw600 m-b-10 m-t-10">
            Stop if bet is >
          </div>
          <input-box-with-clear-btn
            :var-link="stopBet"
            class="mw-200"
            @inputChanged="changeStopBet"
          />
        </div>
        <div class="flex-col-hc-vc miw-145 fl-right">
          <div class="text-nowrap fs17 fc-light-grey fw600 m-b-10 m-t-10">
            Current Bet Amount
          </div>
          <div class="toll-container transparent">
            <toll-box :bet="currentBet" :purple="false" />
          </div>
        </div>
      </div>
      <div class="flex-space-between-vc h-full m-t-10">
        <div class="flex-col m-r-30">
          <div class="fs17 fc-light-grey fw600 m-t-10">On Win</div>
          <div class="flex-row-hc-vc">
            <div class="m-t-10">
              <selection-bar
                :ary-btn-info="aryModeOnWin"
                :has-border="true"
                :is-large-padding="false"
                class-obj="p-l-15 p-r-15"
                :font-size="11"
                @onClick="clickOnWin"
              />
            </div>
            <input-box-with-clear-btn
              :var-link="winIncrease"
              :is-clear-btn-visible="false"
              class="m-t-10 m-l-10"
              style-width="width: 50px;"
              @inputChanged="changeWinIncrease"
            />
          </div>
        </div>
        <div class="flex-col m-r-30">
          <div class="fs17 fc-light-grey fw600 m-t-10">On Loss</div>
          <div class="flex-row-hc-vc">
            <div class="m-t-10">
              <selection-bar
                :ary-btn-info="aryModeOnLoss"
                :has-border="true"
                :is-large-padding="false"
                class-obj="p-l-15 p-r-15"
                :font-size="11"
                @onClick="clickOnLoss"
              />
            </div>
            <input-box-with-clear-btn
              :var-link="lossIncrease"
              :is-clear-btn-visible="false"
              class="m-t-10 m-l-10"
              style-width="width: 50px;"
              @inputChanged="changeLossIncrease"
            />
          </div>
        </div>
        <div class="flex-col-hc-vc miw-145 fl-right">
          <div class="text-nowrap fs17 fc-light-grey fw600 m-b-10 m-t-10">
            Session Profit
          </div>
          <div class="toll-container transparent">
            <toll-box :bet="sessionProfit" :purple="false" />
          </div>
        </div>
      </div>
    </div>
  </shadow-box>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import InputBoxWithClearBtn from '@/components/pc/games/InputBoxWithClearBtn'
import SelectionBar from '@/components/pc/games/crash/SelectionBar.vue'
import TollBox from '@/components/pc/games/TollBox.vue'

export default {
  name: 'WinLossBetScoreBox',
  components: {
    ShadowBox,
    InputBoxWithClearBtn,
    SelectionBar,
    TollBox
  },
  props: {
    lossValue: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      aryModeOnWin: [
        {
          label: 'Return to Base bet',
          isActive: false
        },
        {
          label: 'Increase By',
          isActive: true
        }
      ],
      aryModeOnLoss: [
        {
          label: 'Return to Base bet',
          isActive: false
        },
        {
          label: 'Increase By',
          isActive: true
        }
      ],
      basebet: '1000',
      bet: '1000',
      cashout: '',
      stopBet: '',
      winActiveId: 0,
      winIncrease: '',
      lossActiveId: 0,
      lossIncrease: '',
      sessionProfit: 0,
      currentBet: 1000
    }
  },
  computed: {
    storeBaseBet() {
      return this.$store.getters['betting/getBaseBet']
    },
    storeBet() {
      return this.$store.getters['betting/getAutoBet']
    },
    storeCashOut() {
      return this.$store.getters['betting/getCashOut']
    },
    storeStopBet() {
      return this.$store.getters['betting/getStopIf']
    },
    storeWinActId() {
      return this.$store.getters['betting/getOnWinCond']
    },
    storeWinVal() {
      return this.$store.getters['betting/getOnWinValue']
    },
    storeLossActId() {
      return this.$store.getters['betting/getOnLossCond']
    },
    storeLossVal() {
      return this.$store.getters['betting/getOnLossValue']
    },
    storeSessionProfit() {
      return this.$store.getters['betting/getSessionProfit']
    }
  },
  watch: {
    storeBaseBet: {
      handler(val, oldVal) {
        this.basebet = val !== undefined && val !== '' ? val : '1000'
      },
      immediate: true
    },
    storeBet: {
      handler(val, oldVal) {
        this.bet = val !== undefined && val !== '' ? val : '1000'
        this.currentBet = parseInt(this.bet)
      },
      immediate: true
    },
    storeCashOut: {
      handler(val, oldVal) {
        this.cashout = val !== undefined && val !== '' ? val : ''
      },
      immediate: true
    },
    storeStopBet: {
      handler(val, oldVal) {
        this.stopBet = val !== undefined && val !== '' ? val : ''
      },
      immediate: true
    },
    storeWinActId: {
      handler(val, oldVal) {
        this.winActiveId = val !== undefined && val !== '' ? val : 0
        this.refreshSelections()
      },
      immediate: true
    },
    storeWinVal: {
      handler(val, oldVal) {
        this.winIncrease = val !== undefined && val !== '' ? val : ''
      },
      immediate: true
    },
    storeLossActId: {
      handler(val, oldVal) {
        this.lossActiveId = val !== undefined && val !== '' ? val : 0
        this.refreshSelections()
      },
      immediate: true
    },
    storeLossVal: {
      handler(val, oldVal) {
        this.lossIncrease = val !== undefined && val !== '' ? val : ''
      },
      immediate: true
    },
    storeSessionProfit: {
      handler(val, oldVal) {
        this.sessionProfit = val !== undefined && val !== '' ? val : 0
      },
      immediate: true
    }
  },
  mounted() {
    const self = this

    this.emitChangeValues()

    this.$bus.$on('auto-finish-game', function(param) {
      self.changeOnWinLoss(param.value)
    })
  },
  methods: {
    refreshSelections() {
      for (let i = 0; i < this.aryModeOnWin.length; i++) {
        if (i === this.winActiveId) this.aryModeOnWin[i].isActive = true
        else this.aryModeOnWin[i].isActive = false

        if (i === this.lossActiveId) this.aryModeOnLoss[i].isActive = true
        else this.aryModeOnLoss[i].isActive = false
      }
    },
    clickOnWin(index) {
      for (let i = 0; i < this.aryModeOnWin.length; i++) {
        if (index === i) {
          this.aryModeOnWin[i].isActive = true
          this.winActiveId = i
        } else this.aryModeOnWin[i].isActive = false
      }
      this.emitChangeValues()
    },
    clickOnLoss(index) {
      for (let i = 0; i < this.aryModeOnLoss.length; i++) {
        if (index === i) {
          this.lossActiveId = i
          this.aryModeOnLoss[i].isActive = true
        } else this.aryModeOnLoss[i].isActive = false
      }
      this.emitChangeValues()
    },
    changeAutoBaseBet(inputValue) {
      this.basebet = inputValue
      this.emitChangeValues()
    },
    changeAutoBet(inputValue) {
      const tempBet = parseInt(inputValue)
      if (tempBet < 0) this.bet = '0'
      else this.bet = tempBet.toFixed(0)
      this.emitChangeValues()
    },
    changeCashOut(inputValue) {
      this.cashout = inputValue
      this.emitChangeValues()
    },
    changeStopBet(inputValue) {
      this.stopBet = inputValue
      this.emitChangeValues()
    },
    changeWinIncrease(inputValue) {
      this.winIncrease = inputValue
      this.emitChangeValues()
    },
    changeLossIncrease(inputValue) {
      this.lossIncrease = inputValue
      this.emitChangeValues()
    },
    emitChangeValues() {
      this.$emit('changeAuto', {
        basebet: this.basebet,
        bet: this.bet,
        cash: this.cashout,
        stop: this.stopBet,
        isWin: this.winActiveId,
        win: this.winIncrease,
        isLoss: this.lossActiveId,
        loss: this.lossIncrease
      })
    },
    changeOnWinLoss(isWin) {
      if (isWin) {
        if (this.winActiveId === 0) {
          this.changeAutoBet(this.basebet)
        } else if (this.winActiveId === 1) {
          if (this.winIncrease !== '') {
            this.changeAutoBet(
              (parseInt(this.bet) + parseInt(this.winIncrease)).toFixed(0)
            )
          }
        }
      } else if (this.lossActiveId === 0) {
        this.changeAutoBet(this.basebet)
      } else if (this.lossActiveId === 1) {
        if (this.lossIncrease !== '') {
          this.changeAutoBet(
            (parseInt(this.bet) + parseInt(this.lossIncrease)).toFixed(0)
          )
        }
      }

      if (
        parseInt(this.stopBet) > 0 &&
        parseInt(this.stopBet) < parseInt(this.bet)
      ) {
        this.bet = this.basebet
        this.$emit('stopAutoBetting')
      } else this.$emit('continueAutoBetting')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.toll-container {
  background: $darkgrey;
  color: white;
  font-size: 15px;
  border-radius: 7px;
  padding: 10px;
  margin-left: 20px;
}

.toll-container.transparent {
  background: transparent;
  margin-left: 0px;
}

.mw-200 {
  max-width: 200px;
}

.miw-145 {
  min-width: 145px;
}

.text-nowrap {
  word-wrap: none;
}
</style>
