@import '@/assets/styles/variables.scss';

$primary-color: $purple !default;
$default-box-shadow-color: $yellow !default; // Gal 2020.03.19.

$base-bg: #2a2a2e !default;

$item-color: #fff !default;

$item-active-color: $item-color !default;

$item-open-color: $item-color !default;
$item-open-bg: $primary-color !default;

$item-hover-color: $item-color !default;
$item-hover-bg: rgba(darken( $base-bg, 5% ), 0.5) !default;

$icon-color: $item-color !default;
$icon-bg: darken( $base-bg, 5% ) !default;

$icon-active-color: $item-color !default;
$icon-active-bg: $icon-bg !default;

$icon-open-color: $item-color !default;
$icon-open-bg: $primary-color !default;

$mobile-item-color: $item-color !default;
$mobile-item-bg: $primary-color !default;
$mobile-icon-color: $mobile-item-color !default;
$mobile-icon-bg: $mobile-item-bg !default;

$dropdown-bg: lighten( $base-bg, 5% ) !default;
$dropdown-color: $item-color !default;

$item-font-size: 16px !default;
$item-line-height: 30px !default;
$item-padding: 10px !default;
$icon-height: 25px !default; // Gal 2020.03.21. default: 30px
$icon-width: 25px !default; // Gal 2020.03.21. default: 30px
