<template>
  <div class="flex-col-hl-vc craft_container br-s">
    <img :src="weaponImage" class="m-t-10 m-b-20" />
    <toll-box
      :large-icon="false"
      :purple="false"
      :bet="betValue"
      :has-default-width="false"
    />
    <div class="bottom_baseline m-t-15" />
  </div>
</template>

<script>
import TollBox from '@/components/pc/games/TollBox.vue'

export default {
  name: 'WinningWeaponBox',
  components: {
    TollBox
  },
  props: {
    betValue: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      weaponImage: '/imgs/jackpot/box.png'
    }
  },
  computed: {},
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.craft_container {
  background: $clrContainerBack;
  width: 130px;
  height: 155px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.bottom_baseline {
  background: $midyellow;
  width: 70%;
  height: 5px;
  border-radius: 2px;
}
</style>
