<template>
  <shadow-box :has-shadow="false" class="fc-white">
    <div slot="shadow-box-content">
      <div class="flex-col-hc-vc">
        <div class="purple_btn text-center">
          <span class="fs25 bold">Deposite</span>
        </div>
        <div class="h-full m-t-15 flex-row">
          <shadow-box
            :has-content-box="false"
            :is-lightgray-back="false"
            :has-shadow="false"
            class="m-r-5 pd-10"
          >
            <div slot="shadow-box-content" class="flex-col">
              <span class="fs20 fc-chance-red bold">70%</span>
              <span class="fs13 fw300 text-right">chance</span>
            </div>
          </shadow-box>
          <shadow-box
            :has-content-box="false"
            :is-lightgray-back="false"
            :has-shadow="false"
            class="m-l-5 pd-10"
          >
            <div slot="shadow-box-content" class="flex-col">
              <span class="fs20 fc-chance-red bold">70%</span>
              <span class="fs13 fw300 text-right">items</span>
            </div>
          </shadow-box>
        </div>
        <shadow-box
          :has-content-box="false"
          :is-lightgray-back="false"
          :has-shadow="false"
          class="m-l-5 pd-10 m-t-15"
        >
          <div slot="shadow-box-content" class="flex-col-hc-vc">
            <span class="fs23 bold">1280000</span>
            <span>Deposited</span>
          </div>
        </shadow-box>
      </div>
    </div>
  </shadow-box>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'

import aryUserImg from '@/assets/imgs/users.js'

export default {
  name: 'DepositeInfoBox',
  components: {
    ShadowBox
  },
  props: {
    userInfo: {
      type: Object,
      default() {
        return {
          name: '',
          clrIndex: 0,
          percent: 0,
          itemTitle: '',
          itemCount: 0,
          betValue: 0
        }
      }
    }
  },
  data() {
    return {}
  },
  computed: {
    aryUserImg() {
      return aryUserImg
    }
  },
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.purple_btn {
  background: $mlightpurple;
  cursor: pointer;
  border-radius: 7px;
  padding: 10px;
  width: 100%;
}

.purple_btn:hover {
  background: $lightpurple;
}
</style>
