<template>
  <shadow-box
    :has-content-box="false"
    :has-shadow="false"
    class="p-l-30 p-t-20 p-b-20 p-r-15"
  >
    <div slot="shadow-box-content" class="flex-col-hc-vt h-full fc-white">
      <div class="flex-row-hc-vc h-full m-b-15">
        <img :src="aryUserImg.items[userName]" class="user-icon br-sm" />
        <div class="flex-col-hc-vc p-l-20 h-full">
          <div class="flex-row-hc-vc p-t-10 p-b-10 h-full">
            <div class="flex-space-between-vc info-box fs19">
              <div class="fw500">Win</div>
              <div class="bold fc-mid-yellow">${{ dollar }}</div>
            </div>
            <div class="flex-row-hl-vc info-round-box m-l-20 h-full fs15 fw500">
              <div class="round-box">Round hash she 224:</div>
              <div class="round-info fc-mid-green-blue">{{ roundHash }}</div>
            </div>
          </div>
          <div class="flex-row-hc-vc p-t-10 p-b-10 h-full">
            <div class="flex-space-between-vc info-box fs19">
              <div class="fw300">Chance</div>
              <div class="bold fc-mid-green-blue">{{ chance }}%</div>
            </div>
            <div class="flex-row-hl-vc info-round-box m-l-20 h-full fs15 fw500">
              <div class="round-box">Round number:</div>
              <div class="round-info fc-mid-green-blue">${{ roundNumber }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-space-between-vc h-full">
        <div class="name-box fs17 fw500">{{ userName }}</div>
        <div class="flex-row-hc-vc">
          <div class="m-r-70 fs19 fw500">Game # 138334</div>
          <div class="fs14 fw400 fc-light-grey">Today at {{ time }}</div>
        </div>
      </div>
    </div>
  </shadow-box>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'

import aryUserImg from '@/assets/imgs/users.js'

export default {
  name: 'HistoryInfoBox',
  components: {
    ShadowBox
  },
  props: {
    userName: {
      type: String,
      default: 'Andrew Kimsoon'
    },
    dollar: {
      type: Number,
      default: 33
    },
    chance: {
      type: Number,
      default: 100
    },
    roundHash: {
      type: String,
      default:
        'fdbkdndldfnjdfjkbfdbkdndldfnjdfjkbvhkdfjsbvjhkdbfshjvbfsvb bfshjvbfsvb'
    },
    roundNumber: {
      type: String,
      default: '0.332983289658947049048t4849589470490'
    },
    time: {
      type: String,
      default: '10:48 AM'
    }
  },
  data() {
    return {
      aryUserImg
    }
  },
  computed: {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.name-box {
  width: 125px;
  text-align: center;
}

.user-icon {
  min-width: 125px;
  max-width: 125px;
  height: 125px;
}

.info-box {
  min-width: 200px;
  background-color: $darkgrey;
  border-radius: 7px;
  padding: 12px 20px;
}

.info-round-box {
  min-width: 200px;
  background-color: $darkgrey;
  border-radius: 7px;
  padding: 15px 20px;
}

.round-box {
  min-width: 170px;
  max-width: 170px;
}

.round-info {
  word-break: break-all;
}
</style>
