<template>
  <div
    class="flex-col-hc-vc p-t-15 p-l-20 p-r-20 fc-white br-s"
    :class="classObj"
  >
    <img :src="aryUserImg.items[userName]" class="user-icon" />
    <div class="fs15 fw500 m-t-10">{{ winRatio }}%</div>
    <div class="fs17 fw700 m-t-3 m-b-5">{{ dollars }}$</div>
  </div>
</template>

<script>
import aryUserImg from '@/assets/imgs/users.js'

export default {
  name: 'HistoryUserBox',
  props: {
    index: {
      type: Number,
      default: 0
    },
    userName: {
      type: String,
      default: 'default'
    },
    winRatio: {
      type: Number,
      default: 33.1
    },
    dollars: {
      type: Number,
      default: 16
    }
  },
  data() {
    return {
      aryUserImg
    }
  },
  computed: {
    classObj: {
      get() {
        return {
          'is-bg0': this.index % 8 === 0,
          'is-bg1': this.index % 8 === 1,
          'is-bg2': this.index % 8 === 2,
          'is-bg3': this.index % 8 === 3,
          'is-bg4': this.index % 8 === 4,
          'is-bg5': this.index % 8 === 5,
          'is-bg6': this.index % 8 === 6,
          'is-bg7': this.index % 8 === 7
        }
      }
    }
  },
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.is-bg0 {
  background-color: $jackUserBg0;
}

.is-bg1 {
  background-color: $jackUserBg1;
}

.is-bg2 {
  background-color: $jackUserBg2;
}

.is-bg3 {
  background-color: $jackUserBg3;
}

.is-bg4 {
  background-color: $jackUserBg4;
}

.is-bg5 {
  background-color: $jackUserBg5;
}

.is-bg6 {
  background-color: $jackUserBg6;
}

.is-bg7 {
  background-color: $jackUserBg7;
}

.user-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid white;
}
</style>
