<template>
  <shadow-box
    :has-content-box="false"
    :has-shadow="false"
    :is-lightgray-back="false"
    class="p-t-20 flex-col-hc-vc h-435"
  >
    <div slot="shadow-box-content">
      <div class="flex-row-hc-vc">
        <span class="purple_box">Game ID: {{ userId }}</span>
      </div>
      <div class="pos-rel">
        <img :src="imgJackpotRound" class="h-full p-l-20 p-r-20" />
        <!--toll-box
          :bet="betValue"
          :purple="false"
          :large-font="true"
          class="toll_pos"
        /-->
      </div>
    </div>
  </shadow-box>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
// import TollBox from '@/components/pc/games/TollBox.vue'

export default {
  name: 'JackpotRound',
  components: {
    // TollBox,
    ShadowBox
  },
  props: {
    userId: {
      type: Number,
      default: 0
    },
    betValue: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      imgJackpotRound: '/imgs/jackpot/jackpot_round.png'
    }
  },
  computed: {},
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.jackpotround_box {
  max-width: 475px;
}

.purple_box {
  padding: 10px 30px;
  border-radius: 15px;
  color: white;
  background-color: $mlightpurple;
}
.toll_pos {
  position: absolute;
  margin: auto;
}

.h-435 {
  height: 435px;
  img {
    max-width: 360px;
  }
}
</style>
