<template>
  <div class="no-scrollbar v-full user_list_box">
    <user-list-item
      v-for="(item, i) in aryUserInfo"
      :key="i"
      :user-info="item"
    />
  </div>
</template>

<script>
import UserListItem from '@/components/pc/games/jackpot/UserListItem.vue'

export default {
  name: 'UserListBox',
  components: {
    UserListItem
  },
  props: {
    aryUserInfo: {
      type: Array,
      default() {
        return [
          {
            name: '',
            clrIndex: 0,
            percent: 0,
            itemTitle: '',
            itemCount: 0,
            betValue: 0
          }
        ]
      }
    }
  },
  data() {
    return {}
  },
  computed: {},
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.user_list_box {
  height: 435px;
  min-width: 300px;
}
</style>
