<template>
  <shadow-box :has-shadow="false" class="fc-white">
    <div slot="shadow-box-content">
      <div class="flex-col-hc-vc">
        <div class="user_icon">
          <img :src="aryUserImg.items[userInfo.name]" class="ic_size_90" />
          <svg-icon icon-class="icon_winner" class="winner_icon" />
        </div>
        <span class="username_box">{{ userInfo.name }}</span>
        <div class="flex-row-hc-vc">
          <toll-box
            :large-icon="false"
            :purple="false"
            :bet="userInfo.betValue"
          />
          <div class="m-l-40">
            <span class="fc-game-green">{{ userInfo.percent }}%</span>
            <span class="p-l-5">Chance</span>
          </div>
        </div>
      </div>
    </div>
  </shadow-box>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import TollBox from '@/components/pc/games/TollBox.vue'

import aryUserImg from '@/assets/imgs/users.js'

export default {
  name: 'UserInfoBox',
  components: {
    ShadowBox,
    TollBox
  },
  props: {
    userInfo: {
      type: Object,
      default() {
        return {
          name: '',
          clrIndex: 0,
          percent: 0,
          itemTitle: '',
          itemCount: 0,
          betValue: 0
        }
      }
    }
  },
  data() {
    return {}
  },
  computed: {
    aryUserImg() {
      return aryUserImg
    }
  },
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.user_icon {
  width: 90px;
  height: 90px;
  position: relative;
}

.ic_size_90 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.winner_icon {
  width: 42px;
  height: 42px;
  border: 2px solid $clrContainerBack;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.username_box {
  font-family: 'Nulshock Rg';
  font-size: 18px;
}
</style>
