<template>
  <div class="user_item_box flex-row-hc-vc br-s">
    <div class="vertical_splitter br-s" :style="verticalColor()" />
    <img :src="aryUserImg.items[userInfo.name]" class="ic_size_54 m-l-15" />
    <span class="percent_box">{{ userInfo.percent }}%</span>
    <div class="flex-space-between-vc h-full">
      <div class="flex-col-hc-vt m-r-20">
        <span class="fc-white bold fs14">{{ userInfo.itemTitle }}</span>
        <div class="fs13">
          <span class="fc-dark-cyan">{{ userInfo.itemCount }} </span>
          <span class="fc-light-grey">items worth</span>
        </div>
      </div>
      <toll-box :large-icon="false" :purple="false" :bet="userInfo.betValue" />
    </div>
  </div>
</template>

<script>
import TollBox from '@/components/pc/games/TollBox.vue'

import aryUserImg from '@/assets/imgs/users.js'

export default {
  name: 'UserListItem',
  components: {
    TollBox
  },
  props: {
    userInfo: {
      type: Object,
      default() {
        return {
          name: '',
          clrIndex: 0,
          percent: 0,
          itemTitle: '',
          itemCount: 0,
          betValue: 0
        }
      }
    }
  },
  data() {
    return {}
  },
  computed: {
    aryUserImg() {
      return aryUserImg
    }
  },
  created() {},
  methods: {
    verticalColor() {
      const aryClr = ['51dcdc', 'fbc139', 'a7fb57', '2ca6f9', 'ffa07d']

      return 'background: #' + aryClr[this.userInfo.clrIndex] + ';'
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.vertical_splitter {
  height: 100%;
  min-width: 8px;
}

.user_item_box {
  height: 80px;
  margin-top: 8px;
  margin-bottom: 8px;
  background: $clrContainerBack;
  padding-right: 15px;
}

:first-child.user_item_box {
  margin-top: 0px;
}

:last-child.user_item_box {
  margin-bottom: 0px;
}

.ic_size_54 {
  min-width: 54px;
  min-height: 54px;
  max-width: 54px;
  max-height: 54px;
  border-radius: 50%;
}

.percent_box {
  font-size: 17px;
  font-weight: bold;
  color: $gamedarkcyan;
  min-width: 85px;
  padding-left: 15px;
}
</style>
