<template>
  <div class="flex-col-hc-vc weapon-container br-ss" :class="classObj">
    <div class="top-center-line"></div>
    <div class="h-full m-t-5 m-r-10">
      <svg-icon icon-class="cart" class="cart-icon m-r-5" />
    </div>
    <div class="flex-col-hc-vc fc-white m-l-25 m-r-25">
      <img :src="weaponImage" class="weapon-icon" />
      <div class="fs13 fw500 m-t-10">{{ weaponName }}</div>
      <div class="fs16 fc-mid-yellow fw700 m-t-3 m-b-10">${{ dollars }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'WinningWeaponBox',
  props: {
    isActive: {
      type: Boolean,
      default: false
    },
    weaponName: {
      type: String,
      default: 'MA-45'
    },
    dollars: {
      type: Number,
      default: 17.84
    }
  },
  data() {
    return {
      weaponImage: '/imgs/jackpot/weapon.png'
    }
  },
  computed: {
    classObj: {
      get() {
        return {
          'is-active': this.isActive
        }
      }
    }
  },
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.weapon-container {
  background-color: $darkgrey;
  border: 1px solid $darkgrey;
}

.is-active {
  border: 1px solid $lightyellow;
}

.weapon-icon {
  width: 48px;
}

.cart-icon {
  width: 13px;
  height: 12px;
  float: right;
}

.top-center-line {
  width: 32px;
  height: 3px;
  background-color: $lightred;
  margin-top: -1px;
}
</style>
