<template>
  <div>
    <main-content>
      <div
        slot="content"
        style="width: 1330px; height: 1200px; background: green;"
      >
        <h5>No page</h5>
      </div>
    </main-content>
    <div class="rightsidebar v-full"></div>
  </div>
</template>

<script>
import MainContent from '@/components/pc/layout/MainContent'
export default {
  name: 'Error',
  components: {
    MainContent
  },
  data() {
    return {}
  },
  computed: {},
  methods: {}
}
</script>
<style lang="scss" scoped></style>
