<template>
  <div>
    <main-content>
      <div slot="content">
        <div class="boat-container">
          <shadow-box
            :has-content-box="false"
            :is-lightgray-back="false"
            :is-dark-container="true"
            :has-shadow="false"
            class="boat_contents_box"
          >
            <div slot="shadow-box-content" class="flex-col-hl-vt">
              <div class="flex-row-hc-vc m-l-20 m-t-15 m-b-15">
                <svg-icon icon-class="game_boat" class="ic-top-boat m-r-25" />
                <div class="fc-light-grey fs22 fw600">Boat Game</div>
              </div>
              <div class="flex-row-hl-vt raking-boats-container h-full">
                <div class="flex-col-hl-vc">
                  <div
                    class="text-nowrap latest-results-box flex-row-hc-vc h-full v-full"
                  >
                    <span class="p-l-25 p-r-25">Latest Results</span>
                  </div>
                  <div
                    class="fc-f-light-purple text-nowrap number-box flex-row-hc-vc h-full v-full"
                  >
                    <span class="p-l-25 p-r-25">No.20200329715</span>
                  </div>
                </div>
                <div
                  class="flex-space-between flex1 flex-wrap ranking-boats-box"
                >
                  <ranking-boat-box
                    v-for="(item, i) in aryRanking"
                    :key="i"
                    :index="i"
                    :boat-number="item"
                  />
                </div>
              </div>
            </div>
          </shadow-box>
          <shadow-box
            :has-content-box="false"
            :is-lightgray-back="false"
            :is-dark-container="false"
            :has-shadow="false"
            class="boat_contents_box  m-t-30"
          >
            <div
              slot="shadow-box-content"
              class="flex-space-between-vc fs20 fc-white fw500 pd-10-25"
            >
              <div class="fw600">SELECT BET OPTIONS</div>
              <div
                class="icon_button"
                :class="betOption === 0 ? 'active' : ''"
                @click="onBetOptionChanged(0)"
              >
                Place
              </div>
              <div
                class="icon_button"
                :class="betOption === 1 ? 'active' : ''"
                @click="onBetOptionChanged(1)"
              >
                Sum
              </div>
              <div
                class="icon_button"
                :class="betOption === 2 ? 'active' : ''"
                @click="onBetOptionChanged(2)"
              >
                Pick
              </div>
              <div
                class="icon_button"
                :class="betOption === 3 ? 'active' : ''"
                @click="onBetOptionChanged(3)"
              >
                Extra
              </div>
              <div class="purple_btn flex-row-hc-vc">
                <div class="ic_size_60 border_right flex-row-hc-vc">
                  <svg-icon icon-class="icon_information" class="ic_size_24" />
                </div>
                <div class="text-center pd-10-25">
                  <span class="mg-5">How to play?</span>
                </div>
              </div>
            </div>
          </shadow-box>
          <shadow-box
            id="pick_container"
            :has-content-box="false"
            :is-lightgray-back="false"
            :is-dark-container="true"
            :has-shadow="false"
            class="m-t-30"
          >
            <div slot="shadow-box-content" class="flex-col-hc-vc">
              <div v-if="betOption === 0" class="flex-col-hc-vc h-full">
                <place-match-item
                  v-for="i in 10"
                  :key="i"
                  :index="i"
                  :match-info="boatsGameInfo"
                />
              </div>
              <div v-if="betOption === 1" class="flex-col-hc-vc h-full">
                <sum-match-box />
              </div>
              <div v-if="betOption === 2" class="flex-col-hc-vc m-b-40 h-full">
                <pick-front-box
                  :count="2"
                  :ary-fronts="aryFront2Boats"
                  :ary-score="aryScore2"
                />
                <pick-front-box
                  :count="3"
                  :ary-fronts="aryFront3Boats"
                  :ary-score="aryScore3"
                  class="m-t-40"
                />
                <pick-front-box
                  :count="4"
                  :ary-fronts="aryFront4Boats"
                  :ary-score="aryScore4"
                  class="m-t-40"
                />
              </div>
              <div v-if="betOption === 3" class="flex-col-hc-vc h-full">
                <two-sides-box />
                <dragon-tiger-box class="m-t-60" />
              </div>
              <total-bet-box />
            </div>
          </shadow-box>
          <app-footer class="footer" />
        </div>
      </div>
    </main-content>
  </div>
</template>

<script>
import MainContent from '@/components/pc/layout/MainContent'
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import RankingBoatBox from '@/components/pc/games/boat_racing/RankingBoatBox.vue'
import PlaceMatchItem from '@/components/pc/games/boat_racing/PlaceMatchItem.vue'
import SumMatchBox from '@/components/pc/games/boat_racing/SumMatchBox.vue'
import PickFrontBox from '@/components/pc/games/boat_racing/PickFrontBox.vue'
import TotalBetBox from '@/components/pc/games/boat_racing/TotalBetBox.vue'
import TwoSidesBox from '@/components/pc/games/boat_racing/TwoSidesBox.vue'
import DragonTigerBox from '@/components/pc/games/boat_racing/DragonTigerBox.vue'
import AppFooter from '@/components/pc/layout/Footer'

export default {
  name: 'Roulette',
  components: {
    MainContent,
    ShadowBox,
    RankingBoatBox,
    PlaceMatchItem,
    SumMatchBox,
    PickFrontBox,
    TotalBetBox,
    TwoSidesBox,
    DragonTigerBox,
    AppFooter
  },
  data() {
    return {
      aryRanking: [10, 1, 2, 3, 4, 5, 6, 7, 8, 9],
      aryFront2Boats: [
        [10, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        [10, 1, 2, 3, 4, 5, 6, 7, 8, 9]
      ],
      aryFront3Boats: [
        [10, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        [10, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        [10, 1, 2, 3, 4, 5, 6, 7, 8, 9]
      ],
      aryFront4Boats: [
        [10, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        [10, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        [10, 1, 2, 3, 4, 5, 6, 7, 8, 9],
        [10, 1, 2, 3, 4, 5, 6, 7, 8, 9]
      ],
      aryScore2: [
        {
          ranking: 2,
          value: 49
        },
        {
          ranking: 1,
          value: 2
        }
      ],
      aryScore3: [
        {
          ranking: 3,
          value: 175
        },
        {
          ranking: 2,
          value: 20
        }
      ],
      aryScore4: [
        {
          ranking: 4,
          value: 400
        },
        {
          ranking: 3,
          value: 55
        },
        {
          ranking: 2,
          value: 10
        }
      ],
      boatsGameInfo: {
        ranking: [7, 6, 8, 1, 9, 4, 10, 3, 5, 2],
        betting: [9.8, 9.8, 9.8, 9.8, 9.8, 9.8, 9.8, 9.8, 9.8, 9.8]
      },
      betOption: 0
    }
  },
  computed: {},
  methods: {
    onBetOptionChanged(nOption) {
      this.betOption = nOption
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.boat_contents_box {
  border: 1px solid $normalBorderColor;
}

.boat-container {
  padding: 25px 20px 0px 25px;
  // min-width: 1170px;
  .footer {
    margin-top: 50px;
  }
}

.ic-top-boat {
  width: 28px;
  height: 29px;
}

.latest-results-box {
  background-color: $clrContainerBack;
  border-right: 1px solid $clrContainerBack;
}

.number-box {
  background-color: $darkgrey;
  border-bottom-left-radius: 10px;
}

.raking-boats-container {
  border-top: 1px solid $clrContainerBack;
  align-items: stretch;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.ranking-boats-box {
  border-left: 1px solid $clrContainerBack;
}

.icon_button {
  display: inline-block;
  padding: 15px 60px;
  cursor: pointer;
  border-radius: 10px;
  background: $clrContainerBack;
  margin: 5px;
}

.icon_button:hover {
  background: $clrDarkContainerBack;
}

.icon_button.active {
  background: $mlightpurple;
}

.ic_size_60 {
  width: 60px;
  height: 60px;
}

.ic_size_24 {
  width: 24px;
  height: 24px;
}

.purple_btn {
  background: $purpleboat;
  cursor: pointer;
  border-radius: 10px;
}

.purple_btn:hover {
  background: $purple;
}

.border_right {
  border-right: 1px solid $mlightpurple;
}
</style>
