<template>
  <div>
    <main-content>
      <div slot="content">
        <div class="score-container">
          <shadow-box
            :has-content-box="false"
            :is-lightgray-back="false"
            :is-dark-container="true"
            :has-shadow="false"
            class="score_contents_box"
          >
            <div slot="shadow-box-content">
              <div class="score_title flex-space-between-vc flex-wrap">
                <div class="flex-row-hl-vc p-r-20 m-t-10">
                  <span class="p-r-20">Select Game mode</span>
                  <selection-bar
                    :ary-btn-info="aryGameMode"
                    :has-border="true"
                    class-obj="p-l-25 p-r-25"
                    @onClick="doGameMode"
                  />
                </div>
                <div class="flex-row-hl-vc p-r-20 m-t-10">
                  <span class="p-r-20">Latest Games</span>
                  <selection-bar
                    :ary-btn-info="cashHistory"
                    :is-large-padding="false"
                    :is-bold="false"
                    :is-distributed="true"
                    class-obj="p-l-15 p-r-15"
                    @onClick="doLatestGames"
                  />
                </div>
                <div class="flex-row-hl-vc m-t-10">
                  <div class="icon_button pointer br-s m-r-10">
                    <svg-icon icon-class="volumn" class="ic_size_20" />
                  </div>
                  <div class="icon_button pointer br-s">
                    <svg-icon icon-class="refresh" class="ic_size_20" />
                  </div>
                </div>
              </div>
              <b-row class="p-l-20 p-r-20 p-b-20 p-t-20">
                <b-col md="9" lg="9" xl="9" class="flex-col-hl-vt">
                  <score-graph class="h-full score-graph" />
                  <div class="h-full betting-box">
                    <bet-score-box
                      class="m-t-20"
                      :bet-btn-text="titleBetBtn"
                      :bet-status="btnStatus"
                      :overlay-visible="isWaitResponse && !isAutoBetting"
                      @bet-value-changed="changeBet"
                      @auto-cashout-changed="changeAutoCashout"
                      @action-bet="clickBet"
                      @onSelectMode="doBetMode"
                    />
                    <win-loss-bet-score-box
                      v-if="isAutoBettingTemp"
                      @changeAuto="changeAuto"
                      @stopAutoBetting="stopAutoBetting"
                      @continueAutoBetting="startAutoBetting"
                    />
                  </div>
                </b-col>
                <b-col md="3" lg="3" xl="3" class="flex-col-hl-vt v-full">
                  <score-user-list
                    class="h-full in-game-user-list"
                    :ary-user-list="users_bet"
                    :is-game="true"
                  />
                  <score-user-list
                    class="h-full m-t-20 cashout-game-user-list"
                    :ary-user-list="users_cashout"
                    :is-game="false"
                  />
                </b-col>
              </b-row>
              <!-- <b-row class="p-l-20 p-r-20 m-b-20">
                <b-col md="9" lg="9" xl="9" class="p-r-15 p-b-20">
                  <score-graph class="v-full" />
                </b-col>
                <b-col md="3" lg="3" xl="3" class="p-l-15 p-b-20">
                  <score-user-list
                    :ary-user-list="users_bet"
                    :is-game="true"
                    :height-value="480"
                  />
                </b-col>
              </b-row>
              <b-row class="p-l-20 p-r-20 m-b-20">
                <b-col md="9" lg="9" xl="9" class="p-r-15 p-b-20">
                  <bet-score-box
                    :bet-amount="betInput"
                    @bet-value-changed="betValueChanged"
                    @max-bet-value="getAvailableBet"
                    @action-bet="doActionBet"
                    @onSelectMode="doBetMode"
                  />
                  <win-loss-bet-score-box
                    ref="autoBet"
                    @selcetOnWin="doOnWinMode"
                    @selcetOnLoss="doOnLossMode"
                  />
                </b-col>
                <b-col md="3" lg="3" xl="3" class="p-l-15 p-b-20">
                  <score-user-list
                    :ary-user-list="users_bet"
                    :is-game="false"
                    :height-value="410"
                  />
                </b-col>
              </b-row> -->
            </div>
          </shadow-box>
          <app-footer class="footer" />
        </div>
      </div>
    </main-content>
  </div>
</template>

<script>
import MainContent from '@/components/pc/layout/MainContent'
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import SelectionBar from '@/components/pc/games/crash/SelectionBar.vue'
import ScoreGraph from '@/components/pc/games/crash/ScoreGraph.vue'
import ScoreUserList from '@/components/pc/games/crash/ScoreUserList.vue'
import AppFooter from '@/components/pc/layout/Footer'
import BetScoreBox from '@/components/pc/games/crash/BetScoreBox.vue'
import WinLossBetScoreBox from '@/components/pc/games/crash/WinLossBetScoreBox.vue'

import CrashMixin from '~/mixins/games/crash'
import { toThousandFilter } from '@/utils/index.js'

export default {
  name: 'Crash',
  components: {
    MainContent,
    ShadowBox,
    SelectionBar,
    ScoreGraph,
    ScoreUserList,
    AppFooter,
    BetScoreBox,
    WinLossBetScoreBox
  },
  mixins: [CrashMixin],
  data() {
    return {
      gameId: 0,

      betAmount: 0,
      betTemp: 1000,
      isBet: false,
      isPreBet: false,
      isCashOut: false,
      btnStatus: 'bet',
      isWaitResponse: false,
      tick: 0,
      timeStamp: 0,
      state: 'WAITING',
      payOut: '',
      isPayoutCash: false,

      timerHandler: 0,
      interval: 10,
      timeLeft: 5000,

      titleBetBtn: 'Bet',

      isUserListShow: true,

      isAutoBetting: false,
      isAutoBettingTemp: false,
      autoData: {},
      autoDataTemp: {},
      sessionProfit: 0,

      users_bet: [],
      users_cashout: [],
      chats: [],
      histories: [],
      cashHistory: [],

      aryGameMode: [
        {
          label: 'Standard',
          icon: 'icon_spaceship',
          isActive: true
        },
        {
          label: 'Lite',
          icon: 'icon_fire',
          isActive: false
        }
      ]
    }
  },
  computed: {
    userId() {
      const id = this.$store.getters['user/getId']
      return id !== undefined && id !== '' ? id : 0
    },
    storeSessionProfit() {
      const session = this.$store.getters['betting/getSessionProfit']
      return session !== undefined && session !== '' ? session : 0
    },
    storeIsAutoTemp() {
      const session = this.$store.getters['betting/getIsAutoTemp']
      return session !== undefined && session !== '' ? session : false
    },
    storeIsAuto() {
      const session = this.$store.getters['betting/getIsAuto']
      return session !== undefined && session !== '' ? session : false
    },
    storeBet() {
      const bet = this.$store.getters['betting/getBet']
      return bet !== undefined && bet !== '' ? bet : '1000'
    },
    storeBetTemp() {
      const bet = this.$store.getters['betting/getBetTemp']
      return bet !== undefined && bet !== '' ? bet : '1000'
    },
    storePayout() {
      const payout = this.$store.getters['betting/getPayout']
      return payout !== undefined && payout !== '' ? payout : '0'
    },
    storeBetGameId() {
      const betid = this.$store.getters['betting/getBetGameId']
      return betid !== undefined && betid !== '' ? betid : 0
    },
    getCurGameId() {
      const curid = this.$store.getters['betting/getCurGameId']
      return curid !== undefined && curid !== '' ? curid : 0
    }
  },
  watch: {
    storeSessionProfit: {
      handler(val, oldVal) {
        this.sessionProfit = val !== undefined && val !== '' ? val : 0
      },
      immediate: true
    },
    storeIsAutoTemp: {
      handler(val, oldVal) {
        this.isAutoBettingTemp = val !== undefined && val !== '' ? val : false
      },
      immediate: true
    },
    storeIsAuto: {
      handler(val, oldVal) {
        this.isAutoBetting = val !== undefined && val !== '' ? val : false
      },
      immediate: true
    },
    storeBet: {
      handler(val, oldVal) {
        this.betAmount = val !== undefined ? val : '1000'
      },
      immediate: true
    },
    storeBetTemp: {
      handler(val, oldVal) {
        this.betTemp = val !== undefined ? val : '1000'
      },
      immediate: true
    },
    storePayout: {
      handler(val, oldVal) {
        this.payOut = val !== undefined ? val : ''
      },
      immediate: true
    },
    getCurGameId: {
      handler(val, oldVal) {
        this.gameId = val !== undefined ? val : 0
      },
      immediate: true
    }
  },
  mounted() {
    const self = this
    this.betTemp = this.storeBetTemp
    this.bet = this.storeBet

    this.$bus.$on('on-register-success', function() {
      self.$bvToast.toast('Register user success.', {
        title: 'Tarobet',
        variant: 'success',
        autoHideDelay: 5000,
        appendToast: true
      })
    })

    this.$bus.$on('on-change-login', function(param) {
      self.__resizeHandler()
      if (param.isLogIn) {
        self.$bvToast.toast('Log in success.', {
          title: 'Tarobet',
          variant: 'success',
          autoHideDelay: 5000,
          appendToast: true
        })
      } else {
        self.$store.dispatch('betting/clearBettingFlagInfo')
        self.stopAutoBetting()
      }
    })

    window.addEventListener('resize', this.__resizeHandler)
    this.__resizeHandler()
  },
  methods: {
    __resizeHandler() {
      this.emitBus('resize', {})
    },
    changeBet(inputValue) {
      this.$store.dispatch('betting/setBetTemp', inputValue)
    },
    changeAutoCashout(inputValue) {
      this.$store.dispatch('betting/setPayout', inputValue)
    },
    clickBet() {
      if (this.isAutoBetting) {
        this.$bvToast.toast('Current state is autobetting. ', {
          title: 'Tarobet',
          variant: 'danger',
          autoHideDelay: 5000,
          appendToast: true
        })
        return
      }

      if (
        this.wallet < this.betTemp &&
        (this.btnStatus === 'bet' || this.btnStatus === 'prevbet')
      ) {
        this.$bvToast.toast('Your wallet is not enough to bet. ', {
          title: 'Tarobet',
          variant: 'danger',
          autoHideDelay: 5000,
          appendToast: true
        })
        return
      }

      if (this.btnStatus === 'bet') {
        if (this.betTemp > 0) {
          this.betAmount = this.betTemp
          this.doBet()
        }
      } else if (this.btnStatus === 'prevbet') {
        if (this.betTemp > 0) {
          this.isPreBet = true
        }
      } else if (this.btnStatus === 'cancel') {
        this.isPreBet = false
      } else if (this.btnStatus === 'cashout') {
        this.doCashOut()
      } else if (this.btnStatus === 'betting') {
      } else {
      }

      this.updateBtn()
    },
    emitBus(key, data) {
      this.$bus.$emit(key, data)
    },
    doTick(valTick) {
      if (this.state !== 'STARTED') {
        this.startGame({ tick: valTick })
      } else {
        this.tick = valTick
        this.emitBus('do-tick', { tick: valTick })
      }
    },
    updateBtn() {
      if (!this.isAutoBetting) {
        if (this.isBet) {
          if (this.state === 'WAITING') {
            this.titleBetBtn = 'Betting...'
            this.btnStatus = 'betting'
          } else if (this.state === 'STARTED') {
            if (this.isCashOut) {
              if (this.isAutoBettingTemp) {
                this.btnStatus = 'disabled'
                this.titleBetBtn = 'Bet'
                this.isPreBet = false
              } else if (this.isPreBet) {
                this.btnStatus = 'cancel'
                this.titleBetBtn = 'Cancel'
              } else {
                this.btnStatus = 'prevbet'
                this.titleBetBtn = 'Bet'
              }
            } else if (!this.isWaitResponse) {
              this.btnStatus = 'cashout'
              this.titleBetBtn =
                'CashOut @' +
                toThousandFilter(parseInt((this.tick * this.betAmount) / 100))
            }
          } else if (this.state === 'CRASHED') {
            if (this.isPreBet) {
              this.btnStatus = 'cancel'
              this.titleBetBtn = 'Cancel'
            } else {
              this.btnStatus = 'prevbet'
              this.titleBetBtn = 'Bet'
            }
          }
        } else if (this.state === 'STARTED' || this.state === 'CRASHED') {
          if (this.isAutoBettingTemp) {
            this.btnStatus = 'disabled'
            this.titleBetBtn = 'Bet'
            this.isPreBet = false
          } else if (this.isPreBet) {
            this.btnStatus = 'cancel'
            this.titleBetBtn = 'Cancel'
          } else {
            this.btnStatus = 'prevbet'
            this.titleBetBtn = 'Bet'
          }
        } else if (this.state === 'WAITING') {
          if (this.isAutoBettingTemp) this.btnStatus = 'disabled'
          else this.btnStatus = 'bet'
          this.titleBetBtn = 'Bet'
        }
      } else {
        if (this.isAutoBettingTemp) this.btnStatus = 'disabled'
        else this.btnStatus = 'bet'
        this.titleBetBtn = 'Bet'
      }
    },
    changeAuto(autoData) {
      this.autoDataTemp = autoData
      this.$store.dispatch('betting/setBaseBet', autoData.basebet)
      this.$store.dispatch('betting/setAutoBet', autoData.bet)
      this.$store.dispatch('betting/setCashOut', autoData.cash)
      this.$store.dispatch('betting/setStopIf', autoData.stop)
      this.$store.dispatch('betting/setOnWinCond', autoData.isWin)
      this.$store.dispatch('betting/setOnWinValue', autoData.win)
      this.$store.dispatch('betting/setOnLossCond', autoData.isLoss)
      this.$store.dispatch('betting/setOnLossValue', autoData.loss)
    },
    stopAutoBetting() {
      this.isAutoBettingTemp = false
      this.$store.dispatch('betting/clearSessionProfit')
      this.autoDataTemp.bet = this.autoDataTemp.basebet
      this.$store.dispatch('betting/setAutoBet', this.autoDataTemp.bet)
      this.updateBtn()
    },
    startAutoBetting() {
      this.isAutoBettingTemp = true
      this.$store.dispatch('betting/setIsAutoTemp', this.isAutoBettingTemp)
      this.updateBtn()
    },
    doGameMode(index) {
      for (let i = 0; i < this.aryGameMode.length; i++) {
        if (index === i) this.aryGameMode[i].isActive = true
        else this.aryGameMode[i].isActive = false
      }
    },
    doLatestGames(index) {
      for (let i = 0; i < this.cashHistory.length; i++) {
        if (index === i) this.cashHistory[i].isActive = true
        else this.cashHistory[i].isActive = false
      }
    },
    doBetMode(index) {
      if (index === 0) this.stopAutoBetting()
      else this.startAutoBetting()
    },
    getAvailableBet() {
      return 0
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.score_contents_box {
  border: 1px solid $normalBorderColor;
}

.score-container {
  padding: 25px 20px 0px 25px;
  // min-width: 1170px;
  .footer {
    margin-top: 50px;
  }
}

.score_title {
  padding: 10px 20px 20px 20px;
  color: $lightgrey;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid $mainBgColor;
}

.icon_button {
  padding: 10px 13px;
  background: $dark_back;
}

.icon_button:hover {
  background: $ldarkblack;
}

.ic_size_20 {
  width: 20px;
  height: 20px;
}

.score-graph {
  flex: 1;
  @media (max-height: $crashContentVisibleHeight) {
    flex: 0.3;
  }
  @media (max-height: calc(#{$crashContentVisibleHeight} - 200px)) {
    flex: 0;
  }
}
.betting-box {
  flex: 0;
  @media (max-height: $crashContentVisibleHeight) {
    flex: 0.7;
  }
  @media (max-height: calc(#{$crashContentVisibleHeight} - 200px)) {
    flex: 1;
  }
}
.in-game-user-list,
.cashout-game-user-list {
  min-height: $crashUserListMinHeight;
  max-height: $crashUserListMaxHeight;
  height: $crashUserListMaxHeight;
  @media (max-height: calc(#{$crashContentVisibleHeight} + 200px)) {
    height: calc(#{$crashUserListMinHeight} + 100px);
  }
  @media (max-height: $crashContentVisibleHeight) {
    height: $crashUserListMinHeight;
  }
}
</style>
