<template>
  <div>
    <main-content>
      <div slot="content" style="height: 1330px; background: green;"></div>
    </main-content>
    <div class="rightsidebar v-full no-scrollbar">
      <button @click="test">test</button>
      <svg-icon icon-class="chart" />
    </div>
  </div>
</template>

<script>
import MainContent from '@/components/pc/layout/MainContent'
export default {
  name: 'GamesIndex',
  components: {
    MainContent
  },
  data() {
    return {}
  },
  computed: {},
  methods: {
    test() {
      this.$emit('hideRightSidebar')
      const self = this
      setTimeout(function() {
        self.$emit('hideRightSidebar')
      }, 1000)
    }
  }
}
</script>
<style lang="scss" scoped></style>
