<template>
  <div>
    <main-content>
      <div slot="content">
        <div class="jackpot-container">
          <div class="flex-space-between">
            <craft-box
              v-for="(item, i) in aryCraftInfo"
              :key="i"
              :bet-value="item"
            />
          </div>
          <shadow-box
            :has-content-box="false"
            :is-lightgray-back="false"
            :is-dark-container="true"
            :has-shadow="false"
            class="mg-0 m-t-20 p-b-40 p-l-25 p-r-25 p-t-20"
          >
            <div slot="shadow-box-content">
              <div class="h-full flex-row-hl-vc">
                <svg-icon icon-class="user_count" class="ic_size_25" />
                <span class="fc-light-grey p-l-20 fs15 fw500">
                  Current Payers
                </span>
              </div>
              <div class="flex-row-hc-vc main_jackpot_box">
                <div class="responsive_box">
                  <user-list-box
                    :ary-user-info="aryUserInfo"
                    class="m-t-20 h-full"
                  />
                </div>
                <div class="responsive_box">
                  <jackpot-round :user-id="68275130" class="m-t-20" />
                </div>
                <div class="responsive_box">
                  <div class="m-t-20 h-full">
                    <user-info-box :user-info="aryUserInfo[0]" class="m-b-15" />
                    <deposite-info-box :user-info="aryUserInfo[0]" />
                  </div>
                </div>
              </div>
              <div class="fs22 fw400 fc-white m-t-50 m-b-20">Game History</div>
              <history-info-box class="m-b-10" />
              <div class="flex-space-between flex-wrap m-l--8 m-r--8">
                <history-user-box
                  v-for="(item, i) in aryUserInfo"
                  :key="i"
                  :index="i"
                  :user-name="item.name"
                  :win-ratio="item.percent"
                  :dollars="item.dollar"
                  class="mg-8"
                />
              </div>
              <shadow-box
                :has-content-box="true"
                :has-shadow="false"
                class="m-t-50 m-b-20"
              >
                <div slot="shadow-box-content" class="flex-col-hl-vt">
                  <div class="fs19 fw500 fc-light-grey mg-8">
                    Winnings without commission:
                  </div>
                  <div class="flex-space-between-vc h-full">
                    <winning-weapon-box
                      v-for="i in 9"
                      :key="i"
                      :weapon-name="aryWinningWeapon[i - 1]['name']"
                      :dollars="aryWinningWeapon[i - 1]['value']"
                      :is-active="aryWinningWeapon[i - 1]['active']"
                      class="mg-8"
                    />
                  </div>
                  <div class="flex-space-between-vc h-full">
                    <winning-weapon-box
                      v-for="i in 9"
                      :key="i"
                      :weapon-name="aryWinningWeapon[i + 8]['name']"
                      :dollars="aryWinningWeapon[i + 8]['value']"
                      :is-active="aryWinningWeapon[i + 8]['active']"
                      class="mg-8"
                    />
                  </div>
                </div>
              </shadow-box>
              <div class="fs22 fw400 fc-white m-t-50 m-b-20">Game History</div>
              <history-info-box class="m-b-10" />
              <div class="flex-space-between flex-wrap m-l--8 m-r--8">
                <history-user-box
                  v-for="(item, i) in aryUserInfo"
                  :key="i"
                  :index="i"
                  :user-name="item.name"
                  :win-ratio="item.percent"
                  :dollars="item.dollar"
                  class="mg-8"
                />
              </div>
              <shadow-box
                :has-content-box="true"
                :has-shadow="false"
                class="m-t-50 m-b-20"
              >
                <div slot="shadow-box-content" class="flex-col-hl-vt">
                  <div class="fs19 fw500 fc-light-grey mg-8">
                    Winnings without commission:
                  </div>
                  <div class="flex-space-between-vc h-full">
                    <winning-weapon-box
                      v-for="i in 9"
                      :key="i"
                      :weapon-name="aryWinningWeapon[i - 1]['name']"
                      :dollars="aryWinningWeapon[i - 1]['value']"
                      :is-active="aryWinningWeapon[i - 1]['active']"
                      class="mg-8"
                    />
                  </div>
                  <div class="flex-space-between-vc h-full">
                    <winning-weapon-box
                      v-for="i in 9"
                      :key="i"
                      :weapon-name="aryWinningWeapon[i + 8]['name']"
                      :dollars="aryWinningWeapon[i + 8]['value']"
                      :is-active="aryWinningWeapon[i + 8]['active']"
                      class="mg-8"
                    />
                  </div>
                </div>
              </shadow-box>
            </div>
          </shadow-box>
          <app-footer class="footer" />
        </div>
      </div>
    </main-content>
  </div>
</template>

<script>
import MainContent from '@/components/pc/layout/MainContent'
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import CraftBox from '@/components/pc/games/jackpot/CraftBox.vue'
import UserListBox from '@/components/pc/games/jackpot/UserListBox.vue'
import JackpotRound from '@/components/pc/games/jackpot/JackpotRound.vue'
import UserInfoBox from '@/components/pc/games/jackpot/UserInfoBox.vue'
import DepositeInfoBox from '@/components/pc/games/jackpot/DepositeInfoBox.vue'
import WinningWeaponBox from '@/components/pc/games/jackpot/WinningWeaponBox.vue'
import HistoryUserBox from '@/components/pc/games/jackpot/HistoryUserBox.vue'
import HistoryInfoBox from '@/components/pc/games/jackpot/HistoryInfoBox.vue'
// import OnlinePlayersBox from '@/components/pc/games/OnlinePlayersBox.vue'
// import ChatRoomContainer from '@/components/pc/games/ChatRoomContainer.vue'
// import RouletteCustomInfo from '@/components/pc/games/RouletteCustomInfo.vue'
import AppFooter from '@/components/pc/layout/Footer'
// import TabSelect from '@/components/pc/rightsidebar/TabSelect'
// import RSContainer from '@/components/pc/rightsidebar/Container'

export default {
  name: 'Jackpot',
  components: {
    MainContent,
    ShadowBox,
    CraftBox,
    UserListBox,
    JackpotRound,
    UserInfoBox,
    DepositeInfoBox,
    WinningWeaponBox,
    HistoryUserBox,
    HistoryInfoBox,
    // OnlinePlayersBox,
    // ChatRoomContainer,
    // RouletteCustomInfo,
    AppFooter
    // TabSelect,
    // RSContainer
  },
  data() {
    return {
      aryCraftInfo: [1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000],
      aryUserInfo: [
        {
          name: 'Litte',
          clrIndex: 0,
          percent: 31.7,
          itemTitle: 'Bear',
          itemCount: 5,
          betValue: 1000,
          dollar: 16
        },
        {
          name: 'Andrew',
          clrIndex: 1,
          percent: 31.7,
          itemTitle: 'Bear',
          itemCount: 5,
          betValue: 1000,
          dollar: 16
        },
        {
          name: 'Magaret',
          clrIndex: 2,
          percent: 31.7,
          itemTitle: 'Bear',
          itemCount: 5,
          betValue: 1000,
          dollar: 16
        },
        {
          name: 'Mickey',
          clrIndex: 3,
          percent: 31.7,
          itemTitle: 'Bear',
          itemCount: 5,
          betValue: 1000,
          dollar: 16
        },
        {
          name: 'Lisa',
          clrIndex: 4,
          percent: 31.7,
          itemTitle: 'Bear',
          itemCount: 5,
          betValue: 1000,
          dollar: 16
        },
        {
          name: 'Rudolf',
          clrIndex: 2,
          percent: 31.7,
          itemTitle: 'Bear',
          itemCount: 5,
          betValue: 1000,
          dollar: 16
        },
        {
          name: 'William',
          clrIndex: 1,
          percent: 31.7,
          itemTitle: 'Bear',
          itemCount: 5,
          betValue: 1000,
          dollar: 16
        },
        {
          name: 'Mickey',
          clrIndex: 1,
          percent: 31.7,
          itemTitle: 'Bear',
          itemCount: 5,
          betValue: 1000,
          dollar: 16
        }
      ],
      aryWinningWeapon: [
        {
          id: 0,
          name: 'MA-45',
          value: 17.84,
          active: true
        },
        {
          id: 1,
          name: 'MA-45',
          value: 17.84,
          active: false
        },
        {
          id: 2,
          name: 'MA-45',
          value: 17.84,
          active: false
        },
        {
          id: 3,
          name: 'MA-45',
          value: 17.84,
          active: false
        },
        {
          id: 4,
          name: 'MA-45',
          value: 17.84,
          active: false
        },
        {
          id: 5,
          name: 'MA-45',
          value: 17.84,
          active: false
        },
        {
          id: 6,
          name: 'MA-45',
          value: 17.84,
          active: false
        },
        {
          id: 7,
          name: 'MA-45',
          value: 17.84,
          active: false
        },
        {
          id: 8,
          name: 'MA-45',
          value: 17.84,
          active: false
        },
        {
          id: 9,
          name: 'MA-45',
          value: 17.84,
          active: false
        },
        {
          id: 10,
          name: 'MA-45',
          value: 17.84,
          active: false
        },
        {
          id: 11,
          name: 'MA-45',
          value: 17.84,
          active: false
        },
        {
          id: 12,
          name: 'MA-45',
          value: 17.84,
          active: false
        },
        {
          id: 13,
          name: 'MA-45',
          value: 17.84,
          active: false
        },
        {
          id: 14,
          name: 'MA-45',
          value: 17.84,
          active: false
        },
        {
          id: 15,
          name: 'MA-45',
          value: 17.84,
          active: false
        },
        {
          id: 16,
          name: 'MA-45',
          value: 17.84,
          active: false
        },
        {
          id: 17,
          name: 'MA-45',
          value: 17.84,
          active: false
        }
      ],
      rightSidebarTabs: [
        {
          title_link_class: 'title_link_class promo',
          title: 'Chat',
          key: 0,
          active: false
        },
        {
          title_link_class: 'title_link_class promo',
          title: 'Score',
          key: 1,
          active: false
        },
        {
          title_link_class: 'title_link_class promo',
          title: 'Events',
          key: 2,
          active: false
        }
      ]
    }
  },
  computed: {},
  methods: {
    rsTabSelected(tab) {
      for (let i = 0; i < this.rightSidebarTabs.length; i++) {
        if (this.rightSidebarTabs[i].key === tab.key) {
          this.rightSidebarTabs[i].active = true
          break
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.jackpot-container {
  padding: 25px 20px 0px 20px;
  // min-width: 1170px;
  .footer {
    margin-top: 50px;
  }
}

.ic_size_25 {
  width: 25px;
  height: 25px;
}

.main_jackpot_box {
  width: 100%;
}

.responsive_box {
  flex: 0 0 33%;
  max-width: 33%;
  // flex: 0 0 66%;
  // max-width: 66%;
  // padding: 0px 10px;
}

// @media (min-width: 1200px) {
//   .responsive_box {
//     flex: 0 0 50%;
//     max-width: 50%;
//   }
// }

// @media (min-width: 1680px) {
//   .responsive_box {
//     flex: 0 0 33%;
//     max-width: 33%;
//   }
// }
</style>
