<template>
  <div>
    <main-content>
      <div slot="content">
        <div class="ladder-container">
          <betting-succeeded class="m-b-35" />
          <shadow-box
            :has-content-box="false"
            :is-lightgray-back="false"
            :is-dark-container="true"
            :has-shadow="false"
            class="mg-0 p-b-40"
          >
            <div slot="shadow-box-content">
              <div id="box_container" class="flex-space-around-vc flex-wrap">
                <current-players-box :ary-user-info="aryCurrentPlayers" />
                <ladder-status-box />
                <results-box :ary-results="aryCurrentPlayers" />
              </div>
              <div class="h-full p-l-30 p-r-30">
                <shadow-box
                  :has-content-box="false"
                  :has-shadow="false"
                  class="pd-10 m-t-30"
                >
                  <div slot="shadow-box-content">
                    <div class="flex-space-between-vc flex-wrap h-full">
                      <ladder-goal-box class="flex4" />
                      <div class="flex-col-hl-vc p-l-10 flex2 m-t-10 m-b-10">
                        <span class="fs12 h-full fc-light-grey">
                          Enter your Bet amount
                        </span>
                        <div class="flex h-full m-t-15">
                          <div>
                            <input-box-with-clear-btn
                              :var-link="bettingValue"
                              class="mw-100 m-l-5 m-r-5 border_yellow"
                            />
                            <div
                              class="purple_btn flex-space-between-vc mw-100 m-t-15 bold"
                            >
                              <span>Place Bet</span>
                              <span>-></span>
                            </div>
                          </div>
                          <div class="bold">
                            <div
                              class="purple_btn flex-row-hc-vc"
                              @click="onBetting(0)"
                            >
                              +1K
                            </div>
                            <div
                              class="purple_btn flex-row-hc-vc m-t-15"
                              @click="onBetting(3)"
                            >
                              1/2
                            </div>
                          </div>
                          <div class="bold">
                            <div
                              class="purple_btn flex-row-hc-vc"
                              @click="onBetting(1)"
                            >
                              +10K
                            </div>
                            <div
                              class="purple_btn flex-row-hc-vc m-t-15"
                              @click="onBetting(4)"
                            >
                              X2
                            </div>
                          </div>
                          <div class="bold">
                            <div
                              class="purple_btn flex-row-hc-vc"
                              @click="onBetting(2)"
                            >
                              +100K
                            </div>
                            <div
                              class="purple_btn flex-row-hc-vc m-t-15"
                              @click="onBetting(5)"
                            >
                              MAX
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </shadow-box>
              </div>
            </div>
          </shadow-box>
          <app-footer class="footer" />
        </div>
      </div>
    </main-content>
  </div>
</template>

<script>
import MainContent from '@/components/pc/layout/MainContent'
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
// import OnlinePlayersBox from '@/components/pc/games/OnlinePlayersBox.vue'
// import ChatRoomContainer from '@/components/pc/games/ChatRoomContainer.vue'
// import RouletteCustomInfo from '@/components/pc/games/RouletteCustomInfo.vue'
import InputBoxWithClearBtn from '@/components/pc/games/InputBoxWithClearBtn.vue'
import LadderGoalBox from '@/components/pc/games/ladder/LadderGoalBox.vue'
import BettingSucceeded from '@/components/pc/games/ladder/BettingSucceeded.vue'
import CurrentPlayersBox from '@/components/pc/games/ladder/CurrentPlayersBox.vue'
import ResultsBox from '@/components/pc/games/ladder/ResultsBox.vue'
import LadderStatusBox from '@/components/pc/games/ladder/LadderStatusBox.vue'
import AppFooter from '@/components/pc/layout/Footer'
// import TabSelect from '@/components/pc/rightsidebar/TabSelect'
// import RSContainer from '@/components/pc/rightsidebar/Container'

export default {
  name: 'Ladder',
  components: {
    MainContent,
    ShadowBox,
    // OnlinePlayersBox,
    // ChatRoomContainer,
    // RouletteCustomInfo,
    InputBoxWithClearBtn,
    LadderGoalBox,
    BettingSucceeded,
    CurrentPlayersBox,
    ResultsBox,
    LadderStatusBox,
    AppFooter
    // TabSelect,
    // RSContainer
  },
  data() {
    return {
      bettingValue: 1000,
      aryCurrentPlayers: [
        {
          id: 0,
          username: 'Mickey',
          bettingval: 1000,
          ballIcon: 'baseball-03',
          number: 1234001,
          seekValue: 10
        },
        {
          id: 1,
          username: 'Lisa',
          bettingval: 1000,
          ballIcon: 'baseball-04',
          number: 1234002,
          seekValue: 20
        },
        {
          id: 2,
          username: 'Andrew',
          bettingval: 1000,
          ballIcon: 'baseball-03',
          number: 1234003,
          seekValue: 30
        },
        {
          id: 3,
          username: 'Litte',
          bettingval: 1000,
          ballIcon: 'baseball-04',
          number: 1234004,
          seekValue: 40
        },
        {
          id: 4,
          username: 'Mickey',
          bettingval: 1000,
          ballIcon: 'baseball-03',
          number: 1234005,
          seekValue: 50
        },
        {
          id: 5,
          username: 'Magaret',
          bettingval: 1000,
          ballIcon: 'baseball-04',
          number: 1234006,
          seekValue: 60
        },
        {
          id: 6,
          username: 'William',
          bettingval: 1000,
          ballIcon: 'baseball-03',
          number: 1234007,
          seekValue: 70
        },
        {
          id: 7,
          username: 'Rudolf',
          bettingval: 1000,
          ballIcon: 'baseball-04',
          number: 1234008,
          seekValue: 80
        },
        {
          id: 8,
          username: 'Rudolf',
          bettingval: 1000,
          ballIcon: 'baseball-04',
          number: 1234008,
          seekValue: 80
        },
        {
          id: 9,
          username: 'Rudolf',
          bettingval: 1000,
          ballIcon: 'baseball-04',
          number: 1234008,
          seekValue: 80
        },
        {
          id: 10,
          username: 'Rudolf',
          bettingval: 1000,
          ballIcon: 'baseball-04',
          number: 1234008,
          seekValue: 80
        }
      ],
      rightSidebarTabs: [
        {
          title_link_class: 'title_link_class promo',
          title: 'Chat',
          key: 0,
          active: false
        },
        {
          title_link_class: 'title_link_class promo',
          title: 'Score',
          key: 1,
          active: false
        },
        {
          title_link_class: 'title_link_class promo',
          title: 'Events',
          key: 2,
          active: false
        }
      ]
    }
  },
  computed: {},
  methods: {
    rsTabSelected(tab) {
      for (let i = 0; i < this.rightSidebarTabs.length; i++) {
        if (this.rightSidebarTabs[i].key === tab.key) {
          this.rightSidebarTabs[i].active = true
          break
        }
      }
    },
    onBetting(betAmount) {
      if (betAmount === 0) this.bettingValue += 1000
      else if (betAmount === 1) this.bettingValue += 10000
      else if (betAmount === 2) this.bettingValue += 100000
      else if (betAmount === 3) this.bettingValue /= 2
      else if (betAmount === 4) this.bettingValue *= 2
      else if (betAmount === 5) this.bettingValue = 50000000
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.ladder-container {
  padding: 25px 20px 0px 20px;
  // min-width: 1170px;
  .footer {
    margin-top: 50px;
  }
}

.dark_back {
  background-color: $clrDarkContainerBack;
}

.h-40 {
  height: 40px;
}

.mw-100 {
  min-width: 100px;
}

.purple_btn {
  background: $mlightpurple;
  cursor: pointer;
  border-radius: 7px;
  padding: 15px;
  color: white;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  height: 40px;
}

.purple_btn:hover {
  background: $lightpurple;
}

.border_yellow {
  border: 1px solid $brightyellow;
}
</style>
