<template>
  <div>
    <main-content>
      <div slot="content">
        <div class="roulette-container">
          <shadow-box
            :has-content-box="false"
            :is-lightgray-back="false"
            :is-dark-container="true"
            :has-shadow="false"
            class="mg-0 roulette_contents_box"
          >
            <div slot="shadow-box-content">
              <shadow-box
                :has-content-box="false"
                :has-shadow="false"
                class="pos-rel pd-30"
              >
                <div
                  slot="shadow-box-content"
                  class="flex-space-between h-full v-full"
                >
                  <div class="title_side_container">
                    <b-row class="m-t-20 m-b-5 m-l-0 m-r-0">
                      <span class="h-full p-l-55 fs16 fc-light-grey bold"
                        >Game start in</span
                      >
                    </b-row>
                    <b-row class="m-l-0 m-r-0">
                      <div class="flex-row-hl-vc h-full">
                        <svg-icon
                          icon-class="sound"
                          class="m-r-10 ic_size_40"
                        />
                        <time-progress-bar
                          :progress-value="timeRemain"
                          :cur-state="curState"
                        />
                      </div>
                    </b-row>
                  </div>
                  <jackpot-title :pot-value="2183549" />
                  <div class="title_side_container">
                    <b-row class="m-t-20 m-b-5 m-l-0 m-r-0">
                      <span class="h-full fs16 fc-light-grey bold"
                        >Previous Games</span
                      >
                    </b-row>
                    <b-row class="m-l-0 m-r-0">
                      <div class="flex-row-hr-vc h-full">
                        <preview-game-result :preview-res="aryHistory" />
                        <svg-icon
                          icon-class="history"
                          class="ic_size_40 m-l-10"
                        />
                      </div>
                    </b-row>
                  </div>
                </div>
              </shadow-box>
              <shadow-box
                :has-content-box="false"
                :has-shadow="false"
                class="m-t-30 m-b-20 p-t-10 p-b-10 p-l-25 p-r-25"
              >
                <div slot="shadow-box-content">
                  <div class="flex-space-between p-l-10 p-r-5">
                    <div class="flex-row-hc-vc">
                      <svg-icon
                        icon-class="icon_info"
                        class="ic_size_32 m-r-10"
                      />
                      <span class="fs14 fc-light-grey bold">How to</span>
                    </div>
                    <div class="flex-row-hc-vc">
                      <span class="fs14 fc-light-grey bold p-r-5">
                        Last 100
                      </span>
                      <gem-box
                        gem-img="gem_green"
                        class="p-l-20"
                        :value="gameHistory.cntGreen"
                      />
                      <gem-box
                        gem-img="gem_blue"
                        class="p-l-20"
                        :value="gameHistory.cntBlue"
                      />
                      <gem-box
                        gem-img="gem_pink"
                        class="p-l-20"
                        :value="gameHistory.cntPink"
                      />
                    </div>
                  </div>
                  <roulette-bar
                    ref="rouletteBar"
                    class="m-t-15 m-b-10"
                    :offset-pos="roulettePos"
                  />
                </div>
              </shadow-box>
              <shadow-box
                :has-content-box="false"
                :has-shadow="false"
                class="p-l-20 p-r-20"
              >
                <div slot="shadow-box-content" class="flex-space-between-vc">
                  <div class="fs16 fc-light-grey bold">
                    <span>BetAmount</span>
                    <input-box-with-clear-btn :var-link="bettingValue" />
                  </div>
                  <coin-betting-box @on-betting="onBetting" />
                  <div class="flex-row-hl-vc">
                    <button-with-down-arrow
                      ref="betType"
                      lbl-text="GREEN"
                      back-style="green"
                      class="m-r-20"
                      @btn-state-changed="typeChanged"
                    />
                    <button-with-down-arrow
                      ref="betMode"
                      lbl-text="AUTO"
                      back-style="purple"
                      @btn-state-changed="modeChanged"
                    />
                  </div>
                </div>
              </shadow-box>
              <shadow-box
                ref="autoBettingBox"
                :has-content-box="false"
                :has-shadow="false"
                class="p-t-20 m-t-30"
                hidden
              >
                <div slot="shadow-box-content" class="fs16 fc-light-grey bold">
                  <div
                    ref="greenBettingBox"
                    class="flex-wrap flex-row-hl-vc h-full fc-light-grey p-l-20 p-r-20 p-b-20 fs15 fw600"
                    hidden
                  >
                    <!--div class="flex-row-hc-vc fs15 fw600 m-r-20">
                      <divided-box class="m-r-15">
                        <div slot="top-pane" class="pd-8-20">
                          <span>Automatically Bet</span>
                        </div>
                        <div slot="bottom-pane" class="p-l-15">
                          <input-box-with-clear-btn
                            :var-link="autoBettingValue"
                            :is-clear-btn-visible="false"
                          />
                        </div>
                      </divided-box>
                    </div-->
                    <div class="flex-row-hl-vc">
                      <check-box ref="optStopLess">
                        <div slot="checkbox-content">
                          <span class="m-l-5 fs15 fw600">
                            Automatically Bet
                          </span>
                        </div>
                      </check-box>
                      <input-box-with-clear-btn
                        :var-link="autoBettingValue"
                        :is-clear-btn-visible="false"
                        class="m-r-20"
                      />
                    </div>
                    <select class="selector dark_back pd-10 m-r-20 br-sm">
                      <option>Percent of your bet</option>
                      <option>Coin</option>
                    </select>
                    <span class="fs15 fw600 m-t-10 m-b-10">
                      On Green Whenever you place a bet on Red or Blue (Auto or
                      Manual)
                    </span>
                  </div>
                  <div
                    ref="autoBettingSep"
                    class="divider-line grey h-full m-b-20"
                    hidden
                  ></div>
                  <div
                    ref="autoBettingConfigBox"
                    class="p-l-20 p-r-20 p-b-20 flex-col-hc-vt fc-light-grey"
                    hidden
                  >
                    <div class="h-full flex-space-between-vc">
                      <span class="fs17 fw600 fc-white">
                        Autobet Config [ Inactive ]
                      </span>
                      <span class="fs17 fw600 fc-white">
                        Session profit: {{ profitCoin }} coins
                      </span>
                    </div>
                    <div class="h-full flex-wrap flex-row-hl-vc m-t-15">
                      <div class="auto-left-box flex-row-hl-vc">
                        <divided-box class="m-r-15">
                          <div slot="top-pane" class="pd-8-20">
                            <span>Base Bet</span>
                          </div>
                          <div slot="bottom-pane" class="p-l-10 p-r-10">
                            <input-box-with-clear-btn
                              :var-link="autoBaseBettingValue"
                              :is-clear-btn-visible="false"
                            />
                          </div>
                        </divided-box>
                        <div class="flex-row-hc-vc p-t-40">
                          <color-selector class="m-r-15" color-style="blue" />
                          <color-selector class="m-r-15" color-style="green" />
                          <color-selector class="m-r-15" color-style="pink" />
                        </div>
                      </div>
                      <div class="auto-right-box flex-row-hl-vc">
                        <divided-box class="m-r-15">
                          <div slot="top-pane" class="pd-8-20">
                            <!--check-box ref="optStopLess">
                            <div slot="checkbox-content">
                            <span class="m-l-5"-->
                            <span>
                              Stop if Balance less then Bet
                            </span>
                            <!--/div>
                            </check-box-->
                          </div>
                          <div slot="bottom-pane" class="p-l-10 p-r-10">
                            <input-box-with-clear-btn
                              :var-link="autoStopBalanceLessValue"
                              :is-clear-btn-visible="false"
                            />
                          </div>
                        </divided-box>
                        <divided-box>
                          <div slot="top-pane" class="pd-8-20">
                            <!--check-box ref="optStopMore">
                            <div slot="checkbox-content">
                                <span class="m-l-5"-->
                            <span>
                              Stop if Balance more then
                            </span>
                            <!--/div>
                            </check-box-->
                          </div>
                          <div slot="bottom-pane" class="p-l-10 p-r-10">
                            <input-box-with-clear-btn
                              :var-link="autoStopBalanceMoreValue"
                              :is-clear-btn-visible="false"
                            />
                          </div>
                        </divided-box>
                      </div>
                    </div>
                    <div class="h-full flex-wrap flex-row-hl-vc p-t-15">
                      <div class="auto-left-box flex-row-hl-vc">
                        <divided-box class="m-r-15">
                          <div slot="top-pane" class="pd-8-20">
                            <span>On win</span>
                          </div>
                          <div slot="bottom-pane" class="p-l-15">
                            <select ref="optOnWin" class="selector dark_back">
                              <option>Return to base bet</option>
                              <option>Multiply by</option>
                              <option>Add</option>
                              <option>Subtract</option>
                            </select>
                          </div>
                        </divided-box>
                        <divided-box class="m-r-15">
                          <div slot="top-pane" class="pd-8-20">
                            <span>On loss</span>
                          </div>
                          <div slot="bottom-pane" class="p-l-15">
                            <select ref="optOnLoss" class="selector dark_back">
                              <option>Return to base bet</option>
                              <option>Multiply by</option>
                              <option>Add</option>
                              <option>Subtract</option>
                            </select>
                          </div>
                        </divided-box>
                      </div>
                      <div class="auto-right-box flex-row-hl-vc">
                        <!--divided-box class="m-r-15">
                        <div slot="top-pane" class="pd-8-20 flex-row-hc-vc">
                          <check-box>
                            <div slot="checkbox-content">
                              <span class="m-l-5">
                                Only bet after color
                              </span>
                            </div>
                          </check-box>
                        </div>
                        <div slot="bottom-pane" class="p-l-15">
                          <select class="selector dark_back">
                            <option>Has not come Up</option>
                            <option>Has come Up</option>
                          </select>
                        </div>
                        </divided-box-->
                        <div class="flex-row-hl-vc m-l-10 m-r-25 m-t-40">
                          <check-box>
                            <div slot="checkbox-content">
                              <span class="fs15 fw600 m-l-5">
                                Only bet after color
                              </span>
                            </div>
                          </check-box>
                          <select class="selector dark_back">
                            <option>Has not come Up</option>
                            <option>Has come Up</option>
                          </select>
                        </div>
                        <div class="flex-row-hl-vc m-t-40">
                          <span class="fs15 fw600 m-r-15">For</span>
                          <input-box-with-clear-btn
                            :var-link="autoGameInRow"
                            :is-toll-icon-visible="false"
                            :is-clear-btn-visible="false"
                            style-width="width: 30px;"
                          />
                          <div class="fs15 fw600 p-l-15 p-r-15">
                            <span>Games in a row</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="h-full flex-row-hr-vc m-t-20">
                      <div class="purple_btn pointer">
                        <span>Let's Begin</span>
                      </div>
                    </div>
                  </div>
                </div>
              </shadow-box>
              <div class="potential-profit-box-container p-t-30">
                <div class="flex-space-between-vt">
                  <potential-profit-box
                    :index="0"
                    :ary-user-info="aryUserInfoBlue"
                    :user-top-info="userTopBlue"
                  />
                  <div style="width: 40px; height: 10px;"></div>
                  <potential-profit-box
                    :index="1"
                    :ary-user-info="aryUserInfoGreen"
                    :user-top-info="userTopGreen"
                  />
                  <div style="width: 40px; height: 10px;"></div>
                  <potential-profit-box
                    :index="2"
                    :ary-user-info="aryUserInfoPink"
                    :user-top-info="userTopPink"
                  />
                </div>
              </div>
            </div>
          </shadow-box>
          <app-footer class="footer" />
        </div>
      </div>
    </main-content>
  </div>
</template>

<script>
import MainContent from '@/components/pc/layout/MainContent'
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import CheckBox from '@/components/pc/common/CheckBox.vue'
import TimeProgressBar from '@/components/pc/games/roulette/TimeProgressBar.vue'
import JackpotTitle from '@/components/pc/games/roulette/JackpotTitle.vue'
import PreviewGameResult from '@/components/pc/games/roulette/PreviewGameResult.vue'
import CoinBettingBox from '@/components/pc/games/roulette/CoinBettingBox.vue'
import RouletteBar from '@/components/pc/games/roulette/RouletteBar.vue'
import GemBox from '@/components/pc/games/roulette/GemBox.vue'
import ButtonWithDownArrow from '@/components/pc/games/roulette/ButtonWithDownArrow.vue'
import DividedBox from '@/components/pc/games/roulette/DividedBox.vue'
import ColorSelector from '@/components/pc/games/roulette/ColorSelector.vue'
import PotentialProfitBox from '@/components/pc/games/roulette/PotentialProfitBox.vue'
import InputBoxWithClearBtn from '@/components/pc/games/InputBoxWithClearBtn'
import AppFooter from '@/components/pc/layout/Footer'

import RouletteMixin from '~/mixins/games/roulette'

export default {
  name: 'Roulette',
  components: {
    MainContent,
    ShadowBox,
    CheckBox,
    TimeProgressBar,
    JackpotTitle,
    PreviewGameResult,
    CoinBettingBox,
    RouletteBar,
    GemBox,
    InputBoxWithClearBtn,
    ButtonWithDownArrow,
    DividedBox,
    ColorSelector,
    PotentialProfitBox,
    AppFooter
  },
  mixins: [RouletteMixin],
  data() {
    return {
      isBetFinished: false,
      bettingValue: 1000,
      autoBettingValue: 1000,
      autoBaseBettingValue: 1000,
      autoStopBalanceLessValue: 1000,
      autoStopBalanceMoreValue: 1000000,
      autoGameInRow: 3,
      profitCoin: 0,
      timerCounting: null,
      timerRolling: null,
      timeStart: 0,
      timeRemain: 0,
      curState: '',
      rollingParams: {
        rate: 0,
        isRunUp: false,
        distance: 0,
        isSlowDown: false,
        maxDistance: 0,
        slowDownStartDistance: 0
      },
      rouletteBarWidth: 2100,
      roulettePos: 0,
      curRollPos: 0,
      aryHistory: [],
      gameHistory: {
        cntGreen: 0,
        cntBlue: 0,
        cntPink: 0,
        rollList: 0
      },
      betTypeClass: 'GREEN',
      rightSidebarTabs: [
        {
          title_link_class: 'title_link_class promo',
          title: 'Chat',
          key: 0,
          active: false
        },
        {
          title_link_class: 'title_link_class promo',
          title: 'Score',
          key: 1,
          active: false
        },
        {
          title_link_class: 'title_link_class promo',
          title: 'Events',
          key: 2,
          active: false
        }
      ],
      userTopBlue: {
        toptitle: 'TOP BLUE',
        topname: '',
        diamondCount: 0,
        bettingval: 0
      },
      aryUserInfoBlue: [],
      userTopGreen: {
        toptitle: 'TOP GREEN',
        topname: '',
        diamondCount: 0,
        bettingval: 0
      },
      aryUserInfoGreen: [],
      userTopPink: {
        toptitle: 'TOP PINK',
        topname: '',
        diamondCount: 0,
        bettingval: 0
      },
      aryUserInfoPink: []
    }
  },
  computed: {
    token() {
      return this.$store.getters['user/getToken']
    },
    userId() {
      return this.$store.getters['user/getId']
    }
  },
  created() {
    const dt = new Date()

    this.timeRemain = 15
    this.timeTick = dt.getTime()
    this.curState = 'WAIT SPINNING'
  },
  mounted() {
    this.getRouletteGameHistory()
  },
  methods: {
    rsTabSelected(tab) {
      for (let i = 0; i < this.rightSidebarTabs.length; i++) {
        if (this.rightSidebarTabs[i].key === tab.key) {
          this.rightSidebarTabs[i].active = true
          break
        }
      }
    },
    onBetting(betAmount) {
      if (betAmount === 0) this.bettingValue += 1000
      if (betAmount === 1) this.bettingValue += 10000
      else if (betAmount === 2) this.bettingValue += 100000
      else if (betAmount === 3) this.bettingValue /= 2
      else if (betAmount === 4) this.bettingValue *= 2
      else if (betAmount === 5) this.bettingValue = 50000000

      this.bettingValue = Number(this.bettingValue.toFixed(0))
      if (this.bettingValue > 50000000) this.bettingValue = 50000000
    },
    timerCountingProc() {
      const dt = new Date()
      const timeLeft = (15 - (dt.getTime() - this.timeStart) / 1000).toFixed(2)
      this.timeRemain = Number(timeLeft)

      if (this.timeRemain < 0.5 && !this.isBetFinished) {
        this.setBet()
      }

      if (this.timeRemain < 0) {
        this.timeRemain = 0
        this.curState = 'READY FOR SPINNING'
        clearInterval(this.timerInterval)
      }
    },
    timerRollingProc() {
      const param = this.rollingParams
      const speed = param.rate * param.rate * 0.1
      if (param.isRunUp) {
        if (speed >= 30) this.rollingParams.isRunUp = false
        else this.rollingParams.rate += 0.3
      } else if (param.isSlowdown) {
        if (speed > 4) this.rollingParams.rate -= 0.1
        else if (speed > 2) this.rollingParams.rate -= 0.05
        else if (speed >= 0.5 || param.maxDistance - param.distance <= 5)
          this.rollingParams.rate -= 0.02
      } else if (param.distance >= param.slowDownStartDistance)
        this.rollingParams.isSlowdown = true

      if (param.maxDistance && param.distance >= param.maxDistance) {
        this.curRollPos += param.distance - param.maxDistance
        this.curRollPos %= this.rouletteBarWidth
        clearInterval(this.timerRolling)
        this.timerRolling = null
      } else {
        this.rollingParams.distance += speed
        this.curRollPos -= speed

        this.refreshRollbar()
      }
    },
    refreshRollbar() {
      let rouletteBoxWidth = 0
      const rouletteBar = this.$refs.rouletteBar
      if (rouletteBar) rouletteBoxWidth = rouletteBar.$el.clientWidth

      this.roulettePos =
        this.curRollPos -
        Math.ceil((this.rouletteBarWidth - rouletteBoxWidth) / 2)
    },
    typeChanged(btnState) {
      if (btnState === 0) this.betTypeClass = 'GREEN'
      else this.betTypeClass = 'BLUE'

      if (btnState === 0) {
        this.$refs.greenBettingBox.hidden = true
        this.$refs.autoBettingSep.hidden = true
        if (this.$refs.autoBettingConfigBox.hidden)
          this.$refs.autoBettingBox.$el.hidden = true
      } else {
        this.$refs.autoBettingBox.$el.hidden = false
        this.$refs.greenBettingBox.hidden = false
        if (this.$refs.autoBettingConfigBox.hidden)
          this.$refs.autoBettingSep.hidden = true
        else this.$refs.autoBettingSep.hidden = false
      }
    },
    modeChanged(btnState) {
      if (btnState === 0) {
        this.$refs.autoBettingConfigBox.hidden = true
        this.$refs.autoBettingSep.hidden = true
        if (this.$refs.greenBettingBox.hidden)
          this.$refs.autoBettingBox.$el.hidden = true
      } else {
        this.$refs.autoBettingBox.$el.hidden = false
        this.$refs.autoBettingConfigBox.hidden = false
        if (this.$refs.greenBettingBox.hidden)
          this.$refs.autoBettingSep.hidden = true
        else this.$refs.autoBettingSep.hidden = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.roulette_contents_box {
  border: 1px solid $normalBorderColor;
}

.roulette-container {
  padding: 45px 40px 0px 40px;
  // min-width: 1170px;
  .footer {
    margin-top: 50px;
  }
}

.title_side_container {
  width: calc(50% - 140px);
  max-width: 330px;
}

.selector {
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  color: white;
}

.selector.transparent {
  background: none;
  border: none;
  font-size: 15px;
  font-weight: 600;
}

.selector.dark_back {
  border: 1px solid $lightgrey;
}

.dark_back {
  background-color: $clrDarkContainerBack;
}

.ic_size_40 {
  min-width: 40px;
  min-height: 40px;
}

.ic_size_32 {
  width: 32px;
  height: 32px;
}

.purple_btn {
  background: $mlightpurple;
  cursor: pointer;
  border-radius: 7px;
  padding: 15px 40px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
}

.purple_btn:hover {
  background: $lightpurple;
}

.green_check {
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: $midGreen;
  color: $darkgrey;
}

.auto-left-box {
  width: 400px;
}

.auto-right-box {
  width: 600px;
}
</style>
