<template>
  <div>
    <main-content>
      <div slot="content">
        <div class="score-container">
          <shadow-box
            :has-content-box="false"
            :is-lightgray-back="false"
            :is-dark-container="true"
            :has-shadow="false"
            class="score_contents_box"
          >
            <div slot="shadow-box-content">
              <div class="score_title flex-space-between-vc flex-wrap m-b-30">
                <div class="flex-row-hl-vc p-r-20 m-t-10">
                  <span class="p-r-20">Select Game mode</span>
                  <selection-bar
                    :ary-btn-info="aryGameMode"
                    :has-border="true"
                    class-obj="p-l-25 p-r-25"
                  />
                </div>
                <div class="flex-row-hl-vc p-r-20 m-t-10">
                  <span class="p-r-20">Latest Games</span>
                  <selection-bar
                    :ary-btn-info="aryMultipleMode"
                    :is-large-padding="false"
                    :is-bold="false"
                    :is-distributed="true"
                    class-obj="p-l-15 p-r-15"
                  />
                </div>
                <div class="flex-row-hl-vc m-t-10">
                  <div class="icon_button pointer br-s m-r-10">
                    <svg-icon icon-class="volumn" class="ic_size_20" />
                  </div>
                  <div class="icon_button pointer br-s">
                    <svg-icon icon-class="refresh" class="ic_size_20" />
                  </div>
                </div>
              </div>
              <div class="flex-row flex-wrap p-l-5 p-r-5 m-b-20">
                <score-graph class="m-l-15 m-r-15 m-b-20 h-480 flex2" />
                <score-user-list
                  :ary-user-list="aryInGameUserList"
                  :is-game="true"
                  :height-value="480"
                  class="m-l-15 m-r-15 m-b-20 flex1"
                />
              </div>
              <div class="flex-row flex-wrap p-l-5 p-r-5 m-b-20">
                <div class="flex-col m-l-15 m-r-15 m-b-20 flex2">
                  <bet-score-box />
                  <win-loss-bet-score-box />
                </div>
                <score-user-list
                  :ary-user-list="aryCashOutUserList"
                  :is-game="false"
                  :height-value="390"
                  class="m-l-15 m-r-15 m-b-20 flex1"
                />
              </div>
            </div>
          </shadow-box>
          <app-footer class="footer" />
        </div>
      </div>
    </main-content>
    <div class="rightsidebar v-full scrollbar-wrapper">
      <r-s-container class="dark_back no_border fc-white">
        <div slot="header" class="rs-container--header">
          <tab-select
            slot="header"
            tab-class="fs16 bold nav_class_promo"
            :tabs="rightSidebarTabs"
            :active-tab="0"
            @select="rsTabSelected"
          ></tab-select>
        </div>
        <div
          slot="content"
          :class="{
            'rs-container--content': true,
            'with-header': true
          }"
        >
          <chat-room-container
            v-if="rightSidebarTabs[0].active"
            class="p-t-20 scrollbar-wrapper"
          />
          <div v-if="rightSidebarTabs[1].active" class="pd-5"></div>
          <div v-if="rightSidebarTabs[2].active" class="pd-5 scrollbar-wrapper">
            <online-players-box />
            <roulette-custom-info />
          </div>
        </div>
      </r-s-container>
    </div>
  </div>
</template>

<script>
import MainContent from '@/components/pc/layout/MainContent'
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import SelectionBar from '@/components/pc/games/score/SelectionBar.vue'
import ScoreGraph from '@/components/pc/games/score/ScoreGraph.vue'
import ScoreUserList from '@/components/pc/games/score/ScoreUserList.vue'
import OnlinePlayersBox from '@/components/pc/games/OnlinePlayersBox.vue'
import ChatRoomContainer from '@/components/pc/games/ChatRoomContainer.vue'
import RouletteCustomInfo from '@/components/pc/games/RouletteCustomInfo.vue'
import AppFooter from '@/components/pc/layout/Footer'
import TabSelect from '@/components/pc/rightsidebar/TabSelect'
import RSContainer from '@/components/pc/rightsidebar/Container'
import BetScoreBox from '@/components/pc/games/score/BetScoreBox.vue'
import WinLossBetScoreBox from '@/components/pc/games/score/WinLossBetScoreBox.vue'

export default {
  name: 'Roulette',
  components: {
    MainContent,
    ShadowBox,
    SelectionBar,
    ScoreGraph,
    ScoreUserList,
    OnlinePlayersBox,
    ChatRoomContainer,
    RouletteCustomInfo,
    AppFooter,
    TabSelect,
    RSContainer,
    BetScoreBox,
    WinLossBetScoreBox
  },
  data() {
    return {
      aryGameMode: [
        {
          label: 'Normal',
          isActive: true
        },
        {
          label: 'Light',
          isActive: false
        }
      ],
      aryMultipleMode: [
        {
          label: '2.5x',
          isActive: false
        },
        {
          label: '1.5x',
          isActive: false
        },
        {
          label: '10.5x',
          isActive: true
        },
        {
          label: '11.5x',
          isActive: false
        },
        {
          label: '14.5x',
          isActive: false
        }
      ],
      aryInGameUserList: [
        {
          name: 'Magaret',
          gemCount: 98,
          betAmount: 1000
        },
        {
          name: 'Litte',
          gemCount: 98,
          betAmount: 1000
        },
        {
          name: 'Mickey',
          gemCount: 98,
          betAmount: 1000
        },
        {
          name: 'Magaret',
          gemCount: 98,
          betAmount: 1000
        },
        {
          name: 'Litte',
          gemCount: 98,
          betAmount: 1000
        },
        {
          name: 'Mickey',
          gemCount: 98,
          betAmount: 1000
        },
        {
          name: 'Magaret',
          gemCount: 98,
          betAmount: 1000
        },
        {
          name: 'Litte',
          gemCount: 98,
          betAmount: 1000
        },
        {
          name: 'Mickey',
          gemCount: 98,
          betAmount: 1000
        },
        {
          name: 'Magaret',
          gemCount: 98,
          betAmount: 1000
        },
        {
          name: 'Litte',
          gemCount: 98,
          betAmount: 1000
        },
        {
          name: 'Mickey',
          gemCount: 98,
          betAmount: 1000
        }
      ],
      aryCashOutUserList: [
        {
          name: 'Magaret',
          gemCount: 98,
          betAmount: 1000,
          multiple: 2.5
        },
        {
          name: 'Litte',
          gemCount: 98,
          betAmount: 1000,
          multiple: 14.3
        },
        {
          name: 'Mickey',
          gemCount: 98,
          betAmount: 1000,
          multiple: 5.8
        },
        {
          name: 'Magaret',
          gemCount: 98,
          betAmount: 1000,
          multiple: 2.5
        },
        {
          name: 'Litte',
          gemCount: 98,
          betAmount: 1000,
          multiple: 2.5
        },
        {
          name: 'Mickey',
          gemCount: 98,
          betAmount: 1000,
          multiple: 2.5
        },
        {
          name: 'Magaret',
          gemCount: 98,
          betAmount: 1000,
          multiple: 2.5
        },
        {
          name: 'Litte',
          gemCount: 98,
          betAmount: 1000,
          multiple: 2.5
        },
        {
          name: 'Mickey',
          gemCount: 98,
          betAmount: 1000,
          multiple: 2.5
        },
        {
          name: 'Magaret',
          gemCount: 98,
          betAmount: 1000,
          multiple: 2.5
        },
        {
          name: 'Litte',
          gemCount: 98,
          betAmount: 1000,
          multiple: 2.5
        },
        {
          name: 'Mickey',
          gemCount: 98,
          betAmount: 1000,
          multiple: 2.5
        }
      ],
      rightSidebarTabs: [
        {
          title_link_class: 'title_link_class promo',
          title: 'Chat',
          key: 0,
          active: false
        },
        {
          title_link_class: 'title_link_class promo',
          title: 'Score',
          key: 1,
          active: false
        },
        {
          title_link_class: 'title_link_class promo',
          title: 'Events',
          key: 2,
          active: false
        }
      ]
    }
  },
  computed: {},
  methods: {
    rsTabSelected(tab) {
      for (let i = 0; i < this.rightSidebarTabs.length; i++) {
        if (this.rightSidebarTabs[i].key === tab.key) {
          this.rightSidebarTabs[i].active = true
          break
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.score_contents_box {
  border: 1px solid $normalBorderColor;
}

.score-container {
  padding: 30px 20px 0px 20px;
  .footer {
    margin-top: 50px;
  }
}

.score_title {
  padding: 10px 20px 30px 20px;
  color: $lightgrey;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid $mainBgColor;
}

.icon_button {
  padding: 10px 13px;
  background: $dark_back;
}

.icon_button:hover {
  background: $ldarkblack;
}

.ic_size_20 {
  width: 20px;
  height: 20px;
}

.h-480 {
  height: 480px;
}
</style>
