<template>
  <esports-main
    :with-carousel="false"
    :with-left="true"
    :active-tab="'live'"
    title="FC Bayeron VS FS Barcelona"
  />
</template>
<script>
import EsportsMain from './index.vue'

export default {
  name: 'EsportsDetail',
  components: {
    EsportsMain
  },
  data() {
    return {}
  },
  computed: {},
  methods: {}
}
</script>

<style lang="scss" scoped></style>
