<template>
  <main-content>
    <div slot="content" class="flex-row-hl-vt bg-leftsidebar-active">
      <div class="advertise_container p-l-10 p-r-10 p-t-15">
        <div v-if="withLeft" class="v-full h-full">
          <versus-result mode="normal" :has-seperator="false" />
          <match-advertise-box
            v-for="(item, i) in infoAdvertise"
            :key="i"
            :advertise-info="item"
            class="m-t-15"
          />
        </div>
      </div>
      <div class="esports_container flex1 p-l-20 p-r-20">
        <div class="p-b-20">
          <maint-top-image-box v-if="withCarousel" class="m-t-20" />
          <shadow-box
            :has-shadow="false"
            :has-content-box="false"
            class="m-t-20 p-t-10 dark_back m-b-135 p-b-5"
          >
            <div slot="shadow-box-content">
              <div class="flex-space-between-vc esports_titlebar p-l-25 p-r-25">
                <div class="flex-row-hc-vc p-l-5">
                  <svg-icon icon-class="game_controller" class="ic_size_34" />
                  <span class="esports_title_box">{{ title }}</span>
                </div>
                <div class="flex-row-hc-vs">
                  <date-selector />
                  <svg-icon
                    icon-class="esports_setting_normal"
                    class="ic_size_45 m-l-10"
                  />
                </div>
              </div>
              <b-card no-body class="dark_back no_border fc-white">
                <b-tabs
                  nav-class="fs18 bold nav_class_match"
                  :no-nav-style="false"
                  content-class="mt-3"
                >
                  <b-tab
                    title-link-class="title_link_class match"
                    title="All matches"
                    :active="activeTab == 'all'"
                  >
                    <match-list />
                  </b-tab>
                  <b-tab
                    title-link-class="title_link_class match"
                    title="Live"
                    class="mg-20"
                    :active="activeTab == 'live'"
                  >
                    <live-match-player :live-match-play="matchFile" />
                    <live-match-time-counter />
                    <div class="m-t-60 flex-row-hc-vc p-b-50">
                      <team-bet-box team-name="Bayern Muchen" />
                      <div class="flex-col-hc-vc v-full fs16 m-l-10 m-r-10">
                        <span class="fc-light-grey">Match winner</span>
                        <div
                          class="round_caption p-l-20 p-r-20 p-t-20 p-b-20 m-t-30 m-b-90"
                        >
                          <span class="bold">vs</span>
                        </div>
                      </div>
                      <team-bet-box team-name="FC Barcalona" />
                    </div>
                    <live-match-winner
                      v-for="(item, i) in infoMatchWinner"
                      :key="i"
                      :info-winner="item"
                      class="m-b-30"
                    />
                  </b-tab>
                  <b-tab
                    title-link-class="title_link_class match"
                    title="Tournament"
                  >
                    <p>Tab Contents 3</p>
                  </b-tab>
                </b-tabs>
              </b-card>
            </div>
          </shadow-box>
        </div>
        <app-footer />
      </div>
    </div>
  </main-content>
</template>

<script>
import MainContent from '@/components/pc/layout/MainContent'
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import MaintTopImageBox from '@/components/pc/esports/MainTopImageBox.vue'
import DateSelector from '@/components/pc/esports/DateSelector.vue'
import MatchList from '@/components/pc/esports/MatchList.vue'
import LiveMatchPlayer from '@/components/pc/esports/LiveMatchPlayer.vue'
import LiveMatchTimeCounter from '@/components/pc/esports/LiveMatchTimeCounter.vue'
import TeamBetBox from '@/components/pc/esports/TeamBetBox.vue'
import LiveMatchWinner from '@/components/pc/esports/LiveMatchWinner.vue'
// import TicketContainer from '@/components/pc/esports/TicketContainer.vue'
// import PromoContainer from '@/components/pc/esports/PromoContainer.vue'
import MatchAdvertiseBox from '@/components/pc/esports/MatchAdvertiseBox.vue'
import VersusResult from '@/components/pc/esports/VersusResult'
import AppFooter from '@/components/pc/layout/Footer'
// import TabSelect from '@/components/pc/rightsidebar/TabSelect'
// import RSContainer from '@/components/pc/rightsidebar/Container'
// import TotalTicketBox from '@/components/pc/esports/TotalTicketBox.vue'

import imgAdver from '@/assets/imgs/advertise.js'

export default {
  name: 'EsportsIndex',
  components: {
    MainContent,
    MaintTopImageBox,
    ShadowBox,
    DateSelector,
    MatchList,
    LiveMatchPlayer,
    LiveMatchTimeCounter,
    TeamBetBox,
    LiveMatchWinner,
    // TicketContainer,
    // PromoContainer,
    MatchAdvertiseBox,
    VersusResult,
    AppFooter
    // TabSelect,
    // RSContainer,
    // TotalTicketBox
  },
  props: {
    withCarousel: {
      type: Boolean,
      default: true
    },
    withLeft: {
      type: Boolean,
      default: true
    },
    title: {
      type: String,
      default: 'Esports'
    },
    activeTab: {
      type: String,
      default: 'all'
    }
  },
  data() {
    return {
      matchFile: '/imgs/esports/matchscreen.png',
      infoAdvertise: [
        {
          imgAdvertise: [imgAdver.items['match1-s']],
          matchType: 'FOOTBALL',
          matchDate: '20 OCTOBER',
          matchTitle: 'Everton hold their verve to win gripper against Wolves',
          matchDesc:
            'Two expansive teams managed by Portuguese managers went toe-to-toe',
          overlayTxt: ''
        },
        {
          imgAdvertise: [
            imgAdver.items['match2-t'],
            imgAdver.items['match2-bl'],
            imgAdver.items['match2-br'],
            imgAdver.items['match-overlay']
          ],
          matchType: 'FOOTBALL',
          matchDate: '20 OCTOBER',
          matchTitle: 'Everton hold their verve to win gripper against Wolves',
          matchDesc:
            'Two expansive teams managed by Portuguese managers went toe-to-toe',
          overlayTxt: '6+'
        },
        {
          imgAdvertise: [imgAdver.items['match3-s']],
          matchType: 'FOOTBALL',
          matchDate: '20 OCTOBER',
          matchTitle: 'Everton hold their verve to win gripper against Wolves',
          matchDesc:
            'Two expansive teams managed by Portuguese managers went toe-to-toe',
          overlayTxt: ''
        }
      ],
      infoMatchWinner: [
        {
          firstPool: 289000,
          firstWinner: 1.28,
          secondWinner: 1.28,
          secondPool: 62000
        },
        {
          firstPool: 289000,
          firstWinner: 1.28,
          secondWinner: 1.28,
          secondPool: 62000
        },
        {
          firstPool: 289000,
          firstWinner: 1.28,
          secondWinner: 1.28,
          secondPool: 62000
        },
        {
          firstPool: 289000,
          firstWinner: 1.28,
          secondWinner: 1.28,
          secondPool: 62000
        }
      ]
    }
  },
  computed: {},
  methods: {}
}
</script>
<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
.bg-leftsidebar-active {
  background: $leftSideBarActiveBg;
}
.advertise_container {
  width: calc(#{$leftSidebarWidth} - #{$collapseLeftSidebarWidth});
}
.esports_container {
  background-color: $mainBgColor;
  font-family: TTCommons;
  font-weight: 500;
  line-height: 1;
}

.dark_back {
  background-color: $clrDarkContainerBack;
}

.esports_titlebar {
  height: 58px;
}

.ic_size_34 {
  width: 34px;
  height: 34px;
}

.ic_size_45 {
  width: 45px;
  height: 45px;
}

.card-header {
  background-color: none !important;
}

.no_border {
  border: none;
  border-radius: 0px;
}

.round_caption {
  background-color: $darkgrey;
  border-radius: 50%;
}

.esports_title_box {
  margin-left: 20px;
  font-size: 18px;
  color: white;
  font-family: Pangram;
  font-style: normal;
  font-weight: 700;
}
</style>
