<template>
  <div class="h-center">
    <shadow-box :has-content-box="false" class="pd-5-10">
      <div
        slot="shadow-box-content"
        class="flex-space-between-vc h-full  m-t-5 m-b-5 p-l-5 p-r-5"
      >
        <div class="flex-row-hc-vc">
          <div class="icon-box br-ss">
            <svg-icon icon-class="chartroom" class="icon-size" />
          </div>
          <div class="fs16 bold fc-white m-l-15">Chatroom</div>
        </div>
        <img src="/imgs/country/flag-turkey.png" class="flag-size" />
      </div>
    </shadow-box>
    <div class="divider-line main-bg h-full m-t-10 m-b-10"></div>
    <div class="flex-col-hc-vc h-full p-l-5 p-r-5">
      <user-diamond-box
        v-for="(item, i) in aryChatInfo"
        :key="i"
        :index="i"
        :user-name="item.userName"
        :diamond-count="item.diamondCnt"
        :chat-text="item.chatText"
        class="br-s m-t-5"
      />
    </div>
    <div class="divider-line main-bg h-full m-t-10 m-b-10"></div>
    <div
      class="login_box h-full flex-space-between-vc fc-light-grey br-ss p-l-10 m-t-5"
    >
      <div class="flex-row-hc-vc">
        <svg-icon icon-class="emoji_smile" class="m-r-5" />
        <svg-icon icon-class="attach" class="m-r-20" />
        <input
          id="chattext"
          placeholder="Type here to write something"
          class="fs10 no_decoration"
        />
      </div>
      <svg-icon icon-class="paper_plane" class="m-r-10" />
    </div>
  </div>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import UserDiamondBox from '@/components/pc/games/UserDiamondBox.vue'

export default {
  name: 'ChatRoomContainer',
  components: {
    ShadowBox,
    UserDiamondBox
  },
  props: {
    index: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      aryChatInfo: [
        {
          userName: 'Magaret',
          chatText: 'Wtf wtf lorem. Wtf wtf lorem. Wtf wtf lorem.',
          diamondCnt: 98
        },
        {
          userName: 'Mickey',
          chatText: 'Wtf wtf lorem',
          diamondCnt: 98
        },
        {
          userName: 'Rudolf',
          chatText: 'Wtf wtf lorem. Wtf wtf lorem. Wtf wtf lorem.',
          diamondCnt: 98
        },
        {
          userName: 'Magaret',
          chatText: 'Wtf wtf lorem',
          diamondCnt: 98
        },
        {
          userName: 'Mickey',
          chatText: 'Wtf wtf lorem',
          diamondCnt: 98
        },
        {
          userName: 'Magaret',
          chatText: 'Wtf wtf lorem',
          diamondCnt: 98
        },
        {
          userName: 'Rudolf',
          chatText: 'Wtf wtf lorem',
          diamondCnt: 98
        },
        {
          userName: 'Mickey',
          chatText: 'Wtf wtf lorem',
          diamondCnt: 98
        },
        {
          userName: 'Rudolf',
          chatText: 'Wtf wtf lorem',
          diamondCnt: 98
        },
        {
          userName: 'Magaret',
          chatText: 'Wtf wtf lorem',
          diamondCnt: 98
        }
      ]
    }
  },
  computed: {},
  methods: {
    collapseClick() {
      this.$emit('collapseClick')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.icon-box {
  background-color: $ddarkpurple;
  padding: 7px 7px 0px 7px;
}

.icon-size {
  width: 19px;
  height: 19px;
}

.flag-size {
  width: 32px;
}

.login_box {
  height: 35px;
  background-color: $darkgrey;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.no_decoration {
  outline: none;
  border: none;
  background: none;
  color: lightgrey;
  width: 200px;
}
</style>
