<template>
  <div class="flex-row-hl-vc br-s fc-white fs13" :class="classObj">
    <img :src="aryUserImg.items[userName]" class="user-icon m-r-5" />
    <svg-icon icon-class="diamond" class="diamond-icon m-r-5" />
    <span class="m-r-5">{{ diamonds }}</span>
  </div>
</template>

<script>
import aryUserImg from '@/assets/imgs/users.js'

export default {
  name: 'DiamondBox',
  props: {
    colorIndex: {
      type: Number,
      default: 0
    },
    userName: {
      type: String,
      default: ''
    },
    diamonds: {
      type: Number,
      default: 98
    },
    isLarge: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {}
  },
  computed: {
    classObj: {
      get() {
        return {
          'is-blue': this.colorIndex === 0,
          'is-green': this.colorIndex === 1,
          'is-yellow': this.colorIndex === 2,
          'is-potentialprofit': this.colorIndex === 3,
          'is-large': this.isLarge,
          fs16: this.isLarge
        }
      }
    },
    aryUserImg() {
      return aryUserImg
    }
  },
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.user-icon {
  width: 30px;
}

.is-large .user-icon {
  width: 40px;
}

.diamond-icon {
  width: 25px;
}

.is-large .diamond-icon {
  width: 35px;
  height: 25px;
}

.is-blue {
  background: $ddarkpurple;
}

.is-green {
  background: $midGreen;
}

.is-yellow {
  background: $midYellow;
  color: black;
}

.is-potentialprofit {
  background: $greenblue;
  color: white;
}
</style>
