<template>
  <div class="input_container flex-space-between-vc pd-10" :style="widthStyle">
    <svg-icon v-if="isTollIconVisible" icon-class="toll_icon" class="m-r-10" />
    <input
      v-model="inputModel"
      oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
      class="m-r-10 fc-white"
      :style="styleWidth"
      @change="onValueChange()"
      @keyup="onValueChange()"
    />
    <svg-icon
      v-if="isClearBtnVisible"
      id="clear"
      icon-class="clear"
      @click="initValue()"
    />
  </div>
</template>

<script>
export default {
  name: 'InputBoxWithClearBtn',
  props: {
    varLink: {
      type: String,
      default: ''
    },
    autoResize: {
      type: Boolean,
      default: false
    },
    isTollIconVisible: {
      type: Boolean,
      default: true
    },
    isClearBtnVisible: {
      type: Boolean,
      default: true
    },
    styleWidth: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      widthStyle: this.autoResize ? 'width: 200px;' : '',
      inputModel: this.varLink
    }
  },
  watch: {
    varLink(newVal) {
      this.inputModel = newVal
    }
  },
  methods: {
    initValue() {
      if (this.isTollIconVisible) this.inputModel = '1000'
      else this.inputModel = '0'
      this.onValueChange()
    },
    onValueChange() {
      this.$emit('inputChanged', this.inputModel)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
.input_container {
  height: 40px;
  background-color: $darkgrey;
  border-radius: 8px;
}

.input_container input {
  background-color: $darkgrey;
  border: 0px;
  box-shadow: none;
  outline: none;
  width: 100%;
  line-height: 1;
}

.input_container svg {
  width: 30px;
  height: 20px;
}
</style>
