<template>
  <div :style="{ height: space, 'max-height': space }"></div>
</template>
<script>
export default {
  name: 'LeftSidebarSpace',
  components: {},
  props: {
    space: {
      type: String,
      default: '250px'
    }
  },
  data() {
    return {}
  },
  computed: {},
  methods: {}
}
</script>
<style lang="scss" scoped></style>
