<template>
  <shadow-box :has-content-box="false" :has-shadow="false" class="pd-10">
    <div slot="shadow-box-content" class="flex-row-hl-vc">
      <svg-icon icon-class="game_controller" class="ic_size_50 m-r-10" />
      <div class="flex-col-ht-vc">
        <div class="fs20 fc-white bold">{{ userCount }}</div>
        <div class="fs13 fc-white">Players Online</div>
      </div>
    </div>
  </shadow-box>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'

export default {
  name: 'OnlinePlayersBox',
  components: {
    ShadowBox
  },
  props: {
    userCount: {
      type: Number,
      default: 408
    }
  }
}
</script>

<style lang="scss" scoped>
.ic_size_50 {
  width: 50px;
  height: 50px;
}
</style>
