<template>
  <shadow-box-with-title>
    <div slot="sbwt-title" class="h-full flex-col-hc-vc">
      <div class="fc-white fs20 fw900">The Fast</div>
      <div class="fc-light-grey fs13 fw500">{{ dates }} Days</div>
    </div>
    <div slot="sbwt-content" class="h-full">
      <div class="flex-col-hc-vc h-full">
        <img src="/imgs/roulette/prize_pool.png" />
        <div class="fc-gold fs20 fw700 p-t-10">${{ values }}</div>
        <div class="fc-light-grey fs13 fw500">Prize pool</div>
      </div>
      <div class="hover_btn flex-row-hc-vc h-full m-t-10">
        <span>Participate now</span>
      </div>
    </div>
  </shadow-box-with-title>
</template>

<script>
import ShadowBoxWithTitle from '@/components/pc/games/ShadowBoxWithTitle.vue'

export default {
  name: 'ParticipateBox',
  components: {
    ShadowBoxWithTitle
  },
  props: {
    dates: {
      type: Number,
      default: 0
    },
    values: {
      type: Number,
      default: 2000
    }
  },
  data() {
    return {}
  },
  computed: {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.pbox_title {
  border-bottom: 1px solid $footerBgColor;
}

.hover_btn {
  background: $mlightpurple;
  color: white;
  font-size: fs14;
  border-radius: 7px;
  padding: 10px 0;
  font-weight: 600;
  cursor: pointer;
}
</style>
