<template>
  <div class="rightsidebar v-full no-scrollbar">
    <r-s-container class="dark_back no_border fc-white">
      <div slot="header" class="rs-container--header">
        <tab-select
          slot="header"
          tab-class="fs16 bold nav_class_promo"
          :tabs="rightSidebarTabs"
          :active-tab="0"
          @select="rsTabSelected"
        ></tab-select>
      </div>
      <div
        slot="content"
        :class="{
          'rs-container--content': true,
          'with-header': true,
          'with-header-lg': true
        }"
      >
        <chat-room-container
          v-if="rightSidebarTabs[0].active"
          class="p-t-20 no-scrollbar v-full"
        />
        <div v-if="rightSidebarTabs[1].active" class="pd-5"></div>
        <div v-if="rightSidebarTabs[2].active" class="pd-5 no-scrollbar v-full">
          <online-players-box />
          <roulette-custom-info />
        </div>
      </div>
    </r-s-container>
  </div>
</template>
<script>
import OnlinePlayersBox from '@/components/pc/games/OnlinePlayersBox.vue'
import ChatRoomContainer from '@/components/pc/games/ChatRoomContainer.vue'
import RouletteCustomInfo from '@/components/pc/games/RouletteCustomInfo.vue'
import TabSelect from '@/components/pc/rightsidebar/TabSelect'
import RSContainer from '@/components/pc/rightsidebar/Container'

export default {
  name: 'GamesRightSidebarContent',
  components: {
    OnlinePlayersBox,
    ChatRoomContainer,
    RouletteCustomInfo,
    TabSelect,
    RSContainer
  },
  data() {
    return {
      rightSidebarTabs: [
        {
          nav_item_class: '',
          title_link_class: 'title_link_class promo',
          title: 'Chat',
          key: 0,
          active: false
        },
        {
          nav_item_class: '',
          title_link_class: 'title_link_class promo',
          title: 'Score',
          key: 1,
          active: false
        },
        {
          nav_item_class: '',
          title_link_class: 'title_link_class promo',
          title: 'Events',
          key: 2,
          active: false
        }
      ]
    }
  },
  computed: {},
  methods: {
    rsTabSelected(tab) {
      for (let i = 0; i < this.rightSidebarTabs.length; i++) {
        if (this.rightSidebarTabs[i].key === tab.key) {
          this.rightSidebarTabs[i].active = true
          break
        }
      }
    }
  }
}
</script>
<style lang="scss" scoped></style>
