<template>
  <div>
    <participate-box class="m-t-20" :dates="2" />
    <winner-of-day-box class="m-t-20" />
    <biggest-bet-box class="m-t-20" />
  </div>
</template>
<script>
import WinnerOfDayBox from '@/components/pc/games/WinnerOfDayBox'
import ParticipateBox from '@/components/pc/games/ParticipateBox'
import BiggestBetBox from '@/components/pc/games/BiggestBetBox'

export default {
  name: 'RouletteCustomInfo',
  components: {
    WinnerOfDayBox,
    ParticipateBox,
    BiggestBetBox
  },
  data() {
    return {}
  },
  computed: {},
  methods: {}
}
</script>
<style lang="scss" scoped></style>
