<template>
  <shadow-box :has-content-box="false" :has-shadow="false" class="pd-0">
    <div slot="shadow-box-content" class="flex-col-hl-vt">
      <div class="pbox_title flex-col-hc-vc h-full pd-10 m-b-10">
        <slot name="sbwt-title"></slot>
      </div>
      <div class="flex-col-hc-vc h-full pd-5">
        <slot name="sbwt-content"></slot>
      </div>
    </div>
  </shadow-box>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'

export default {
  name: 'ParticipateBox',
  components: {
    ShadowBox
  },
  props: {},
  data() {
    return {}
  },
  computed: {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.pbox_title {
  border-bottom: 1px solid $footerBgColor;
}
</style>
