<template>
  <div class="flex-row-hl-vc fs15 fw500 fc-white toll_box" :class="classObj">
    <svg-icon
      icon-class="toll_icon"
      class="m-r-10"
      :class="largeIcon ? 'large-icon' : 'small-icon'"
    />
    <span class="tollbox--text" :class="txtClassObj">{{ betVal }}</span>
  </div>
</template>

<script>
import { toThousandFilter } from '@/utils/index.js'

export default {
  name: 'TollBox',
  components: {},
  props: {
    bet: {
      type: Number,
      default: 0
    },
    purple: {
      type: Boolean,
      default: true
    },
    largeIcon: {
      type: Boolean,
      default: true
    },
    smallFont: {
      type: Boolean,
      default: false
    },
    purpleBackground: {
      type: Boolean,
      default: false
    },
    largeFont: {
      type: Boolean,
      default: false
    },
    hasDefaultWidth: {
      type: Boolean,
      default: true
    },
    defaultWidthMini: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    classObj: {
      get() {
        return {
          'is-purple': this.purple,
          'is-small-font': this.smallFont,
          'is-large-font': this.largeFont,
          'is-purple-background': this.purpleBackground
        }
      }
    },
    betVal: {
      get() {
        return toThousandFilter(this.bet)
      }
    },
    txtClassObj: {
      get() {
        return {
          'default-width': this.hasDefaultWidth,
          'default-width-mini': this.defaultWidthMini
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
.toll_box {
  line-height: 1;
}

.small-icon {
  width: 20px;
  height: 20px;
}

.large-icon {
  width: 26px;
  height: 26px;
}

.is-purple {
  color: $brightpurple;
}

.is-small-font {
  font-size: 11px;
}

.is-large-font {
  font-size: 28px;
}

.is-purple-background {
  border-radius: 7px;
  background-color: $mdarkpurple;
  font-weight: 300;
  padding: 10px;
}

.tollbox--text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.default-width {
  width: 70px;
  padding-right: 10px;
  &.default-width-mini {
    width: 50px;
    padding-right: 0px;
  }
}
</style>
