<template>
  <div class="user_notify_box flex-row-hc-vc">
    <img :src="aryUserImg.items[userInfo.userName]" />
    <span class="p-l-15">{{ userInfo.userName }}</span>
  </div>
</template>

<script>
import aryUserImg from '@/assets/imgs/users.js'

export default {
  name: 'UserNotifyBox',
  components: {},
  props: {
    userInfo: {
      type: Object,
      default() {
        return {
          userName: ''
        }
      }
    }
  },
  data() {
    return {}
  },
  computed: {
    aryUserImg() {
      return aryUserImg
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.user_notify_box {
  color: white;
  background: $mlightpurple;
  border-radius: 15px;
  padding: 6px;
  font-size: 18px;
  font-weight: bold;
}
</style>
