<template>
  <div class="flex-row-hl-vc h-full pd-5" :class="classObj">
    <diamond-box
      class="m-r-10"
      :diamonds="diamondCount"
      :color-index="colorIndex"
      :user-name="userName"
    />
    <span class="fs10 fw500 fc-light-grey m-r-10">{{ userName }}:</span>
    <span class="fs10 fw500 fc-white ellipse_text">{{ chatText }}</span>
  </div>
</template>

<script>
import DiamondBox from '@/components/pc/games/DiamondBox.vue'

export default {
  name: 'UserDiamondBox',
  components: {
    DiamondBox
  },
  props: {
    index: {
      type: Number,
      default: 0
    },
    colorIndex: {
      type: Number,
      default: 0
    },
    diamondCount: {
      type: Number,
      default: 0
    },
    userName: {
      type: String,
      default: 'super'
    },
    chatText: {
      type: String,
      default: 'Wtf wtf lorem'
    }
  },
  data() {
    return {}
  },
  computed: {
    classObj: {
      get() {
        return {
          'is-background': this.index % 1 === 0
        }
      }
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.is-background {
  background: $darkgrey;
}

.ellipse_text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>
