<template>
  <shadow-box-with-title>
    <div slot="sbwt-title" class="h-full flex-col-hc-vc">
      <div>
        <span class="fc-white fs20 fw900">Winner</span>
        <span class="fc-light-grey fs18 fw500">of the day</span>
      </div>
    </div>
    <div slot="sbwt-content" class="flex-col-hc-vc h-full pos-rel">
      <div class="flex-col-hc-vc h-full m-b-50">
        <img src="/imgs/roulette/winner_of_day.png" />
      </div>
      <div class="user_info_container flex-col-hc-vc h-full">
        <user-notify-box :user-info="userInfo" />
        <div class="user_info_bridge"></div>
        <div class="bottom_box flex-row-hc-vc h-full">
          <div class="fs18 fc-white fw600">
            <span>Win at a time</span>
            <span class="m-l-20 fc-game-green">${{ values }}</span>
          </div>
        </div>
      </div>
    </div>
  </shadow-box-with-title>
</template>

<script>
import ShadowBoxWithTitle from '@/components/pc/games/ShadowBoxWithTitle.vue'
import UserNotifyBox from '@/components/pc/games/UserNotifyBox.vue'

export default {
  name: 'WinnerOfDayBox',
  components: {
    ShadowBoxWithTitle,
    UserNotifyBox
  },
  props: {
    values: {
      type: Number,
      default: 1.548
    },
    userInfo: {
      type: Object,
      default() {
        return {
          userName: 'User 12'
        }
      }
    }
  },
  data() {
    return {}
  },
  computed: {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.bottom_box {
  background-color: $dark_back;
  border-radius: 7px;
  padding: 10px 0;
}

.user_info_container {
  position: absolute;
  bottom: 0px;
}

.user_info_bridge {
  width: 30px;
  height: 20px;
  background: white;
}
</style>
