<template>
  <shadow-box class="pd-8-20" :has-shadow="false" :has-content-box="false">
    <div slot="shadow-box-content" class="flex-col-hl-vc h-full">
      <div class="flex-row-hl-vb h-full">
        <div class="flex-col m-r-30">
          <div class="fs17 fc-light-grey fw600 m-b-10">Your Bet</div>
          <input-box-with-clear-btn :var-link="1000" />
        </div>
        <div class="flex-col m-r-30">
          <div class="fs17 fc-light-grey fw600 m-b-10">Auto-cashout</div>
          <input-box-with-clear-btn :var-link="1000" />
        </div>
        <div class="flex-col m-t-10">
          <div class="hover_btn flex-row-hc-vc">
            <span>Place Bet</span>
          </div>
        </div>
      </div>
      <div class="flex-space-between-vc h-full m-t-20">
        <div class="dark_hover_btn flex-row-hc-vc m-r-5 m-t-10">
          <span>1K</span>
        </div>
        <div class="dark_hover_btn flex-row-hc-vc m-r-5 m-t-10">
          <span>10K</span>
        </div>
        <div class="dark_hover_btn flex-row-hc-vc m-r-5 m-t-10">
          <span>100K</span>
        </div>
        <div class="dark_hover_btn flex-row-hc-vc m-r-5 m-t-10">
          <span>1/2</span>
        </div>
        <div class="dark_hover_btn flex-row-hc-vc m-r-5 m-t-10">
          <span>X2</span>
        </div>
        <div class="dark_hover_btn flex-row-hc-vc m-r-5 m-t-10">
          <span>MAX</span>
        </div>
        <selection-bar
          :ary-btn-info="aryBetMode"
          :has-border="true"
          :is-large-padding="false"
          class="m-t-10"
          class-obj="p-l-15 p-r-15"
          :font-size="15"
        />
      </div>
    </div>
  </shadow-box>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import InputBoxWithClearBtn from '@/components/pc/games/InputBoxWithClearBtn'
import SelectionBar from '@/components/pc/games/score/SelectionBar.vue'

export default {
  name: 'BetScoreBox',
  components: {
    ShadowBox,
    InputBoxWithClearBtn,
    SelectionBar
  },
  props: {},
  data() {
    return {
      aryBetMode: [
        {
          label: 'Manual Bet',
          isActive: false
        },
        {
          label: 'Auto Bet',
          isActive: true
        }
      ]
    }
  },
  computed: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.hover_btn {
  background: $mlightpurple;
  color: white;
  font-size: 15px;
  border-radius: 7px;
  padding: 10px 30px;
  font-weight: 500;
  cursor: pointer;
}

.hover_btn:hover {
  background: $lightpurple;
}

.dark_hover_btn {
  background: $darkgrey;
  color: white;
  font-size: 15px;
  border-radius: 7px;
  padding: 10px 30px;
  font-weight: 500;
  cursor: pointer;
}

.dark_hover_btn:hover {
  background: $ldarkblack;
}
</style>
