<template>
  <div class="score_graph_container br-sm">
    <!--canvas ref="canvas" /-->
    <img src="/imgs/score/graph.png" />
  </div>
</template>

<script>
export default {
  name: 'ScoreGraph',
  props: {},
  data() {
    return {
      canvas: null,
      ctx: null,
      canvasWidth: 0,
      canvasHeight: 0,
      isRendering: false,
      animRequest: null,

      plotWidth: 0,
      plotHeight: 0,
      xStart: 0,
      yStart: 0
    }
  },
  computed: {},
  /* mounted() {
    this.startRendering()
    const selfInst = this

    this.$bus.$on('resize', function() {
      selfInst.onWindowResizeBinded()
    })
  }, */
  destroyed() {
    this.stopRendering()
  },
  created() {},
  methods: {
    startRendering() {
      this.canvas = this.$refs.canvas
      this.ctx = this.$refs.canvas.getContext('2d')

      const parentNode = this.$refs.canvas.parentNode
      this.canvasWidth = parentNode.clientWidth
      this.canvasHeight = parentNode.clientHeight
      this.isRendering = true

      this.configPlotSettings()
      this.animRequest = window.requestAnimationFrame(this.render)
      window.addEventListener('resize', this.onWindowResizeBinded)
    },
    stopRendering() {
      this.isRendering = false
      window.removeEventListener('resize', this.onWindowResizeBinded)
    },
    configPlotSettings() {
      this.canvas.width = this.canvasWidth
      this.canvas.height = this.canvasHeight
      this.plotWidth = this.canvasWidth - 30
      this.plotHeight = this.canvasHeight - 20
      this.xStart = this.canvasWidth - this.plotWidth
      this.yStart = this.canvasHeight - this.plotHeight
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.score_graph_container {
  background: $gray1a;
}
</style>
