<template>
  <div class="list_item_container br-ss flex-space-between-vc">
    <div class="fc-white flex-row-hc-vc">
      <diamond-box :user-name="userInfo.name" />
      <span class="p-l-5 p-r-30 fs14 fw600">{{ userInfo.name }}</span>
    </div>
    <div class="fc-mid-green flex-row-hc-vc">
      <span v-if="isCashOut" class="p-r-40">{{ userInfo.multiple }}x</span>
      <toll-box :bet="userInfo.betAmount" :large-icon="false" :purple="false" />
    </div>
  </div>
</template>

<script>
import DiamondBox from '@/components/pc/games/DiamondBox.vue'
import TollBox from '@/components/pc/games/TollBox.vue'

export default {
  name: 'ScoreUserListItem',
  components: {
    DiamondBox,
    TollBox
  },
  props: {
    isCashOut: {
      type: Boolean,
      default: false
    },
    userInfo: {
      type: Object,
      default() {
        return {
          name: '',
          gemCount: 0,
          betAmount: 0,
          multiple: 0
        }
      }
    }
  },
  data() {
    return {}
  },
  computed: {},
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.list_item_container {
  background: $dark_back;
  padding: 5px;
}
</style>
