<template>
  <shadow-box
    class="m-t-25 pd-8-20"
    :has-shadow="false"
    :has-content-box="false"
  >
    <div slot="shadow-box-content" class="flex-col-hl-vc h-full">
      <div class="flex-row-hl-vb h-full">
        <div class="flex-col m-r-30">
          <div class="fs17 fc-light-grey fw600 m-b-10">Your Bet</div>
          <input-box-with-clear-btn :var-link="1000" class="mw-200" />
        </div>
        <div class="flex-col m-r-30">
          <div class="fs17 fc-light-grey fw600 m-b-10 m-t-10">Auto-cashout</div>
          <input-box-with-clear-btn :var-link="1000" class="mw-200" />
        </div>
        <div class="flex-col">
          <div class="fs17 fc-light-grey fw600 m-b-10 m-t-10">
            Stop if bet is >
          </div>
          <input-box-with-clear-btn :var-link="1000" class="mw-200" />
        </div>
      </div>
      <div class="flex-row-hl-vc h-full m-t-10">
        <div class="flex-col m-r-30">
          <div class="fs17 fc-light-grey fw600 m-b-10 m-t-10">On Win</div>
          <div class="flex-row-hc-vc">
            <selection-bar
              :ary-btn-info="aryMode"
              :has-border="true"
              :is-large-padding="false"
              class-obj="p-l-15 p-r-15"
              :font-size="11"
            />
            <div class="toll-container">
              <toll-box :bet="100" :purple="false" />
            </div>
          </div>
        </div>
        <div class="flex-col m-r-30">
          <div class="fs17 fc-light-grey fw600 m-b-10 m-t-10">On Loss</div>
          <div class="flex-row-hc-vc">
            <selection-bar
              :ary-btn-info="aryMode"
              :has-border="true"
              :is-large-padding="false"
              class-obj="p-l-15 p-r-15"
              :font-size="11"
            />
            <div class="toll-container">
              <toll-box :bet="100" :purple="false" />
            </div>
          </div>
        </div>
        <div class="flex-col">
          <div class="text-nowrap fs17 fc-light-grey fw600 m-b-10 m-t-10">
            Section Profit
          </div>
          <div class="toll-container transparent">
            <toll-box :bet="100" :purple="false" />
          </div>
        </div>
      </div>
    </div>
  </shadow-box>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import InputBoxWithClearBtn from '@/components/pc/games/InputBoxWithClearBtn'
import SelectionBar from '@/components/pc/games/score/SelectionBar.vue'
import TollBox from '@/components/pc/games/TollBox.vue'

export default {
  name: 'WinLossBetScoreBox',
  components: {
    ShadowBox,
    InputBoxWithClearBtn,
    SelectionBar,
    TollBox
  },
  props: {},
  data() {
    return {
      aryMode: [
        {
          label: 'Return to Base bet',
          isActive: false
        },
        {
          label: 'Increase By',
          isActive: true
        }
      ]
    }
  },
  computed: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.toll-container {
  background: $darkgrey;
  color: white;
  font-size: 15px;
  border-radius: 7px;
  padding: 10px;
  margin-left: 20px;
}

.toll-container.transparent {
  background: transparent;
  margin-left: 0px;
}

.mw-200 {
  max-width: 200px;
}

.text-nowrap {
  word-wrap: none;
}
</style>
