<template>
  <div class="pretty p-default">
    <input type="checkbox" />
    <div class="state p-success">
      <label class="flex-row-hc-vc">
        <slot name="checkbox-content"></slot>
      </label>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CheckBox'
}
</script>

<style lang="scss" scoped>
.pretty .state label {
  white-space: normal;
  line-height: 1.5;
}

.pretty .state label:before,
.pretty .state label:after {
  top: 1px;
}
</style>
