<template>
  <div class="br-sm dark-gray-background h-full" :class="classObj">
    <slot name="shadow-box-content"></slot>
  </div>
</template>

<script>
export default {
  name: 'ShadowBox',
  props: {
    hasShadow: {
      type: Boolean,
      default: true
    },
    hasContentBox: {
      type: Boolean,
      default: true
    },
    isLightgrayBack: {
      type: Boolean,
      default: true
    },
    isDarkContainer: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {}
  },
  computed: {
    classObj: {
      get() {
        return {
          'light-gray-background': this.isLightgrayBack,
          'dark-container-back': this.isDarkContainer,
          'content-box': this.hasContentBox,
          'has-shadow': this.hasShadow
        }
      }
    }
  },
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
.dark-gray-background {
  background: $darkgrey;
}

.light-gray-background {
  background: $clrContainerBack;
}

.dark-container-back {
  background: $footerBgColor;
}

.content-box {
  padding: 10px 40px;
}

.has-shadow {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
</style>
