.pointer {
  cursor: pointer;
}

.over-auto {
  overflow: auto;
}
.circle-gradient-back {
  background: transparent;
  background: radial-gradient(circle, #47375b, transparent, transparent);
}

.no_border {
  border: none;
  border-radius: 0px;
}

// Esports right sidebar style
.rs-container--root {
  position: relative;
  .rs-container--btn_collapse {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $darkgrey;
    text-align: center;
    height: $rightSideBarCollapseBtnHeight;
  }

  .rs-container--header {
    position: absolute;
    left: 0;
    top: $rightSideBarCollapseBtnHeight;
    right: 0;
    background-color: #3f4344;
  }
  .rs-container--footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .rs-container--content {
    height: 100%;
    &.with-header {
      &.with-header-sm {
        padding-top: calc(30px + #{$rightSideBarCollapseBtnHeight});
      }
      &.with-header-lg {
        padding-top: calc(44px + #{$rightSideBarCollapseBtnHeight});
      }
    }
    &.with-footer {
      &.with-footer--sm {
        padding-bottom: 150px;
      }
      &.with-footer--lg {
        padding-bottom: 235px;
      }
    }
  }

  &.no-collapse {
    .rs-container--header {
      top: 0;
    }
    .rs-container--content.with-header {
      &.with-header-sm {
        padding-top: 30px;
      }
      &.with-header-lg {
        padding-top: 44px;
      }
    }
  }
}

// Border Radius
.br-b-xl {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.br-t-xl {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.br-0 {
  border-radius: 0px;
}

.br-xs {
  border-radius: 3px;
}

.br-s {
  border-radius: 5px;
}

.br-ss {
  border-radius: 7px;
}

.br-sm {
  border-radius: 10px;
}

.br-sl {
  border-radius: 15px;
}

.br-md {
  border-radius: 20px;
}

.divider-line {
  border-bottom: 1px solid $ldarkblack;
}

.divider-line.main-bg {
  border-bottom: 1px solid $mainBgColor;
}

.divider-line.grey {
  border-bottom: 1px solid $grey6d;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.r-0 {
  right: 0px;
}

.t-0 {
  top: 0px;
}

.fs18i-span > span {
  font-size: 18px !important;
}
.fw500i-span > span {
  font-weight: 500;
}

.italic {
  font-style: italic;
}
