/* Webfont: Lato-Regular */

@font-face {
  font-family: LatoWebBlack;
  src: url(../font/Lato/Lato-Regular.eot);
  /* IE9 Compat Modes */
  src: url(../font/Lato/Lato-Regular.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(../font/Lato/Lato-Regular.woff2) format('woff2'), /* Modern Browsers */
  url(../font/Lato/Lato-Regular.woff) format('woff'), /* Modern Browsers */
  url(../font/Lato/Lato-Regular.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Black */

@font-face {
  font-family: LatoWebBlack;
  src: url(../font/Lato/Lato-Black.eot);
  /* IE9 Compat Modes */
  src: url(../font/Lato/Lato-Black.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(../font/Lato/Lato-Black.woff2) format('woff2'), /* Modern Browsers */
  url(../font/Lato/Lato-Black.woff) format('woff'), /* Modern Browsers */
  url(../font/Lato/Lato-Black.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */

@font-face {
  font-family: LatoWebBlack;
  src: url(../font/Lato/Lato-Bold.eot);
  /* IE9 Compat Modes */
  src: url(../font/Lato/Lato-Bold.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(../font/Lato/Lato-Bold.woff2) format('woff2'), /* Modern Browsers */
  url(../font/Lato/Lato-Bold.woff) format('woff'), /* Modern Browsers */
  url(../font/Lato/Lato-Bold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */

@font-face {
  font-family: LatoWebBlack;
  src: url(../font/Lato/Lato-Light.eot);
  /* IE9 Compat Modes */
  src: url(../font/Lato/Lato-Light.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(../font/Lato/Lato-Light.woff2) format('woff2'), /* Modern Browsers */
  url(../font/Lato/Lato-Light.woff) format('woff'), /* Modern Browsers */
  url(../font/Lato/Lato-Light.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Medium */

@font-face {
  font-family: LatoWebBlack;
  src: url(../font/Lato/Lato-Medium.eot);
  /* IE9 Compat Modes */
  src: url(../font/Lato/Lato-Medium.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(../font/Lato/Lato-Medium.woff2) format('woff2'), /* Modern Browsers */
  url(../font/Lato/Lato-Medium.woff) format('woff'), /* Modern Browsers */
  url(../font/Lato/Lato-Medium.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Thin */

@font-face {
  font-family: LatoWebBlack;
  src: url(../font/Lato/Lato-Thin.eot);
  /* IE9 Compat Modes */
  src: url(../font/Lato/Lato-Thin.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(../font/Lato/Lato-Thin.woff2) format('woff2'), /* Modern Browsers */
  url(../font/Lato/Lato-Thin.woff) format('woff'), /* Modern Browsers */
  url(../font/Lato/Lato-Thin.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */

@font-face {
  font-family: LatoWebBlack;
  src: url(../font/Lato/Lato-Semibold.eot);
  /* IE9 Compat Modes */
  src: url(../font/Lato/Lato-Semibold.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(../font/Lato/Lato-Semibold.woff2) format('woff2'), /* Modern Browsers */
  url(../font/Lato/Lato-Semibold.woff) format('woff'), /* Modern Browsers */
  url(../font/Lato/Lato-Semibold.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: TTCommons-Thin */

@font-face{
  font-family: TTCommons;
  src: url(../font/TTCommons/TTCommons-Thin.ttf), url(../font/TTCommons/TTCommons-ThinItalic.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: TTCommons-ExtraLight */

@font-face{
  font-family: TTCommons;
  src: url(../font/TTCommons/TTCommons-ExtraLight.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: TTCommons-Light */
@font-face{
  font-family: TTCommons;
  src: url(../font/TTCommons/TTCommons-Light.ttf), url(../font/TTCommons/TTCommons-LightItalic.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: TTCommons-Regular */

@font-face{
  font-family: TTCommons;
  src: url(../font/TTCommons/TTCommons-Regular.ttf), url(../font/TTCommons/TTCommons-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: TTCommons-Medium */

@font-face{
  font-family: TTCommons;
  src: url(../font/TTCommons/TTCommons-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: TTCommons-DemiBold */

@font-face{
  font-family: TTCommons;
  src: url(../font/TTCommons/TTCommons-DemiBold.ttf), url(../font/TTCommons/TTCommons-DemiBoldItalic.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: TTCommons-Bold */

@font-face{
  font-family: TTCommons;
  src: url(../font/TTCommons/TTCommons-Bold.ttf), url(../font/TTCommons/TTCommons-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: TTCommons-ExtraBold */

@font-face{
  font-family: TTCommons;
  src: url(../font/TTCommons/TTCommons-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: TTCommons-Black */

@font-face{
  font-family: TTCommons;
  src: url(../font/TTCommons/TTCommons-Black.ttf), url(../font/TTCommons/TTCommons-BlackItalic.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: NulShockBD */

@font-face{
  font-family: 'Nulshock Rg';
  src: url(../font/NulShockBD/nulshockbd.ttf), format('truetype');
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Pangram */

@font-face{
  font-family: Pangram;
  src: url(../font/Pangram/Pangram-Regular.otf), format('opentype');
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Pangram Medium*/

@font-face{
  font-family: Pangram;
  src: url(../font/Pangram/Pangram-Medium.otf), format('opentype');
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Pangram Bold*/

@font-face{
  font-family: Pangram;
  src: url(../font/Pangram/Pangram-Bold.otf), format('opentype');
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
