@import '@/assets/styles/variables.scss';

.fc-white {
  color: white;
}

.fc-game-green {
  color: $gameGreen;
}

.fc-mid-green {
  color: $midGreen;
}

.fc-light-blue {
  color: $lightblue;
}

.fc-dark-cyan {
  color: $gamedarkcyan;
}

.fc-bright-purple {
  color: $brightpurple;
}

.fc-m-light-purple {
  color: $mlightpurple;
}

.fc-f-light-purple {
  color: $flightpurple;
}

.fc-light-grey {
  color: $lightgrey;
}

.fc-yellow {
  color: $yellow;
}

.fc-mid-yellow {
  color: $midyellow;
}

.fc-light-yellow {
  color: $lightyellow;
}

.fc-mid-green-blue {
  color: $midgreenblue;
}

.fc-gold {
  color: $gold;
}

.fc-dark-gold {
  color: $darkgold;
}

.fc-grey88 {
  color: $grey88;
}

.fc-brightyellow {
  color: $brightyellow;
}

.fc-chance-red {
  color: $chancered;
}

.fc-boat-1 {
  color: $boat1;
}