@import './variables.scss';
@import './fonts.scss';
@import './flex.scss';
@import './custom.scss';
@import './mixin.scss';
@import './fontcolor.scss';
@import './fontsize.scss';
@import './margin.scss';
@import './padding.scss';
@import './tabs.scss';
@mixin customizeScrollBar($scrWidth) {
  &::-webkit-scrollbar {
    width: $scrWidth;
  }
  &::-webkit-scrollbar-button {
    width: $scrWidth;
    height: 0px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: none;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: none;
  }
}

body {
  height: 100%;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: TTCommons, Pangram, LatoWebBlack, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px; // background-color: #3f4344;
  background-color: black; // min-width: $desktopMaxWidth;
  // max-width: $desktopMaxWidth;
  margin: auto; // @include customizeScrollBar($scrollbarWidth)
  overflow: auto;
}

// button {
//   font-family: LatoWebBlack, Arial, sans-serif;
// }
// label {
//   font-weight: 700;
// }
// html {
//   height: 100%;
//   box-sizing: border-box;
// }
// #__nuxt {
//   height: 100%;
// }
// *,
// *:before,
// *:after {
//   box-sizing: inherit;
// }
// .no-padding {
//   padding: 0px !important;
// }
// .padding-content {
//   padding: 4px 0;
// }
a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

span:focus {
  outline: none;
}

// .fr {
//   float: right;
// }
// .fl {
//   float: left;
// }
// .pr-5 {
//   padding-right: 5px;
// }
// .pl-5 {
//   padding-left: 5px;
// }
// .block {
//   display: block;
// }
// .pointer {
//   cursor: pointer;
// }
// .inlineBlock {
//   display: block;
// }
// .clearfix {
//   &:after {
//     visibility: hidden;
//     display: block;
//     font-size: 0;
//     content: " ";
//     clear: both;
//     height: 0;
//   }
// }
// aside {
//   background: #eef1f6;
//   padding: 8px 24px;
//   margin-bottom: 20px;
//   border-radius: 2px;
//   display: block;
//   line-height: 32px;
//   font-size: px2em(16);
//   color: #2c3e50;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   a {
//     color: #337ab7;
//     cursor: pointer;
//     &:hover {
//       color: rgb(32, 160, 255);
//     }
//   }
// }
// //main-container全局样式
// .main-container {
//   background: #323335; // background: #3f4344;
// }
// .app-container {
//   padding: 20px;
// }
// .components-container {
//   margin: 30px 50px;
//   position: relative;
// }
// .pagination-container {
//   margin-top: 30px;
// }
// .text-center {
//   text-align: center
// }
.navbar {
  height: $navbarHeight; // 70px;
  position: fixed; // left: 0;
  top: 0; // right: 0;
  width: 100%;
  max-width: $desktopMaxWidth;
  z-index: 1000;
  background: $navbarBgColor !important;
  color: white;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  border-bottom: 1px solid $normalBorderColor;
  padding: 0px 20px;
  .logo {}
  .navbar-item {
    color: $navbarItemColor;
    font-weight: 700;
    padding: 0 20px;
    cursor: pointer;
    transition: border-color .3s, background-color .3s, color .3s;
    div {
      border-bottom: 2px solid transparent;
    }
    &:hover {
      text-decoration: none;
      background-color: $navbarItemHoverColor;
    }
    &:active,
    &.active {
      div {
        color: $mainmenuActiveColor;
        border-bottom: 2px solid $mainmenuActiveColor;
      }
    }
    div {
      padding: 20px;
    }
  }
  .right-menu {
    .right-menu-drop-mini {
      display: none;
    }
  }
  @media (max-width: $navbarMinWidth) {
    .menu {
      display: none;
    }
    .right-menu {
      .right-menu-drop-mini {
        display: block;
      }
    }
  }
  @media (max-width: $navbarMobileMinWidth) {
    .menu {
      display: none;
    }
    .right-menu {
      display: none;
    }
  }
}

footer {
  background: $footerBgColor;
  z-index: 1000;
  a {
    margin: 0px 20px;
    color: $footerColor;
    font-size: $f12;
  }
  .seperator {
    width: 100%;
    height: 1px;
    background-color: $seperatorColor;
  }
}

@mixin contentStyle($marginLeft, $marginRight) {
  margin-top: $navbarHeight; // padding-top: $navbarHeight;
  margin-left: $marginLeft;
  margin-right: calc(#{$marginRight}/* + #{$normalScrollbarWidth}*/
  );
  // width: calc(100% - #{$marginLeft} - #{$marginRight}/* - #{$normalScrollbarWidth}*/
  // );
  // max-width: calc(100% - #{$marginLeft} - #{$marginRight}/* - #{$normalScrollbarWidth}*/
  // );
}

@mixin contentStyleImportant($marginLeft, $marginRight) {
  margin-top: $navbarHeight; // padding-top: $navbarHeight;
  margin-left: $marginLeft !important;
  margin-right: calc(#{$marginRight}/* + #{$normalScrollbarWidth}*/
  ) !important;
  // width: calc(100% - #{$marginLeft} - #{$marginRight}/* - #{$normalScrollbarWidth}*/
  // ) !important;
  // max-width: calc(100% - #{$marginLeft} - #{$marginRight}/* - #{$normalScrollbarWidth}*/
  // ) !important;
}

.hamburger {
  width: $hamburgerSize;
  height: $hamburgerSize;
  cursor: pointer;
  transition: background 0.3s;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    background: rgba(0, 0, 0, 0.025);
  }
}

.root-container {
  // width: 100%;
  min-width: 1370px;
  max-width: $desktopMaxWidth;
  margin: auto;
}
.app-main {
  background-color: $mainBgColor;
  position: relative;
  .scrollbar-wrapper {
    height: 100%;
    overflow: auto;
    @include customizeScrollBar($scrollbarWidth)
  }
  .no-scrollbar {
    overflow: auto;
    @include customizeScrollBar(0px)
  }
  // .sidebar-container {
  //   position: fixed;
  //   margin: auto;
  //   left: 0;
  //   right: 0;
  //   top: $navbarHeight;
  //   bottom: 0;
  //   max-width: $desktopMaxWidth;
  //   z-index: 999;
  // }

  .v-sidebar-menu {
    transition: width 0.28s, max-width 0.28s;
  //   // width: $leftSidebarWidth !important;
  //   // background-color: transparent; // $leftSideBarBg;
  //   position: fixed;
  //   top: 0px;
  //   left: 0;
  //   height: 100%;
    padding-top: $navbarHeight;
  //   bottom: 0;
    @media (min-width: $desktopMaxWidth) {
      left: calc(50% - #{$desktopMaxWidth} / 2);
    }
  //   z-index: 999;

    // .v-sidebar-menu {
      // position: absolute;
      // top: $navbarHeight;
      // background: transparent;
      // max-width: $collapseLeftSidebarWidth;
    .vsm--mobile-item {
      .vsm--badge {
        margin-right: 30px;
      }
    }
    .vsm--list {
      height: 100%;
      overflow: auto;
      @include customizeScrollBar($scrollbarWidth)
    }
    &.vsm_expanded {
      .vsm--item_open .vsm--link_level-1 {
        box-shadow: 3px 0px 0px 0px $yellow inset;
        .vsm--title {
          font-weight: 500;
        }
      }
    }
    &.vsm_collapsed {
      .menu-item {
        padding-left: 15px;
        padding-right: 0px;
      }
      .vsm--mobile-item {
        .menu-item {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
    .vsm--title {
      font-size: 16px;
    }
    .vsm--subtitle {
      font-size: 14px;
      font-weight: 400;
      white-space: normal;
      // max-height: 59px;
      line-height: 1.01;
      word-break: break-all;
    }
    .vsm--dropdown>.vsm--list {
      padding: 0px;
    }
    .vsm--dropdown .vsm--list {
      background-color: $subMenuBg;
    }
    .vsm--badge {
      position: relative;
      font-size: 14px;
      font-weight: 500; // right: $leftSideBarRightPadding;
      right: 0;
      margin-right: 0px !important;
      top: 0;
      transform: translateY(0);
      span.highlight {
        color: white;
      }
    }
    .vsm--link {
      display: flex;
    }
    .league-item--badge {
      margin-left: 10px;
    }
    // }
    .menu-item {
      height: 59px;
      line-height: 59px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 25px;
      padding-right: $leftSideBarRightPadding;
      color: $menuText;
      font-size: 17px;
      &:hover {
        color: $menuActiveText;
      }
    }
    .category-icon {
      width: 20px;
      height: 20px;
      margin-right: 14.5px; // width: 25px !important;
      // height: 25px !important;
      background-color: transparent !important;
    }
  }
  .rightsidebar {
    transition: width 0.28s, display 0.28s;
    width: $rightSideBarWidthSm;
    background-color: $rightSideBarActiveBg;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-top: $navbarHeight;
    bottom: 0;
    right: 0;
    @media (min-width: $desktopMaxWidth) {
      right: calc(50% - #{$desktopMaxWidth} / 2);
    }
    z-index: 999;
  }
  .mini-rightsidebar {
    transition: width .28s, right .28s;
    position: fixed;
    top: calc(#{$navbarHeight} + 40px);
    right: 0px;
    transform: translate(100px, 0px);
    z-index: 999;
  }
  .content {
    height: 100%;
    // width: calc(100% - #{$leftSidebarWidth} - #{$rightSideBarWidthSm});
    margin-left: $leftSidebarWidth;
    margin-right: $rightSideBarWidthSm;
    overflow: auto;
    z-index: 0; // position: fixed;
    // left: 0px;
    // right: 0px; // top: $navbarHeight;
    // bottom: 0px;
    // background: $mainBgColor;
  }
  &.show-left.show-right,
  &.show-left.hide-right.not-glued-to-right,
  &.hide-left.show-right.not-glued-to-left {
    .content {
      @include contentStyle($leftSidebarWidth, $rightSideBarWidthSm)
    }
  }
  &.show-left.hide-right.is-glued-to-right,
  &.hide-left.hide-right.not-glued-to-left.is-glued-to-right {
    .content {
      @include contentStyle($leftSidebarWidth, $collpaseRightSidebarWidth)
    }
  }
  &.hide-left.show-right.is-glued-to-left,
  &.hide-left.hide-right.is-glued-to-left.not-glued-to-right {
    .content {
      @include contentStyle($collapseLeftSidebarWidth, $rightSideBarWidthSm)
    }
  }
  &.hide-left.hide-right.is-glued-to-left.is-glued-to-right {
    .content {
      @include contentStyle($collapseLeftSidebarWidth, $collpaseRightSidebarWidth)
    }
  }
  &.hide-left.hide-right.not-glued-to-left.not-glued-to-right {
    .content {
      @include contentStyle($leftSidebarWidth, $rightSideBarWidthSm)
    }
  }
  &.is-static-to-left {
    &.show-right.is-static-to-right,
    &.hide-right.is-static-to-right,
    &.hide-right.is-glued-to-right {
      .content {
        @include contentStyle($collapseLeftSidebarWidth, $collpaseRightSidebarWidth)
      }
    }
    &.show-right.is-glued-to-right,
    &.show-right.not-glued-to-right,
    &.hide-right.not-glued-to-right {
      .content {
        @include contentStyle($collapseLeftSidebarWidth, $rightSideBarWidthSm)
      }
    }
  }
  &.is-static-to-right {
    &.show-left.is-static-to-left,
    &.hide-left.is-static-to-left,
    &.hide-left.is-glued-to-left {
      .content {
        @include contentStyle($collapseLeftSidebarWidth, $collpaseRightSidebarWidth)
      }
    }
    &.show-left.is-glued-to-left,
    &.show-left.not-glued-to-left,
    &.hide-left.not-glued-to-left {
      .content {
        @include contentStyle($leftSidebarWidth, $rightSideBarWidthSm)
      }
    }
  }
  &.no-left {
    &.show-right {
      .content {
        @include contentStyle(0px, $rightSideBarWidthSm)
      }
    }
    &.hide-right.is-glued-to-right {
      .content {
        @include contentStyle(0px, $collpaseRightSidebarWidth)
      }
    }
    &.hide-right.not-glued-to-right {
      .content {
        @include contentStyle(0px, $rightSideBarWidthSm)
      }
    }
  }
  &.no-right {
    &.show-left {
      .content {
        @include contentStyle($leftSidebarWidth, 0px)
      }
    }
    &.hide-left.is-glued-to-left {
      .content {
        @include contentStyle($collapseLeftSidebarWidth, 0px)
      }
    }
    &.hide-left.not-glued-to-left {
      .content {
        @include contentStyle($leftSidebarWidth, 0px)
      }
    }
  }
  &.no-left.no-right {
    .content {
      @include contentStyle(0px, 0px)
    }
  }
  &.hide-left {
    .v-sidebar-menu {
      // width: $collapseLeftSidebarWidth !important;
      // background-color: $leftSideBarBg;
      // background-color: transparent;
    }
    .content {
      transition: margin-left .28s, width .28s;
    }
  }
  &.hide-right {
    .rightsidebar {
      // display: none;
      width: 0px !important;
      background-color: $rightSideBarBg;
    }
    .content {
      transition: margin-right .28s, width .28s;
    }
    .mini-rightsidebar {
      transform: translate(0px, 0px);
      right: 0px;
      @media (min-width: $desktopMaxWidth) {
        right: calc(50% - #{$desktopMaxWidth} / 2 + 0px);
      }
    }
  }
  &.no-left {
    .v-sidebar-menu {
      width: 0px;
    }
  }
  &.no-right {
    .rightsidebar {
      width: 0px;
    }
    .mini-rightsidebar {
      display: none;
    }
  }
}

.hidden {
  display: none !important;
}
