@import '@/assets/styles/variables.scss';

.nav_class_match {
  border-bottom: 1px solid $grey50;
}

.nav_class_promo {
  border-bottom: 1px solid $grey29;
}

.nav_class_ticket {
  border: none;
}

.title_item_class.ticket {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-end !important;
}

.title_link_class {
  background: none !important;
  border-style: solid !important;
  border-color: $clrTransparent $clrTransparent $clrTransparent $clrTransparent !important;
  color: $lightgrey !important;
}

.title_link_class.match {
  padding: 10px 30px 20px 30px !important;
  border-width: 4px !important;
  font-family: Pangram;
  font-weight: bold;
}

.title_link_class.promo {
  border-width: 2px !important;
}

.title_link_class.ticket {
  border: none !important;
  padding-bottom: 0px;
}

.nav_class_ticket > div{
  margin-left: -10px;
}

.title_link_class.active{
  border-color: $clrTransparent $clrTransparent $mlightpurple $clrTransparent !important;
}

.title_link_class.active.match {
  color: white !important;
}

.title_link_class.active.promo {
  color: $mlightpurple !important;
}

.title_link_class.active.ticket {
  color: white !important;
  font-weight: normal;
  font-size: 15px;
}