$gray1a: #1a1a1a;
$grey29: #292929;
$grey33: #333333;
$grey40: #404040;
$grey45: #454545;
$grey4b: #4b4b4b;
$grey50: #505050;
$grey59: #595959;
$grey6d: #6d6d6d;
$grey68: #686868;
$grey88: #888888;
$greyAC: #ACACAC;
$yellow: #d19c27;
$purple: #b269fe;
// // sidebar
$menuText:white;
$menuActiveText: white;
$subMenuActiveText:$grey40; // https://github.com/ElemeFE/element/issues/12951
$menuBg:#212121;
$menuActiveBg: $purple;
$menuHover:$purple;
// // $subMenuBg:#1f2d3d;
$subMenuBg:#4b4f50;
$subMenuActiveBg: #4b4f50;
$subMenuHover: $purple;
// $sideBarWidth: 300px;
$desktopMaxWidth: 1920px;
$desktopMinWidth: 1373px;
$navbarHeight: 81px;
$navbarMinWidth: 1000px;
$navbarMobileMinWidth: 500px;
$footerLogoHeight: 55px;
$crashGraphMinHeight: 310px;
$crashGraphMaxHeight: 500px;
$crashContentVisibleHeight: 700px;
$crashUserListMinHeight: 230px;
$crashUserListMaxHeight: 480px;

$navbarBgColor: #3f4344;
$navbarItemColor: #888888;
$navbarItemHoverColor: #282828;
$navbarDropdownCaretColor: #5a5e66;
$normalBorderColor: #4b5056;
$walletColor: #e2b406;
$flightgold: #fff675;
$gold: #f9d029;
$darkgold: #f8a500;
$lightgold: #fed30a;
$footerBgColor: #3f4344;
$imgMaskColor: rgba(167, 83, 255, 0.6);
$footerColor: #9c9c9c;
$seperatorColor: #424242;
$navSeperatorColor: $normalBorderColor;
$mainBgColor: #323335;
$lightMainBgColor: #363c3d;
$collapseLeftSidebarWidth: 54px;
$leftSidebarWidth: 300px;
$scrollbarWidth: 0px;
$normalScrollbarWidth: 20px;
$hamburgerSize: 40px;
$rightSideBarWidthSm: 300px;
$rightSideBarWidthLg: 400px;
$rightSideBarCollapseBtnHeight: 30px;
$collpaseRightSidebarWidth: 0px;
$leftSideBarActiveBg: #212121;
$leftSideBarBg: $navbarBgColor;
$rightSideBarActiveBg: $navbarBgColor;
$rightSideBarBg: $navbarBgColor;
$f12: 12px;
$lightred: #fc5974;
$lightgrey: #88898B;
$brightyellow: #ffe776;
$lightyellow: #ffea3a;
$midyellow: #fdb11d;
$yelloworange: #ffcd05;
$darkorange: #ff8c34;
$orange: #fc7e07;
$darkgrey: #373d3e;
$blue:#2e73ff;
$pink: #eb22be;
$pinkpurple: #d240d8;
$darkpurple: #462f69;
$hoverPurple: #6e3ca2;
$purpleboat: #773db0;
$purple: #a34cfe;
$mlightpurple: #a753ff;
$mdarkpurple: #a554f9;
$ddarkpurple: #a34efa;
$lightpurple: #bc64e6;
$flightpurple: #b368ff;
$brightpurple: #ebc6ee;
$greencyan: #17ca6a;
$green: #35b019;
$bgGreen: #59d940;
$clrContainerBack: #4B4F50;
$clrDarkContainerBack: #404445;
$dark_back: #373d3e;
$ldarkblack: #434648;
$lightblue: #1aa6ff;
$darkblue: #3866c2;
$greenblue: #36d4ef;
$lightgreenblue: #5fe6fe;
$darkgreenblue: #35bad3;
$midgreenblue: #4bc0c0;
$gamedarkcyan: #4bc0c0;
$chancered: #ff656f;
$lightchancered: #fe7a84;
$darkchancered: #ce464e;
$gameBlue: #00f6ff;
$gameAlphaBlue: #00f6ff0f;
$gamePink: #eb25c4;
$gameAlphaPink: #eb25c40f;
$gameGreen: #77ff09;
$gameAlphaGreen: #77ff090f;
$gameDarkGreen: #30d900;
$gameAlphaDarkGreen: #30d9000f;
$midGreen:#07af00;
$midBlue: #004aaf;
$midYellow: #f9ff7f;
$clrTransparent: rgba(0, 0, 0, 0);
$clrLightDarkContainerBack: #393c3c;
$red: #ff0731;
$bgRed: #fb3939;
$bgLightRed: #ff5763;

$mainmenuActiveColor: #b269fe;

$jackUserBg0: #ff3f46;
$jackUserBg1: #ff8152;
$jackUserBg2: #19c351;
$jackUserBg3: #6a6efe;
$jackUserBg4: #a55aff;
$jackUserBg5: #ee3d96;
$jackUserBg6: #fa64ff;
$jackUserBg7: #41dfdf;

$boat1: #fe424b;
$boat2: #923edf;
$boat3: #d6b73c;
$boat4: #e5851f;
$boat5: #56d539;
$boat6: #e145ca;
$boat7: #39b6ff;
$boat8: #cc5d71;
$boat9: #4f9740;
$boat10: #49a8a3;
$boatfilter: #525556;
$boatvfilter: #707070;
$boatcancel: #eb3d35;
$boatcancelhover: #fb4d45;
$boatconfirm: #aa58ff;
$boatconfirmhover: #ba68ff;

$rightMenuMinHeight: 50px;
$clrSidebarText: #768197;
$leagueInactiveTxtColor: $lightgrey; //Replace this value correctly. Because you don't send asset folder.
$leftSideBarRightPadding: 19px;
// //add new
// $pageBackground: #3f4344;
// $lightGrayBorder: #88898b;
// $player1SelBorder: #d19c27;
// $player2Border: #563f77;
// $clrContainerBack: #4b4f50;
// $TicketRound: #484a4b;
// $PlayerInfoFirst: #404445;
// //Game page
// $game_blue: #004aaf;
// $game_green: #77ff09;
// $game_pink: #eb25c4;
// $game_disable_back: #373d3e;
// $game_descript_txt: #858689;
// $game_dark_cyan: #4bc0c0;
// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuActiveBg: $menuActiveBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg; // subMenuActiveBg: $subMenuActiveBg;
  // subMenuHover: $subMenuHover;
  // sideBarWidth: $sideBarWidth;
  // sideBarActiveBg: $sideBarActiveBg;
  // sideBarBg: $sideBarBg;
  navbarHeight: $navbarHeight;
  navbarBgColor: $navbarBgColor;
  navbarItemColor: $navbarItemColor;
  navbarItemHoverColor: $navbarItemHoverColor;
  normalBorderColor: $normalBorderColor;
  walletColor: $walletColor;
  desktopMaxWidth: $desktopMaxWidth;
  leftSidebarWidth: $leftSidebarWidth;
  collapseLeftSidebarWidth: $collapseLeftSidebarWidth;
  rightSidebarWidthSm: $rightSideBarWidthSm;
  mdarkpurple: $mdarkpurple;
}
