<template>
  <app-main
    :has-left-sidebar="true"
    :has-right-sidebar="true"
    :is-glued-to-left="true"
    :is-glued-to-right="true"
    :left-visible="sidebar.opened"
    :right-visible="rightsidebar.opened"
  >
    <div slot="left" class="v-full no-scrollbar">
      <sidebar class="leftsidebar v-full no-scrollbar"></sidebar>
    </div>
    <div slot="content">
      <main-content>
        <div
          slot="content"
          style="width: 1330px; height: 1200px; background: green;"
        ></div>
      </main-content>
      <div class="rightsidebar v-full"></div>
    </div>
  </app-main>
</template>

<script>
import AppMain from '@/components/pc/layout/Main'
import Sidebar from '@/components/pc/leftsidebar/index'
import MainContent from '@/components/pc/layout/MainContent'

export default {
  name: 'Games',
  components: {
    AppMain,
    Sidebar,
    MainContent
  },
  data() {
    return {}
  },
  computed: {
    sidebar() {
      return this.$store.getters['app/getSidebar']
    },
    rightsidebar() {
      return this.$store.getters['app/getRightSidebar']
    }
  },
  methods: {}
}
</script>
<style lang="scss" scoped></style>
