<template>
  <app-main
    :has-left-sidebar="true"
    :has-right-sidebar="true"
    :is-glued-to-left="false"
    :is-glued-to-right="true"
    :is-static-to-left="true"
    :left-visible="sidebar.opened"
    :right-visible="rightsidebar.opened"
  >
    <div slot="left" class="no-scrollbar v-full">
      <sidebar
        class="leftsidebar v-full"
        :items="leftSidebarItems"
        @item-click="onItemClick"
      ></sidebar>
    </div>
    <nuxt-child slot="content" />
    <right-sidebar-content slot="right" />
  </app-main>
</template>

<script>
import AppMain from '@/components/pc/layout/Main'
import Sidebar from '@/components/pc/leftsidebar/index'
import RightSidebarContent from '@/components/pc/esports/RightSidebarContent'
import LeftSidebarSpace from '@/components/pc/games/LeftSidebarSpace'

import LeagueItem from '@/components/pc/leftsidebar/LeagueItem'
import CustomLink from '@/components/pc/CustomLink'
import icons from '@/assets/imgs/category.js'
export default {
  name: 'Esports',
  components: {
    AppMain,
    Sidebar,
    RightSidebarContent
  },
  data() {
    return {
      leftSidebarItems: [
        {
          title: 'DOTA 2',
          class: 'menu-item fs14 flex-row-hl-vc',
          type: 'dota2',
          icon: {
            element: 'img',
            class: 'category-icon',
            attributes: {
              src: icons.icons.dota2
            }
          },
          badge: {
            element: 'span',
            class: 'fs12',
            text: '<span></span>'
          },
          child: [
            {
              component: CustomLink,
              props: {
                type: 'dota2',
                selectAllEnable: true,
                deselectAllEnable: true
              },
              inputs: {
                selectAll: this.selectAll,
                deselectAll: this.deselectAll
              }
            },
            {
              component: LeagueItem,
              props: {
                href: '/esports/test',
                icon: icons.icons.league_1,
                title: 'ESEA MDL Season 33 North',
                badge: 123,
                type: 'dota2',
                checked: true,
                active: true,
                index: 0
              },
              inputs: {
                checked: this.leagueChecked
              }
            },
            {
              component: LeagueItem,
              props: {
                href: '/esports/test',
                icon: icons.icons.league_2,
                title: 'ESEA Pro League session11',
                badge: 123,
                type: 'dota2',
                checked: true,
                active: true,
                index: 1
              },
              inputs: {
                checked: this.leagueChecked
              }
            },
            {
              component: LeagueItem,
              props: {
                href: '/esports/test',
                icon: icons.icons.league_3,
                title: 'Flashpoing',
                badge: 123,
                type: 'dota2',
                checked: true,
                active: true,
                index: 2
              },
              inputs: {
                checked: this.leagueChecked
              }
            },
            {
              component: LeagueItem,
              props: {
                href: '/esports/test',
                icon: icons.icons.league_4,
                title: '99Liga Session 14: Division 2.1',
                badge: 123,
                type: 'dota2',
                checked: true,
                active: true,
                index: 3
              },
              inputs: {
                checked: this.leagueChecked
              }
            }
          ]
        },
        {
          title: 'CS:GO',
          class: 'menu-item fs14 flex-row-hl-vc',
          type: 'cs',
          icon: {
            element: 'img',
            class: 'category-icon',
            attributes: {
              src: icons.icons['csgo-icon-6']
            }
          },
          badge: {
            element: 'span',
            class: 'fs12',
            text: '<span></span>'
          },
          child: [
            {
              component: CustomLink,
              props: {
                type: 'cs',
                selectAllEnable: true,
                deselectAllEnable: true
              },
              inputs: {
                selectAll: this.selectAll,
                deselectAll: this.deselectAll
              }
            },
            {
              component: LeagueItem,
              props: {
                href: '/esports/test',
                icon: icons.icons.league_1,
                title: '99Liga Seson 14: Division 2.2',
                badge: 123,
                type: 'cs',
                checked: true,
                active: true,
                index: 0
              },
              inputs: {
                checked: this.leagueChecked
              }
            },
            {
              component: LeagueItem,
              props: {
                href: '/esports/test',
                icon: icons.icons.league_2,
                title: 'Aorus Leagye 2020.Namabia',
                badge: 123,
                type: 'cs',
                checked: true,
                active: true,
                index: 1
              },
              inputs: {
                checked: this.leagueChecked
              }
            },
            {
              component: LeagueItem,
              props: {
                href: '/esports/test',
                icon: icons.icons.league_3,
                title: 'Aorus Leagye 2020.Brazil',
                badge: 123,
                type: 'cs',
                checked: true,
                active: true,
                index: 2
              },
              inputs: {
                checked: this.leagueChecked
              }
            },
            {
              component: LeagueItem,
              props: {
                href: '/esports/test',
                icon: icons.icons.league_4,
                title: 'Aorus Leagye 2020.Chile',
                badge: 123,
                type: 'cs',
                checked: true,
                active: true,
                index: 3
              },
              inputs: {
                checked: this.leagueChecked
              }
            }
          ]
        },
        {
          title: 'LEAGUE OF LEGEND',
          class: 'menu-item fs14 flex-row-hl-vc',
          type: 'legend',
          icon: {
            element: 'img',
            class: 'category-icon',
            attributes: {
              src: icons.icons.LOL
            }
          },
          badge: {
            element: 'span',
            class: 'fs12',
            text: '<span></span>'
          },
          child: [
            {
              component: CustomLink,
              props: {
                type: 'legend',
                selectAllEnable: true,
                deselectAllEnable: true
              },
              inputs: {
                selectAll: this.selectAll,
                deselectAll: this.deselectAll
              }
            },
            {
              component: LeagueItem,
              props: {
                href: '/esports/test',
                icon: icons.icons.league_1,
                title: 'ProLeague Season 11-Latin America',
                badge: 123,
                type: 'legend',
                checked: true,
                active: true,
                index: 0
              },
              inputs: {
                checked: this.leagueChecked
              }
            },
            {
              component: LeagueItem,
              props: {
                href: '/esports/test',
                icon: icons.icons.league_2,
                title: 'ProLeague Season 11-North America',
                badge: 123,
                type: 'legend',
                checked: true,
                active: true,
                index: 1
              },
              inputs: {
                checked: this.leagueChecked
              }
            },
            {
              component: LeagueItem,
              props: {
                href: '/esports/test',
                icon: icons.icons.league_3,
                title: 'ProLeague Season 11-Europe',
                badge: 123,
                type: 'legend',
                checked: true,
                active: true,
                index: 2
              },
              inputs: {
                checked: this.leagueChecked
              }
            },
            {
              component: LeagueItem,
              props: {
                href: '/esports/test',
                icon: icons.icons.league_4,
                title: 'Afreeca Starleague',
                badge: 123,
                type: 'legend',
                checked: true,
                active: true,
                index: 3
              },
              inputs: {
                checked: this.leagueChecked
              }
            }
          ]
        },
        {
          title: 'STARCRAFT',
          class: 'menu-item fs14 flex-row-hl-vc',
          type: 'starcraft',
          icon: {
            element: 'img',
            class: 'category-icon',
            attributes: {
              src: icons.icons.starcraft2
            }
          },
          badge: {
            element: 'span',
            class: 'fs12',
            text: '<span></span>'
          },
          child: [
            {
              component: CustomLink,
              props: {
                type: 'starcraft',
                selectAllEnable: true,
                deselectAllEnable: true
              },
              inputs: {
                selectAll: this.selectAll,
                deselectAll: this.deselectAll
              }
            },
            {
              component: LeagueItem,
              props: {
                href: '/esports/test',
                icon: icons.icons.league_1,
                title: 'Epic Origins League S1',
                badge: 123,
                type: 'starcraft',
                checked: true,
                active: true,
                index: 0
              },
              inputs: {
                checked: this.leagueChecked
              }
            },
            {
              component: LeagueItem,
              props: {
                href: '/esports/test',
                icon: icons.icons.league_2,
                title: 'Sigul Pro League',
                badge: 123,
                type: 'starcraft',
                checked: true,
                active: true,
                index: 1
              },
              inputs: {
                checked: this.leagueChecked
              }
            },
            {
              component: LeagueItem,
              props: {
                href: '/esports/test',
                icon: icons.icons.league_3,
                title: 'ESL SEA Championship 2020',
                badge: 123,
                type: 'starcraft',
                checked: true,
                active: true,
                index: 2
              },
              inputs: {
                checked: this.leagueChecked
              }
            },
            {
              component: LeagueItem,
              props: {
                href: '/esports/test',
                icon: icons.icons.league_4,
                title: 'ESL One Los Angeles 2020-Online: Southeast Asia',
                badge: 123,
                type: 'starcraft',
                checked: true,
                active: true,
                index: 3
              },
              inputs: {
                checked: this.leagueChecked
              }
            }
          ]
        },
        {
          title: 'RAINBOW SIX',
          class: 'menu-item fs14 flex-row-hl-vc',
          type: 'rainbow',
          icon: {
            element: 'img',
            class: 'category-icon',
            attributes: {
              src: icons.icons.rainbow
            }
          },
          badge: {
            element: 'span',
            class: 'fs12',
            text: '<span></span>'
          },
          child: [
            {
              component: CustomLink,
              props: {
                type: 'rainbow',
                selectAllEnable: true,
                deselectAllEnable: true
              },
              inputs: {
                selectAll: this.selectAll,
                deselectAll: this.deselectAll
              }
            },
            {
              component: LeagueItem,
              props: {
                href: '/esports/test',
                icon: icons.icons.league_1,
                title: 'GGBET StayHome Challenge',
                badge: 123,
                type: 'rainbow',
                checked: true,
                active: true,
                index: 0
              },
              inputs: {
                checked: this.leagueChecked
              }
            },
            {
              component: LeagueItem,
              props: {
                href: '/esports/test',
                icon: icons.icons.league_2,
                title: 'Movistar LPG Promotional Season3',
                badge: 123,
                type: 'rainbow',
                checked: true,
                active: true,
                index: 1
              },
              inputs: {
                checked: this.leagueChecked
              }
            },
            {
              component: LeagueItem,
              props: {
                href: '/esports/test',
                icon: icons.icons.league_3,
                title: 'Asian Gold Occupation S12',
                badge: 123,
                type: 'rainbow',
                checked: true,
                active: true,
                index: 2
              },
              inputs: {
                checked: this.leagueChecked
              }
            },
            {
              component: LeagueItem,
              props: {
                href: '/esports/test',
                icon: icons.icons.league_4,
                title: 'SIGUL Club League S2',
                badge: 123,
                type: 'rainbow',
                checked: true,
                active: true,
                index: 3
              },
              inputs: {
                checked: this.leagueChecked
              }
            }
          ]
        },
        {
          component: LeftSidebarSpace,
          hiddenOnCollapse: true,
          props: {
            space: '135px'
          }
        }
      ]
    }
  },
  computed: {
    sidebar() {
      return this.$store.getters['app/getSidebar']
    },
    rightsidebar() {
      return this.$store.getters['app/getRightSidebar']
    }
  },
  mounted() {
    for (let i = 0; i < this.leftSidebarItems.length; i++) {
      if (
        this.leftSidebarItems[i].type !== undefined &&
        this.leftSidebarItems[i].type !== ''
      ) {
        this.updateSidebar(this.leftSidebarItems[i].type)
        this.selectOrDeselectAllBtnEnable(
          this.leftSidebarItems[i].type,
          true,
          true
        )
        this.selectOrDeselectAllBtnEnable(
          this.leftSidebarItems[i].type,
          false,
          true
        )
      }
    }
  },
  methods: {
    onItemClick(event, item) {},
    findSidebarSubItem(game) {
      let subSidebarItem = null
      for (let i = 0; i < this.leftSidebarItems.length; i++) {
        if (
          this.leftSidebarItems[i].type !== undefined &&
          this.leftSidebarItems[i].type !== '' &&
          this.leftSidebarItems[i].type === game
        ) {
          subSidebarItem = this.leftSidebarItems[i]
          break
        }
      }
      return subSidebarItem
    },
    showLeagueCheckBox(game) {
      const subSidebarItem = this.findSidebarSubItem(game)
      if (subSidebarItem != null) {
        for (let i = 1; i < subSidebarItem.child.length; i++) {
          subSidebarItem.child[i].props.checkVisible = true
        }
      }
    },
    updateSidebar(game) {
      const subSidebarItem = this.findSidebarSubItem(game)
      if (subSidebarItem != null) {
        let total = 0
        let checkedTotal = 0
        for (let i = 1; i < subSidebarItem.child.length; i++) {
          total += subSidebarItem.child[i].props.badge
          if (subSidebarItem.child[i].props.checked) {
            checkedTotal += subSidebarItem.child[i].props.badge
          }
        }
        let badgeText = ''
        if (total === checkedTotal) {
          this.selectOrDeselectAllBtnEnable(game, true, false)
          this.selectOrDeselectAllBtnEnable(game, false, true)
          badgeText = '<span class="highlight">' + total + '</span>'
        } else {
          this.selectOrDeselectAllBtnEnable(game, true, true)
          this.selectOrDeselectAllBtnEnable(game, false, true)
          if (checkedTotal === 0) {
            this.selectOrDeselectAllBtnEnable(game, false, false)
          }

          badgeText =
            '<span class="highlight">' +
            checkedTotal +
            '</span>' +
            '<span>' +
            ' / ' +
            total +
            '</span>'
        }
        subSidebarItem.badge.text = badgeText
      }
    },
    selectOrDeselectAllBtnEnable(game, selectOrDeselect, enable) {
      const subSidebarItem = this.findSidebarSubItem(game)
      if (subSidebarItem != null) {
        if (selectOrDeselect) {
          subSidebarItem.child[0].props.selectAllEnable = enable
        } else {
          subSidebarItem.child[0].props.deselectAllEnable = enable
        }
      }
    },
    selectOrDeselectAll(game, select) {
      this.showLeagueCheckBox(game)
      this.selectOrDeselectAllBtnEnable(game, true, !select)
      this.selectOrDeselectAllBtnEnable(game, false, select)
      const subSidebarItem = this.findSidebarSubItem(game)
      if (subSidebarItem != null) {
        for (let i = 1; i < subSidebarItem.child.length; i++) {
          subSidebarItem.child[i].props.checked = select
          subSidebarItem.child[i].props.active = select
        }
      }
      this.updateSidebar(game)
    },
    selectAll(game) {
      this.selectOrDeselectAll(game, true)
    },
    deselectAll(game) {
      this.selectOrDeselectAll(game, false)
    },
    leagueChecked(game, index, checked) {
      const subSidebarItem = this.findSidebarSubItem(game)
      if (subSidebarItem != null) {
        subSidebarItem.child[index + 1].props.checked = checked
        subSidebarItem.child[index + 1].props.active = checked
      }
      this.updateSidebar(game)
    }
  }
}
</script>
<style lang="scss" scoped></style>
