<template>
  <app-main
    :has-left-sidebar="true"
    :has-right-sidebar="true"
    :is-glued-to-left="true"
    :is-glued-to-right="true"
    :left-visible="sidebar.opened"
    :right-visible="rightsidebar.opened"
  >
    <div slot="left" class="no-scrollbar v-full">
      <sidebar class="leftsidebar v-full" :items="leftSidebarItems"></sidebar>
    </div>
    <nuxt-child slot="content" />
    <right-sidebar-content slot="right" />
  </app-main>
</template>

<script>
import AppMain from '@/components/pc/layout/Main'
import Sidebar from '@/components/pc/leftsidebar/index'
import LeftSidebarSpace from '@/components/pc/games/LeftSidebarSpace'
import RightSidebarContent from '@/components/pc/games/RightSidebarContent'
import variables from '@/assets/styles/variables.scss'

export default {
  name: 'Games',
  components: {
    AppMain,
    Sidebar,
    RightSidebarContent
  },
  data() {
    return {
      leftSidebarItems: [
        {
          href: '/games/roulette',
          title: 'Roulette',
          class: 'menu-item fw500i-span flex-row-hl-vc',
          icon: {
            element: 'svg-icon',
            class: 'category-icon',
            attributes: {
              'icon-class': 'icon_roulette'
            }
          }
        },
        {
          href: '/games/ladder',
          title: 'Ladder',
          class: 'menu-item fw500i-span flex-row-hl-vc',
          icon: {
            element: 'svg-icon',
            class: 'category-icon',
            attributes: {
              'icon-class': 'icon_ladder'
            }
          }
        },
        {
          href: '/games/crash',
          title: 'Crash',
          class: 'menu-item fw500i-span flex-row-hl-vc',
          icon: {
            element: 'svg-icon',
            class: 'category-icon',
            attributes: {
              'icon-class': 'icon_crash'
            }
          }
        },
        {
          href: '/games/jackpot',
          title: 'Jackpot',
          class: 'menu-item fw500i-span flex-row-hl-vc',
          icon: {
            element: 'svg-icon',
            class: 'category-icon',
            attributes: {
              'icon-class': 'icon_jackpot'
            }
          }
        },
        {
          href: '/games/boat_racing',
          title: 'Boat Racing',
          class: 'menu-item fw500i-span flex-row-hl-vc',
          icon: {
            element: 'svg-icon',
            class: 'category-icon',
            attributes: {
              'icon-class': 'icon_boatracing'
            }
          }
        },
        {
          href: '/games/action_games',
          title: 'Action Games',
          class: 'menu-item fw500i-span flex-row-hl-vc',
          icon: {
            element: 'svg-icon',
            class: 'category-icon',
            attributes: {
              'icon-class': 'icon_actiongame'
            }
          }
        },
        {
          component: LeftSidebarSpace,
          hiddenOnCollapse: true,
          props: {
            space: '250px'
          }
        },
        {
          href: '/games/leaderboard',
          title: 'Leaderboard',
          class: 'menu-item fw500i-span flex-row-hl-vc',
          icon: {
            element: 'svg-icon',
            class: 'category-icon',
            attributes: {
              'icon-class': 'icon_leaderboard'
            }
          }
        },
        {
          href: '/games/rewards',
          title: 'Rewards',
          class: 'menu-item fw500i-span flex-row-hl-vc',
          icon: {
            element: 'svg-icon',
            class: 'category-icon',
            attributes: {
              'icon-class': 'icon_reward'
            }
          },
          badge: {
            element: 'span',
            class: 'fs12',
            text:
              '<div style="color: ' +
              variables.mdarkpurple +
              ';' +
              'font-size: 15px' +
              ';">' +
              '<img src="' +
              '/imgs/info_icon.png' +
              '" ' +
              'style="margin-right: 5px"' +
              '/>' +
              '08:31:29</div>'
          }
        },
        {
          component: LeftSidebarSpace,
          hiddenOnCollapse: true,
          props: {
            space: '135px'
          }
        }
      ]
    }
  },
  computed: {
    sidebar() {
      return this.$store.getters['app/getSidebar']
    },
    rightsidebar() {
      return this.$store.getters['app/getRightSidebar']
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped></style>
