<template>
  <div
    class="round_btn fs11 bold pointer flex-row-hc-vc"
    :class="classObj"
    @click="onClickBtn()"
  >
    <span class="p-l-10 p-r-15">{{ lblText }}</span>
    <svg-icon :icon-class="iconState" class="ic_size_20" />
  </div>
</template>
<script>
export default {
  name: 'Roulette',
  props: {
    lblText: {
      type: String,
      default: ''
    },
    backStyle: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      btnState: 0,
      iconState: 'angle_down'
    }
  },
  computed: {
    classObj: {
      get() {
        return {
          green_back: this.backStyle === 'green',
          purple_back: this.backStyle === 'purple'
        }
      }
    }
  },
  methods: {
    onClickBtn() {
      if (this.btnState === 0) {
        this.btnState = 1
        this.iconState = 'angle_up'
      } else {
        this.btnState = 0
        this.iconState = 'angle_down'
      }
      this.$emit('btn-state-changed', this.btnState)
    }
  }
}
</script>
<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.ic_size_20 {
  width: 20px;
  height: 20px;
}

.round_btn {
  border-radius: 5px;
  min-width: 80px;
  color: white;
  padding: 8px 5px;
}

.green_back {
  background: $green;
}

.green_back:hover {
  background: $bgGreen;
}

.purple_back {
  background: $mlightpurple;
}

.purple_back:hover {
  background: $lightpurple;
}
</style>
