<template>
  <div class="coin_container flex-space-between-vc" style="min-width: 350px;">
    <svg-icon
      icon-class="coin_1k"
      class="ic_size_54 pointer m-r-5"
      @click="onBetting(0)"
    />
    <svg-icon
      icon-class="coin_10k"
      class="ic_size_54 pointer m-r-5"
      @click="onBetting(1)"
    />
    <svg-icon
      icon-class="coin_100k"
      class="ic_size_54 pointer m-r-5"
      @click="onBetting(2)"
    />
    <svg-icon
      icon-class="coin_half"
      class="ic_size_54 pointer m-r-5"
      @click="onBetting(3)"
    />
    <svg-icon
      icon-class="coin_double"
      class="ic_size_54 pointer m-r-5"
      @click="onBetting(4)"
    />
    <svg-icon
      icon-class="coin_max"
      class="ic_size_54 pointer m-r-5"
      @click="onBetting(5)"
    />
  </div>
</template>

<script>
export default {
  name: 'CoinBettingBox',
  methods: {
    onBetting(betAmount) {
      this.$emit('on-betting', betAmount)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.coin_container {
  height: 58px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.ic_size_54 {
  width: 54px;
  height: 54px;
}
</style>
