<template>
  <div
    class="flex-row-hc-vc ic_size_30"
    :class="clrStyle"
    @click="onClrSelect()"
  ></div>
</template>

<script>
export default {
  name: 'ColorSelector',
  components: {},
  props: {
    colorStyle: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      value: this.selectState,
      clrStyle: this.clrStyle
    }
  },
  created() {
    this.selectState = false
    this.clrStyle = this.colorStyle
  },
  methods: {
    onClrSelect() {
      this.selectState = !this.selectState
      if (this.selectState) this.clrStyle = this.colorStyle + ' active'
      else this.clrStyle = this.colorStyle
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.ic_size_30 {
  min-width: 26px;
  min-height: 26px;
  border-radius: 5px;
  cursor: pointer;
}

.blue {
  border: 2px solid $blue;
  background: $blue;
}

.green {
  border: 2px solid $greencyan;
  background: $greencyan;
}

.pink {
  border: 2px solid $gamePink;
  background: $gamePink;
}

.ic_size_30.active {
  border: 2px solid white;
}
</style>
