<template>
  <div class="flex-col-hc-vt">
    <div class="top_pane h-full">
      <slot name="top-pane"></slot>
    </div>
    <div class="bottom_pane">
      <slot name="bottom-pane"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DividedBox',
  props: {},
  computed: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.divided_box {
  background-color: $darkgrey;
  border-radius: 7px;
}

.divided_box .top_pane {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 1px solid $footerBgColor;
}

.divided_box .bottom_pane {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
</style>
