<template>
  <div>
    <div class="gem-box-container flex-row-hl-vc">
      <svg-icon :icon-class="gemImg" class="ic_size_20" />
      <span class="text-white fs13">{{ value }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'GemBox',
  props: {
    gemImg: {
      type: String,
      default: ''
    },
    value: {
      type: Number,
      default: 0
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@/assets/styles/variables.scss';

.gem-box-container {
  border: 1px solid $mlightpurple;
  background: $darkpurple;
  padding: 1px !important;
  border-radius: 6px;
}

.ic_size_20 {
  width: 20px;
  height: 20px;
}

.gem-box-container span {
  margin-left: 12px;
  margin-right: 12px;
}
</style>
