<template>
  <div class="jackpot_title_container flex-col-hc-vc">
    <img src="/imgs/roulette/jackpot.png" />
    <div class="score_box fs17 bold fc-white flex-row-hc-vc">
      <svg-icon icon-class="toll_icon" class="ic_size_20 m-r-10" />
      <span>{{ potValue }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'JackpotTitle',
  props: {
    potValue: {
      type: Number,
      default: 0
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.jackpot_title_container {
  position: absolute;
  width: calc(100% - 80px);
  bottom: 0px;
}

.jackpot_title_container img {
  width: 35%;
  max-width: 210px;
}

.score_box {
  width: 20%;
  height: 42px;
  background-image: linear-gradient(to right, #a656f9, #8b1efd);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.ic_size_20 {
  width: 20px;
  height: 20px;
}
</style>
