<template>
  <shadow-box
    :has-content-box="false"
    :has-shadow="false"
    class="p-t-10 p-b-10"
  >
    <div slot="shadow-box-content" class="flex-col-hc-vt">
      <div class="flex-space-between-vc h-full p-l-10 p-r-10">
        <div class="fs19 fc-white ls1">Potential Profit</div>
        <toll-box :purple="false" :bet="1000" />
      </div>
      <div class="divider-line h-full m-t-5 m-b-5"></div>
      <div class="h-full m-t-5 p-l-10 p-r-10">
        <win-x-box
          :color-index="index"
          :user-info="userTopInfo"
          :multipler="index === 1 ? 14 : 2"
          class="m-b-10"
        />
        <div class="flex-space-between-vc h-full">
          <user-count-box :count="aryUserInfo.length" />
          <toll-box
            :purple="false"
            :small-font="true"
            :bet="totalBet"
            :large-icon="false"
          />
        </div>
      </div>
      <div class="divider-line h-full m-b-10"></div>
      <div class="p-l-10 p-r-10 h-full m-b-25">
        <div class="flex-space-between">
          <user-top-box :info="userTopInfo" :color-index="index" />
          <toll-box
            :purple="false"
            :small-font="true"
            :bet="userTopInfo.bettingval"
            :large-icon="false"
          />
        </div>
      </div>
      <div class="p-l-10 p-r-10 h-full">
        <usre-avatar-box
          v-for="(item, i) in aryUserInfo"
          :key="i"
          :user-img="item.userimg"
          :user-name="item.username"
          :diamond-count="item.diamondCount"
          :betting-val="item.bettingval"
          :background-mode="i % 2"
          class="m-t-5 m-b-5"
        />
      </div>
    </div>
  </shadow-box>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import UsreAvatarBox from '@/components/pc/games/roulette/UserAvatarBox.vue'
import UserCountBox from '@/components/pc/games/roulette/UserCountBox.vue'
import WinXBox from '@/components/pc/games/roulette/WinXBox.vue'
import UserTopBox from '@/components/pc/games/roulette/UserTopBox.vue'
import TollBox from '@/components/pc/games/TollBox.vue'

export default {
  name: 'PotentialProfitBox',
  components: {
    ShadowBox,
    UsreAvatarBox,
    TollBox,
    UserCountBox,
    WinXBox,
    UserTopBox
  },
  props: {
    index: {
      type: Number,
      default: 0
    },
    aryUserInfo: {
      type: Array,
      default: null,
      request: true
    },
    userTopInfo: {
      type: Object,
      default: null,
      request: true
    }
  },
  data() {
    return {}
  },
  computed: {
    totalBet() {
      let totalBetting = 0

      this.aryUserInfo.forEach(function(item) {
        totalBetting += item.bettingval
      })

      return totalBetting
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped></style>
