<template>
  <div class="flex-row-hc-vc preview-box h-full">
    <preview-game-icon
      v-for="(item, i) in previewRes"
      :key="i"
      :res-type="item.type"
    />
  </div>
</template>

<script>
import PreviewGameIcon from '@/components/pc/games/roulette/PreviewGameIcon.vue'

export default {
  name: 'PreviewGameResult',
  components: {
    PreviewGameIcon
  },
  props: {
    previewRes: {
      type: Array,
      default() {
        return []
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
.preview-box {
  max-width: 280px;
  width: calc(100% - 50px);
}
</style>
