<template>
  <img :src="images.items[resType]" class="preview-icon-box" />
</template>

<script>
import images from '@/assets/imgs/preview_gem_icon.js'

export default {
  name: 'PreviewGameIcon',
  props: {
    resType: {
      type: String,
      default: ''
    }
  },
  computed: {
    images() {
      return images
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
.preview-icon-box {
  width: calc(100% / 7);
}
</style>
