<template>
  <div class="roulette_scroller_container">
    <div class="h-full roullete_scroller">
      <div class="svg_container" :style="roulettePos"></div>
    </div>
    <img src="/imgs/roulette_pointer_arrows.png" class="pointer_img" />
  </div>
</template>

<script>
export default {
  name: 'RouletteBar',
  components: {},
  props: {
    offsetPos: {
      type: Number,
      default: 0
    }
  },
  computed: {
    roulettePos() {
      const pos = 'background-position: ' + this.offsetPos + 'px;'
      return pos
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.roulette_scroller_container {
  position: relative;
}

.roullete_scroller {
  display: block;
  border-radius: 20px;
  border: 2px solid $mlightpurple;
  background: $darkpurple;
  overflow: hidden;
  flex-wrap: nowrap;
}

.svg_container {
  line-height: 1;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 69px;
  width: 100%;
  background-image: url('/imgs/roulette/rollbar.png');
}

.svg_container svg {
  width: 52px;
  height: 52px;
}

.pointer_img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: calc(50% - 14px);
  top: -6px;
}
</style>
