<template>
  <div class="progress_container h-full bold text-center fs16 fc-white">
    <div class="flex-row-hc-vc progress_bar h-full v-full" :style="fmtPrgs">
      <svg-icon icon-class="icon_clock" class="m-r-10" />
      <span v-if="curState === 'COUNTING'" class="clip-text">
        {{ progressValue }} Sec
      </span>
      <span v-else class="clip-text">{{ curState }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TimeProgressBar',
  props: {
    progressValue: {
      type: Number,
      default: 0
    },
    curState: {
      type: String,
      default: 'WAIT SPINNING'
    },
    maxValue: {
      type: Number,
      default: 15
    }
  },
  computed: {
    fmtPrgs() {
      const strStyle =
        'background-size: ' +
        (this.progressValue * 100) / this.maxValue +
        '% 100%;'
      return strStyle
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.progress_container {
  border: 2px solid $pinkpurple;
  height: 38px;
  border-radius: 10px;
  background-color: $darkgrey;
}

.progress_bar {
  background: linear-gradient(to right, $lightpurple, $pink);
  background-repeat: no-repeat;
  border-radius: 7px;
}

.clip-text {
  text-overflow: clip;
  overflow: hidden;
  min-width: 80px;
}
</style>
