<template>
  <div class="flex-row-hl-vc">
    <img :src="aryUserImg.items[info.topname]" class="top-blue-icon m-r-10" />
    <div class="flex-col-ht-vc">
      <div class="fs12 fw700">{{ info.toptitle }}</div>
      <div class="fs10 fc-white fw300">{{ info.topname }}</div>
    </div>
  </div>
</template>

<script>
import aryUserImg from '@/assets/imgs/users.js'

export default {
  name: 'TollBox',
  components: {},
  props: {
    info: {
      type: Object,
      default: null,
      request: true
    }
  },
  computed: {
    aryUserImg() {
      return aryUserImg
    }
  }
}
</script>

<style lang="scss" scoped>
.top-blue-icon {
  width: 40px;
}
</style>
