<template>
  <div class="flex-row-hl-vc fc-bright-purple fs17 fw500">
    <img :src="userImg" class="name-icon m-r-10" />
    {{ name }}
  </div>
</template>

<script>
export default {
  name: 'UserNameBox',
  components: {},
  props: {
    name: {
      type: String,
      default: 'Username123'
    },
    userImg: {
      type: String,
      default: 'imgs/users/default.png'
    }
  }
}
</script>

<style lang="scss" scoped>
.name-icon {
  width: 45px;
}
</style>
