<template>
  <shadow-box
    :is-lightgray-back="false"
    :has-content-box="false"
    :has-shadow="false"
    class="avatar-box"
    :class="classObj"
  >
    <div slot="shadow-box-content" class="flex-space-between-vc h-full">
      <div class="flex-row-hl-vc">
        <diamond-box
          class="m-r-10"
          :diamonds="diamondCount"
          :user-name="userName"
        />
        <span class="fc-white fs14 fw600">{{ userName }}</span>
      </div>
      <toll-box :bet="bettingVal" :purple="false" :large-icon="false" />
    </div>
  </shadow-box>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import DiamondBox from '@/components/pc/games/DiamondBox.vue'
import TollBox from '@/components/pc/games/TollBox.vue'

import aryUserImg from '@/assets/imgs/users.js'

export default {
  name: 'UserAvatarBox',
  components: {
    ShadowBox,
    DiamondBox,
    TollBox
  },
  props: {
    userName: {
      type: String,
      default: 'Username123'
    },
    diamondCount: {
      type: Number,
      default: 0
    },
    bettingVal: {
      type: Number,
      default: 0
    },
    backgroundMode: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {}
  },
  computed: {
    aryUserImg() {
      return aryUserImg
    },
    classObj: {
      get() {
        return {
          'transparent-back': this.backgroundMode !== 0
        }
      }
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
.avatar-box {
  padding: 5px 0px 5px 8px;
  border-radius: 7px;
}

.transparent-back {
  background: none;
}
</style>
