<template>
  <div class="flex-row-hl-vc fc-white user-count-box">
    <svg-icon icon-class="user_count" class="count-icon m-r-10" />
    <span class="bold fs16">{{ count }}</span>
  </div>
</template>

<script>
export default {
  name: 'UserCountBox',
  components: {},
  props: {
    count: {
      type: Number,
      default: 0
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.count-icon {
  width: 25px;
  height: 25px;
}

.user-count-box {
  padding: 10px;
}
</style>
