<template>
  <div class="flex-row-hl-vc" :class="classObj">
    <diamond-box
      class="m-r-10"
      :diamonds="info.diamondCount"
      :color-index="3"
      :user-name="info.topname"
      :is-large="true"
    />
    <!--img :src="aryUserImg.items[info.topname]" class="top-blue-icon m-r-10" /-->
    <div class="flex-col-ht-vc">
      <div class="fs12 fw700">{{ info.toptitle }}</div>
      <div class="fs10 fc-white fw300">{{ info.topname }}</div>
    </div>
  </div>
</template>

<script>
import DiamondBox from '@/components/pc/games/DiamondBox.vue'

import aryUserImg from '@/assets/imgs/users.js'

export default {
  name: 'TollBox',
  components: {
    DiamondBox
  },
  props: {
    info: {
      type: Object,
      default: null,
      request: true
    },
    colorIndex: {
      type: Number,
      default: 0
    }
  },
  computed: {
    aryUserImg() {
      return aryUserImg
    },
    classObj: {
      get() {
        return {
          'is-blue': this.colorIndex === 0,
          'is-green': this.colorIndex === 1,
          'is-pink': this.colorIndex === 2
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.top-icon {
  width: 40px;
}

.is-blue {
  color: $lightblue;
}

.is-green {
  color: $midGreen;
}

.is-pink {
  color: $gamePink;
}
</style>
