<template>
  <div
    class="flex-space-between-vc fs15 fw700 h-full pd-5 br-sm"
    :class="classObj"
  >
    <user-top-blue-box :info="userInfo" />
    <div class="flex-row-hc-vc m-r-20">
      WIN 2X
    </div>
  </div>
</template>

<script>
import UserTopBlueBox from '@/components/pc/games/roulette/UserTopBlueBox.vue'

export default {
  name: 'Win2xBox',
  components: {
    UserTopBlueBox
  },
  props: {
    userInfo: {
      type: Object,
      default: null,
      request: true
    },
    colorIndex: {
      type: Number,
      default: 1
    }
  },
  computed: {
    classObj: {
      get() {
        return {
          'is-blue': this.colorIndex === 0,
          'is-green': this.colorIndex === 1,
          'is-pink': this.colorIndex === 2
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.is-pink {
  color: $gamePink;
  border: solid 1px $gamePink;
  background-color: $gameAlphaPink;
}

.is-blue {
  color: $gameBlue;
  border: solid 1px $gameBlue;
  background-color: $gameAlphaBlue;
}

.is-green {
  color: $gameGreen;
  border: solid 1px $gameGreen;
  background-color: $gameAlphaGreen;
}
</style>
