<template>
  <div
    class="flex-space-between-vc fs15 fw700 h-full br-sm p-l-20 p-r-20 p-t-15 p-b-15"
    :class="classObj"
  >
    <div class="flex-space-between h-full fc-white">
      <span>{{ userInfo.topname }}</span>
      <span>WIN {{ multipler }}X</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'WinXBox',
  components: {},
  props: {
    userInfo: {
      type: Object,
      default: null,
      request: true
    },
    multipler: {
      type: Number,
      default: 2
    },
    colorIndex: {
      type: Number,
      default: 1
    }
  },
  computed: {
    classObj: {
      get() {
        return {
          'is-blue': this.colorIndex === 0,
          'is-green': this.colorIndex === 1,
          'is-pink': this.colorIndex === 2
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.is-pink {
  background-color: $gamePink;
}

.is-blue {
  background-color: $darkblue;
}

.is-green {
  background-color: $midGreen;
}
</style>
