<template>
  <div>
    <div class="custom-link">
      <div class="custom-link--container flex-space-between-vc">
        <div :class="selectAllClassObj" @click="selectAll">All events</div>
        <div :class="deselectAllClassObj" @click="deselectAll">Clear</div>
      </div>
    </div>
    <div class="custom-link--seperator" />
  </div>
</template>

<script>
export default {
  components: {},
  props: {
    type: {
      type: String,
      default: ''
    },
    selectAllEnable: {
      type: Boolean,
      default: true
    },
    deselectAllEnable: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {}
  },
  computed: {
    selectAllClassObj: {
      get() {
        return {
          'custom-link--item': true,
          disabled: this.selectAllEnable === false,
          enabled: this.selectAllEnable
        }
      }
    },
    deselectAllClassObj: {
      get() {
        return {
          'custom-link--item': true,
          disabled: this.deselectAllEnable === false,
          enabled: this.deselectAllEnable
        }
      }
    }
  },
  methods: {
    selectAll() {
      if (this.selectAllEnable) this.$emit('selectAll', this.type)
    },
    deselectAll() {
      if (this.deselectAllEnable) this.$emit('deselectAll', this.type)
    }
  }
}
</script>
<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
.custom-link {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 25px;
  padding-right: $leftSideBarRightPadding;
  .custom-link--container {
    height: 54px;
    line-height: 54px;
    font-size: 16px;
    color: white;
  }
  .custom-link--item {
    cursor: pointer;
    &.enabled {
      color: $orange;
    }
    &:hover.enabled {
      //background: $navbarBgColor;
      color: white;
      text-decoration: underline;
    }
  }
}
.custom-link--seperator {
  height: 1px;
  background: #3c4148;
}
</style>
