<template>
  <div class="pointer" @click="toggleClick">
    <svg-icon icon-class="hamburger" style="width: 100%; height: 100%;" />
  </div>
</template>

<script>
export default {
  name: 'Hamburger',
  props: {},
  methods: {
    toggleClick() {
      this.$emit('toggleClick')
    }
  }
}
</script>

<style scoped>
/* .hamburger {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.hamburger.is-active {
  transform: rotate(180deg);
} */
</style>
