<template>
  <footer class="br-t-xl h-full">
    <div class="h-full flex-row-hc-vc">
      <footer-logo />
    </div>
    <div class="h-full" style="padding: 30px;">
      <div class="h-full text-center">
        <nuxt-link to="#" class="fs14">Privacy and Security</nuxt-link>
        <nuxt-link to="#" class="fs14">Responsible Gaming</nuxt-link>
        <nuxt-link to="#" class="fs14">Terms and Service</nuxt-link>
        <nuxt-link to="#" class="fs14">Affiliate</nuxt-link>
        <nuxt-link to="#" class="fs14">FAQ</nuxt-link>
        <nuxt-link to="#" class="fs14">Legal</nuxt-link>
        <nuxt-link to="#" class="fs14">Pravably Fair</nuxt-link>
        <nuxt-link to="#" class="fs14">About</nuxt-link>
      </div>
    </div>
    <div class="h-full seperator"></div>
    <div class="h-full text-center copyright fs14" style="padding: 30px;">
      Copyright © 2020 tarobet.com. All rights reserved. This site is not
      associate with Valve Corp.
    </div>
  </footer>
</template>
<script>
import FooterLogo from '@/components/pc/layout/footer/FooterLogo'
export default {
  name: 'Footer',
  components: {
    FooterLogo
  },
  data() {
    return {}
  },
  computed: {},
  methods: {}
}
</script>
<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
.copyright {
  color: $footerColor;
}
</style>
