<template>
  <b-modal
    id="login"
    hide-footer
    centered
    content-class="login_dialog"
    header-class="login_header"
  >
    <template slot="modal-header">
      <div class="v-full h-full flex-space-between-vc">
        <span class="bold fs28 fc-white">{{ dlgType }}</span>
        <div class="close_container">
          <svg-icon
            icon-class="close_bt"
            class="ic_size_27 pointer"
            @click="closeDialog()"
          />
        </div>
      </div>
    </template>
    <template slot="default">
      <div class="h-full v-full login_container flex-col-hc-vc">
        <span v-if="!isReset" class="fc-grey88 fs16 fw600">
          Log in via Social Networks.
        </span>
        <span v-else class="fc-grey88 fs16 fw600">
          Confirm your e-mail address below to begin password reset Process
        </span>
        <div v-if="!isReset" class="border_box flex-space-between-vc">
          <img
            v-for="(items, i) in aryContact.items"
            :key="i"
            :src="items"
            class="mg-10 ic_size_48 pointer img_btn"
          />
        </div>
        <div v-if="!isReset" class="m-t-25">
          <span class="fc-grey88 fs16 fw500">
            Username
          </span>
          <span v-if="!isRegistration" class="fc-grey88 fs16 fw500">
            or Email:
          </span>
          <div class="border_box flex-row-hc-vc h-full">
            <div class="left_box flex-row-hc-vc">
              <svg-icon icon-class="icon_username" class="ic_size_27" />
            </div>
            <div class="h-full pd-15">
              <input
                v-model="form.email"
                placeholder="ex: Andrew Kim"
                class="m-r-10 h-full v-full fc-white"
              />
            </div>
          </div>
        </div>
        <div v-if="!isLogin" class="m-t-15">
          <span class="fc-grey88 fs16 fw500">
            Your Email:
          </span>
          <div class="border_box flex-row-hc-vc h-full">
            <div class="left_box flex-row-hc-vc">
              <svg-icon icon-class="icon_email" class="ic_size_27" />
            </div>
            <div class="h-full pd-15">
              <input
                v-model="form.email"
                placeholder="ex: kimtheboss@gmail.com"
                class="m-r-10 h-full v-full fc-white"
              />
            </div>
          </div>
        </div>
        <div v-if="!isReset" class="m-t-15">
          <span class="fc-grey88 fs16 fw500">
            Password:
          </span>
          <div class="border_box flex-row-hc-vc h-full">
            <div class="left_box flex-row-hc-vc">
              <svg-icon icon-class="icon_password" class="ic_size_27" />
            </div>
            <div class="h-full pd-15">
              <input
                v-model="form.password"
                type="password"
                class="m-r-10 h-full v-full fc-white"
              />
            </div>
          </div>
        </div>
        <div
          v-if="isRegistration"
          class="robot_box m-t-25 flex-row-hl-vt h-full fs16 fw500"
        >
          <check-box>
            <div slot="checkbox-content">
              <span class="fc-grey88">
                I'm 18 years old. I have read and accepted
              </span>
              <nuxt-link to="" class="hyper-log-in italic">
                Common Rules, Bettings Rules, Privacy policy.
              </nuxt-link>
            </div>
          </check-box>
        </div>
        <div v-if="isLogin" class="flex-space-between-vc h-full m-t-15 fs16">
          <check-box>
            <div slot="checkbox-content">
              <span class="fc-grey88 fw500 p-l-20">
                Remember me
              </span>
            </div>
          </check-box>
          <span class="italic fc-grey88 fw500 pointer" @click="forgotPwd()">
            Forgot your password?
          </span>
        </div>
        <div class="robot_box m-t-25 flex-space-between-vc h-full">
          <div class="flex-row-hc-vc">
            <check-box>
              <div slot="checkbox-content">
                <span class="fc-grey88 fs16 fw500 p-l-20">
                  I'm not a robot
                </span>
              </div>
            </check-box>
          </div>
          <div class="flex-row-hc-vc">
            <div class="flex-col-hc-vc m-r-20">
              <img src="/imgs/refresh.png" />
              <span class="fc-grey88 fs13 m-t-5">reCAPTCHA</span>
            </div>
            <div class="flex-col-hl-vc">
              <span class="fc-grey88 fs14 fw500">Privacy </span>
              <span class="fc-grey88 fs14 fw500">Teams</span>
            </div>
          </div>
        </div>
        <div class="login_btn pointer m-t-40" @click="confirm">
          <span v-if="!isReset" class="bold fs20">{{ dlgType }}</span>
          <span v-else class="bold fs20">Send reset e-mail</span>
        </div>
        <div v-if="isLogin" class="m-t-25 fs16 fw500">
          <span class="fc-grey88">Need an account?</span>
          <span class="fc-m-light-purple pointer" @click="signUp()">
            SIGN UP
          </span>
        </div>
        <div v-if="isRegistration" class="m-t-25 fs16 fw500">
          <span class="fc-grey88">Have you account already?</span>
          <span class="fc-m-light-purple pointer" @click="signIn()">
            SIGN IN
          </span>
        </div>
      </div>
    </template>
  </b-modal>
</template>

<script>
import CheckBox from '@/components/pc/common/CheckBox.vue'
import aryContact from '@/assets/imgs/login_contact.js'

export default {
  name: 'LoginDialog',
  components: {
    CheckBox
  },
  props: {
    title: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      form: {},
      dlgType: '',
      isLogin: false,
      isRegistration: false,
      isReset: false
    }
  },
  computed: {
    aryContact() {
      return aryContact
    }
  },
  mounted() {
    this.dlgType = this.title
    this.isLogin = this.dlgType === 'LOGIN'
    this.isRegistration = this.dlgType === 'REGISTRATION'
    this.isReset = this.dlgType === 'Reset Password'
  },
  methods: {
    async confirm() {
      if (this.dlgType === 'LOGIN') {
        try {
          const { status } = await this.$store.dispatch('user/login', {
            username: this.form.email,
            password: this.form.password
          })
          if (status === 'success') {
            this.$bvModal.hide('login')
          }
        } catch (err) {
          this.errors = null
        }
      }
    },
    signUp() {
      this.dlgType = 'REGISTRATION'
      this.isRegistration = true
      this.isLogin = false
      this.isReset = false
    },
    signIn() {
      this.dlgType = 'LOGIN'
      this.isRegistration = false
      this.isLogin = true
      this.isReset = false
    },
    forgotPwd() {
      this.dlgType = 'Reset Password'
      this.isRegistration = false
      this.isLogin = false
      this.isReset = true
    },
    closeDialog() {
      this.$bvModal.hide('login')
      const self = this
      setTimeout(function() {
        self.signIn()
      }, 500)
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/styles/variables.scss';

.login_dialog {
  background: $footerBgColor !important;
  border-radius: 10px;
}

.login_header {
  border-bottom: 1px solid $menuBg;
}
</style>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.close_container {
  padding: 5px;
  width: 37px;
  height: 37px;
  border-radius: 10px;
  background: $mainBgColor;
}

.ic_size_27 {
  width: 27px !important;
  height: 27px !important;
}

.login_container {
  padding: 0px 20px;
  color: $grey59;
}

.border_box {
  background: $mainBgColor;
  border: 1px solid $grey68;
  border-radius: 10px;
  width: 422px;
}

.border_box input {
  background: $mainBgColor;
  color: $grey68;
  border: 0px;
  box-shadow: none;
  outline: none;
  width: 100%;
  font-size: 20px;
  line-height: 1;
}

.left_box {
  border-right: 1px solid $footerBgColor;
  min-width: 60px;
  height: 60px;
}

.ic_size_48 {
  width: 48px;
  height: 48px;
  border-radius: 13px;
}

.img_btn:hover {
  border: 2px solid $lightgrey;
}

.ic_size_20 {
  width: 20px;
  height: 20px;
}

.robot_box {
  background: $menuBg;
  padding: 10px 30px 10px 15px;
  border-radius: 10px;
}

.login_btn {
  background: $mlightpurple;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: white;
}

.login_btn:hover {
  background: $lightpurple;
}

.hyper-log-in {
  color: $mlightpurple;
  text-decoration: none;
}

.hyper-log-in:hover {
  color: $lightpurple;
}
</style>
