<template>
  <div
    :class="{
      'v-full': true,
      'app-main': true,
      'hide-left': hasLeftSidebar && leftVisible === false,
      'hide-right': hasRightSidebar && rightVisible === false,
      'show-left': hasLeftSidebar && leftVisible === true,
      'show-right': hasRightSidebar && rightVisible === true,
      'not-glued-to-left':
        hasLeftSidebar &&
        !(forceStaticToLeft || isStaticToLeft) &&
        isGluedToLeft === false,
      'not-glued-to-right':
        hasRightSidebar &&
        !(forceStaticToRight || isStaticToRight) &&
        isGluedToRight === false,
      'is-glued-to-left':
        hasLeftSidebar &&
        !(forceStaticToRight || isStaticToRight) &&
        isGluedToLeft,
      'is-glued-to-right':
        hasRightSidebar &&
        !(forceStaticToRight || isStaticToRight) &&
        isGluedToRight,
      'is-static-to-left':
        hasLeftSidebar && (forceStaticToLeft || isStaticToLeft),
      'is-static-to-right':
        hasRightSidebar && (forceStaticToRight || isStaticToRight),
      'no-left': hasLeftSidebar === false,
      'no-right': hasRightSidebar === false
    }"
  >
    <!-- <div v-if="hasLeftSidebar" class="leftsidebar v-full"> -->
    <div>
      <slot v-if="hasLeftSidebar" name="left"></slot>
      <slot v-if="hasRightSidebar" name="right"></slot>
      <mini-right-sidebar
        v-if="hasRightSidebar"
        class="mini-rightsidebar"
        @expandRS="expandRS"
      />
    </div>
    <!-- </div> -->
    <slot name="content"></slot>

    <!-- <div class="content v-full">
      <slot name="content"></slot>
    </div>
    <div v-if="hasRightSidebar" class="rightsidebar v-full">
      <slot name="right"></slot>
    </div> -->
  </div>
</template>

<script>
import MiniRightSidebar from '@/components/pc/rightsidebar/MiniRightSidebar'
import variables from '@/assets/styles/variables.scss'

const RP_MIN_WIDTH = 1770

export default {
  name: 'Main',
  components: {
    MiniRightSidebar
  },
  props: {
    hasLeftSidebar: {
      type: Boolean,
      default: true
    },
    hasRightSidebar: {
      type: Boolean,
      default: true
    },
    isGluedToLeft: {
      type: Boolean,
      default: false
    },
    isGluedToRight: {
      type: Boolean,
      default: true
    },
    isStaticToLeft: {
      type: Boolean,
      default: false
    },
    isStaticToRight: {
      type: Boolean,
      default: false
    },
    leftVisible: {
      type: Boolean,
      default: true
    },
    rightVisible: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      forceStaticToLeftData: false,
      forceStaticToRightData: false
    }
  },
  computed: {
    forceStaticToLeft: {
      get() {
        return this.forceStaticToLeftData
      },
      set(newVal) {
        this.forceStaticToLeftData = newVal
      }
    },
    forceStaticToRight: {
      get() {
        return this.forceStaticToRightData
      },
      set(newVal) {
        this.forceStaticToRightData = newVal
      }
    }
  },
  watch: {},
  beforeMount() {
    window.addEventListener('resize', this.$_resizeHandler)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.$_resizeHandler)
  },
  mounted() {
    this.$_resizeHandler()
  },
  methods: {
    $_shouldLeftSidebarClose() {
      const rect = document.body.getBoundingClientRect()
      return rect.width < RP_MIN_WIDTH
      // return (
      //   rect.width - 1 <
      //   RP_MIN_WIDTH -
      //     parseInt(variables.leftSidebarWidth.replace('px', '')) -
      //     parseInt(variables.rightSidebarWidthSm.replace('px', ''))
      // )
    },
    $_shouldRightSidebarClose() {
      const rect = document.body.getBoundingClientRect()
      return (
        rect.width <
        RP_MIN_WIDTH - parseInt(variables.leftSidebarWidth.replace('px', ''))
      )
    },
    $_resizeHandler() {
      if (!document.hidden) {
        const shouldLeftClose = this.$_shouldLeftSidebarClose()
        const shouldRightClose = this.$_shouldRightSidebarClose()
        this.forceStaticToLeft = shouldLeftClose
        this.forceStaticToRight = shouldRightClose

        if (shouldLeftClose) {
          this.$store.dispatch('app/closeSideBar')
        } else {
          this.$store.dispatch('app/showSideBar')
        }
        if (shouldRightClose) {
          this.$store.dispatch('app/closeRightSideBar')
        } else {
          this.$store.dispatch('app/showRightSideBar')
        }
      }
    },
    expandRS(activeTabName) {
      this.$store.dispatch('app/showRightSideBar')
    }
  }
}
</script>
<style lang="scss" scoped></style>
