<template>
  <div class="v-full content">
    <slot name="content" />
  </div>
</template>

<script>
export default {
  name: 'MainContent',
  components: {},
  data() {
    return {}
  },
  computed: {},
  methods: {}
}
</script>

<style lang="scss" scoped></style>
