<template>
  <div class="navbar flex-space-between-vc">
    <div class="flex-row-hl-vc">
      <router-link to="/esports">
        <img class="logo" src="/imgs/logo.png" />
      </router-link>
      <hamburger class="hamburger m-l-40" @toggleClick="toggleSideBar" />
    </div>

    <div class="flex-row-hl-vc v-full menu">
      <nuxt-link
        v-for="(item, i) in navbarItems"
        :key="i"
        :class="navItemClassObj(item)"
        :to="item.href"
      >
        <div class="v-full flex-row-hc-vc fw600">{{ item.name }}</div>
      </nuxt-link>
    </div>

    <div class="right-menu flex-row-hl-vc v-full">
      <action-button
        v-if="!isLoggedIn"
        v-b-modal.login
        class="m-r-20"
        :font-size="14"
        label="Login"
      />
      <login-dialog title="LOGIN" />
      <right-drop-down v-if="isLoggedIn" :mode="1" class="right-menu-drop" />
      <right-drop-down
        :mode="2"
        class="right-menu-drop-mini"
        :contain-menu-items="true"
      />
    </div>
  </div>
</template>

<script>
import RightDropDown from './navbar/RightDropDown'
import ActionButton from '@/components/ActionButton.vue'
import Hamburger from '@/components/pc/Hamburger'
import LoginDialog from '@/components/pc/dialog/LoginDialog.vue'

export default {
  components: {
    ActionButton,
    RightDropDown,
    Hamburger,
    LoginDialog
  },
  data() {
    return {
      navbarItems: [
        { href: '/esports', name: 'Esports' },
        { href: '/sports', name: 'Sports' },
        { href: '/games', name: 'Games  ' },
        { href: '/market', name: 'Market' }
      ]
    }
  },
  computed: {
    isLoggedIn() {
      return (
        this.$store.getters['user/getToken'] !== undefined &&
        this.$store.getters['user/getToken'] !== ''
      )
    }
  },
  mounted() {},
  methods: {
    toggleSideBar() {
      this.$store.dispatch('app/toggleSideBar')
    },
    navItemClassObj(navItem) {
      const route = this.$route
      const { path } = route
      if (path.includes(navItem.href)) {
        return {
          'navbar-item fs20 v-full flex-row-hc-vc active': true
        }
      }
      return {
        'navbar-item fs20 v-full flex-row-hc-vc': true
      }
    }
  }
}
</script>

<style lang="scss" scoped></style>
