<template>
  <div class="action-button">
    <button
      class="br-sm"
      :class="classObj"
      :style="backStyle"
      @click="btnClick"
    >
      <span>{{ label }}</span>
    </button>
  </div>
</template>

<script>
export default {
  name: 'ActionButton',
  components: {},
  props: {
    label: {
      type: String,
      default: ''
    },
    bgColor: {
      type: String,
      default: '#a34cfe'
    },
    borderColor: {
      type: String,
      default: '#a34cfe'
    },
    hoverColor: {
      type: String,
      default: '#6e3ca2'
    },
    fontSize: {
      type: Number,
      default: 12
    },
    hasWeight: {
      type: Boolean,
      default: true
    },
    paddingSize: {
      type: Number,
      default: 8
    }
  },
  data() {
    return {
      backStyle: ' background-color: ' + this.bgColor + ';'
    }
  },
  computed: {
    classObj: {
      get() {
        return {
          fs12: this.fontSize === 12,
          fs13: this.fontSize === 13,
          fs14: this.fontSize === 14,
          fs15: this.fontSize === 15,
          fs16: this.fontSize === 16,
          fs17: this.fontSize === 17,
          fs18: this.fontSize === 18,
          fs19: this.fontSize === 19,
          fs20: this.fontSize === 20,
          fw500: this.hasWeight,
          fw300: !this.hasWeight,
          'pd-8-20': this.paddingSize === 8,
          'pd-20': this.paddingSize === 20
        }
      }
    }
  },
  methods: {
    btnClick() {
      this.$emit('click')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
.action-button {
  min-width: 60px;
}

button {
  cursor: pointer;
  letter-spacing: 1px;
  border-color: $purple;
  color: white;
  border: none;
  outline: none;
  &:hover {
    background: $hoverPurple;
    color: white;
  }
}
</style>
