<template>
  <div class="flex-space-between-vc betting-box h-full pd-20 br-sm">
    <div class="fs19 fw500">
      <span class="fs18 bold p-r-5">Success!</span>
      Betting Succeeded
    </div>
    <svg-icon icon-class="cancel" class="icon-box" />
  </div>
</template>

<script>
export default {
  name: 'BettingSucceded',
  components: {},
  props: {},
  computed: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.betting-box {
  color: $gameDarkGreen;
  border: solid 1px $gameDarkGreen;
  background-color: $gameAlphaDarkGreen;
}

.icon-box {
  width: 24px;
  height: 24px;
}
</style>
