<template>
  <div class="flex-space-between-vc current-player-box br-sm h-full">
    <user-toll-box :user-name="userName" :betting-val="bettingVal" />
    <svg-icon :icon-class="'blue-' + ballIcon" class="icon-box" />
  </div>
</template>

<script>
import UserTollBox from '@/components/pc/games/ladder/UserTollBox.vue'

export default {
  name: 'CurrentPlayer',
  components: {
    UserTollBox
  },
  props: {
    userName: {
      type: String,
      default: 'Username123'
    },
    bettingVal: {
      type: Number,
      default: 0
    },
    ballIcon: {
      type: String,
      default: 'baseball-04'
    }
  },
  data() {
    return {}
  },
  computed: {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.current-player-box {
  padding: 7px;
  border: 1px solid $mainBgColor;
}

.icon-box {
  width: 21px;
  height: 21px;
}
</style>
