<template>
  <ladder-box>
    <div slot="ladder-box-title">
      CURRENT PLAYERS
    </div>
    <div slot="ladder-box-content">
      <current-player
        v-for="item in aryUserInfo"
        :key="item.id"
        :user-name="item.username"
        :betting-val="item.bettingval"
        :ball-icon="item.ballIcon"
        class="m-t-5 m-b-5"
      />
    </div>
  </ladder-box>
</template>

<script>
import LadderBox from '@/components/pc/games/ladder/LadderBox.vue'
import CurrentPlayer from '@/components/pc/games/ladder/CurrentPlayer.vue'

export default {
  name: 'CurrentPlayersBox',
  components: {
    LadderBox,
    CurrentPlayer
  },
  props: {
    aryUserInfo: {
      type: Array,
      default: null,
      request: true
    }
  },
  computed: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
</style>
