<template>
  <div class="ladder-box">
    <img src="/imgs/ladder/bg-current-players.png" class="img-bg" />
    <div class="h-center current-players-box">
      <div class="fs21 fw700 fc-gold p-t-25 p-b-25 h-full tile-box">
        <slot name="ladder-box-title"></slot>
      </div>
      <div class="h-646 h-full v-full players-box p-t-15 p-b-15">
        <div class="h-full v-full no-scrollbar">
          <div class="h-full p-l-5 p-r-10 players-box">
            <slot name="ladder-box-content"></slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LadderBox',
  components: {},
  props: {},
  computed: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
.ladder-box {
  position: relative;
  max-width: 300px;
  z-index: 11;
}
.current-players-box {
  // min-width: 384px;
  min-width: 305px;
  height: 799px;
  padding-top: 38px;
  // padding-left: 41px;
  // padding-right: 39px;
  padding-left: 32px;
  padding-right: 36px;
  padding-bottom: 34px;
  text-align: center;
  position: relative;
  // background-image: url('~@/static/imgs/ladder/bg-current-players.png');
  z-index: 10;
}

.img-bg {
  position: absolute;
  max-width: 300px;
  max-height: 799px;
  height: 799px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}
.h-646 {
  min-height: 646px;
  max-height: 646px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
}

.tile-box {
  background-color: $lightMainBgColor;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
}

.overlay-image-box {
  position: absolute;
  left: 0px;
  top: 0px;
}

.players-box {
  background-color: $clrContainerBack;
}
</style>
