<template>
  <shadow-box
    :has-content-box="false"
    :has-shadow="false"
    class="fs10 h-85 fc-grey88 m-r-10"
  >
    <div slot="shadow-box-content">
      <div class="flex-col-hc-vc">
        <div class="pd-10">
          <span
            v-if="isTextMode && !isArrowIcon"
            class="fc-white fs16 lh-33 bold"
          >
            0{{ multipleNum }}
          </span>
          <svg-icon
            v-else-if="isArrowIcon"
            :icon-class="arrowName"
            class="ic_size_32"
          />
          <svg-icon
            v-else-if="iconName != 'tennis_blue_1'"
            :icon-class="iconName"
            class="ic_size_32"
          />
          <img
            v-else
            src="/imgs/blue-baseball.png"
            style="width: 30px; height: 30px;"
          />
        </div>
        <span class="h-full p-t-10 p-b-10 border_top text-center">
          {{ goalValue }}
        </span>
      </div>
    </div>
  </shadow-box>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'

export default {
  name: 'LadderGoalItem',
  components: {
    ShadowBox
  },
  props: {
    isRed: {
      type: Boolean,
      default: false
    },
    multipleNum: {
      type: Number,
      default: 1
    },
    goalValue: {
      type: Number,
      default: 3.88
    },
    isTextMode: {
      type: Boolean,
      default: false
    },
    isArrowIcon: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      iconName:
        (this.isRed ? 'tennis_red_' : 'tennis_blue_') + this.multipleNum,
      arrowName: this.isRed ? 'arrow_red' : 'arrow_blue'
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
.h-85 {
  height: 85px;
}

.lh-33 {
  line-height: 33px;
}

.ic_size_32 {
  width: 32px;
  height: 32px;
}

.border_top {
  border-top: 1px solid $grey4b;
}
</style>
