<template>
  <shadow-box
    :has-content-box="false"
    :is-lightgray-back="false"
    :has-shadow="false"
    class="fs14 fc-brightyellow"
  >
    <div slot="shadow-box-content">
      <div class="ladder_goal_box flex-col">
        <div class="flex-row-hc-vc border_bottom h-52">
          <div class="flex1 p-l-10">
            <span>Goal</span>
          </div>
          <div class="flex2 p-l-10">
            <span>Goal x Legs</span>
          </div>
          <div class="flex1 p-l-10">
            <span>Stairs</span>
          </div>
          <div class="flex1 p-l-10">
            <div class="flex-space-between h-52">
              <span class="p-t-15">Start</span>
              <svg-icon icon-class="clear" class="m-t-5 m-r-5 ic_size_24" />
            </div>
          </div>
        </div>
        <div class="flex-row-hc-vc">
          <div class="flex-row flex1 p-l-10 p-t-10 p-b-10 border_right">
            <ladder-goal-item />
            <ladder-goal-item :is-red="true" />
          </div>
          <div class="flex-row flex2 p-l-10 p-t-10 p-b-10 border_right">
            <ladder-goal-item :multiple-num="3" />
            <ladder-goal-item :multiple-num="3" :is-red="true" />
            <ladder-goal-item :multiple-num="4" />
            <ladder-goal-item :multiple-num="4" :is-red="true" />
          </div>
          <div class="flex-row flex1 p-l-10 p-t-10 p-b-10 border_right">
            <ladder-goal-item :multiple-num="3" :is-text-mode="true" />
            <ladder-goal-item :multiple-num="4" :is-text-mode="true" />
          </div>
          <div class="flex-row flex1 p-l-10 p-t-10 p-b-10">
            <ladder-goal-item :is-arrow-icon="true" />
            <ladder-goal-item :is-arrow-icon="true" :is-red="true" />
          </div>
        </div>
      </div>
    </div>
  </shadow-box>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import LadderGoalItem from '@/components/pc/games/ladder/LadderGoalItem.vue'

export default {
  name: 'Ladder',
  components: {
    ShadowBox,
    LadderGoalItem
  },
  data() {
    return {}
  },
  computed: {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.ladder_goal_box {
  width: 100%;
  height: 100%;
}

.border_bottom {
  border-bottom: 1px solid $footerBgColor;
}

.border_right {
  border-right: 1px solid $footerBgColor;
}

.h-52 {
  height: 52px;
}

.ic_size_24 {
  width: 24px;
  height: 24px;
}
</style>
