<template>
  <div class="flex-col-hc-vc ladder-status-box fc-white h-full v-full">
    <div class="fs11 fw500 m-b-10">
      The Current Time On Ladder
    </div>
    <div class="fs19 fw500 m-b-45">
      <span class="fc-gold">2020-03-26 </span>
      13:18:46
    </div>
    <round-status-box />
    <div class="fs10 m-t-40">
      The destribution of purchase varies according to the number of
    </div>
    <div class="fs10 m-t-10">
      purchasers and is independent of lottary.
    </div>
    <win-chance-box class="m-t-15" />
    <!-- <img
      src="/imgs/ladder/bg-status.png"
      class="overlay-image-box h-full v-full"
    /> -->
  </div>
</template>

<script>
import RoundStatusBox from '@/components/pc/games/ladder/RoundStatusBox.vue'
import WinChanceBox from '@/components/pc/games/ladder/WinChanceBox.vue'

export default {
  name: 'ResultsBox',
  components: {
    RoundStatusBox,
    WinChanceBox
  },
  props: {},
  computed: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.ladder-status-box {
  min-width: 513px;
  max-width: 513px;
  height: 817px;
  padding-top: 47px;
  padding-left: 45px;
  padding-right: 47px;
  padding-bottom: 47px;
  text-align: center;
  position: relative;
  background-image: url('~@/static/imgs/ladder/bg-status.png');
}

.overlay-image-box {
  position: absolute;
  left: 0px;
  top: 0px;
}
</style>
