<template>
  <div class="flex-col-hl-vt fc-bright-purple h-full fs15 fw500 m-r-40">
    <div class="m-b-10">No. {{ no }}</div>
    <seekbar :seek-value="seekValue" />
  </div>
</template>

<script>
import Seekbar from '@/components/pc/games/ladder/Seekbar.vue'

export default {
  name: 'NoSeekbar',
  components: {
    Seekbar
  },
  props: {
    no: {
      type: Number,
      default: 12388888
    },
    seekValue: {
      type: Number,
      default: 90
    }
  },
  data() {
    return {}
  },
  computed: {},
  methods: {}
}
</script>

<style lang="scss" scoped></style>
