<template>
  <div class="flex-space-between-vc no-seekbar-box br-sm h-full">
    <no-seek-bar :no="number" :seek-value="seekValue" />
    <svg-icon :icon-class="'red-' + ballIcon" class="icon-box" />
  </div>
</template>

<script>
import NoSeekBar from '@/components/pc/games/ladder/NoSeekbar.vue'

export default {
  name: 'NoSeekbarBox',
  components: {
    NoSeekBar
  },
  props: {
    number: {
      type: Number,
      default: 12388888
    },
    seekValue: {
      type: Number,
      default: 0
    },
    ballIcon: {
      type: String,
      default: 'blue-baseball-04'
    }
  },
  data() {
    return {}
  },
  computed: {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.no-seekbar-box {
  padding: 7px;
  border: 1px solid $mainBgColor;
}

.icon-box {
  width: 21px;
  height: 21px;
}
</style>
