<template>
  <ladder-box>
    <div slot="ladder-box-title">
      RESULTS
    </div>
    <div slot="ladder-box-content">
      <no-seekbar-box
        v-for="item in aryResults"
        :key="item.id"
        :number="item.number"
        :seek-value="item.seekValue"
        :ball-icon="item.ballIcon"
        class="m-t-5 m-b-5"
      />
    </div>
  </ladder-box>
</template>

<script>
import LadderBox from '@/components/pc/games/ladder/LadderBox.vue'
import NoSeekbarBox from '@/components/pc/games/ladder/NoSeekbarBox.vue'

export default {
  name: 'ResultsBox',
  components: {
    LadderBox,
    NoSeekbarBox
  },
  props: {
    aryResults: {
      type: Array,
      default: null,
      request: true
    }
  },
  computed: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
</style>
