<template>
  <div class="flex-col-hc-vc">
    <div class="flex-space-between-vc h-full">
      <svg-icon icon-class="goto-left" class="corner-icon" />
      <svg-icon icon-class="speaker" class="middle-icon" />
      <svg-icon icon-class="goto-right" class="corner-icon" />
    </div>
    <div class="main-box br-sm pd-10 mg-20">
      <div class="fs15 fw300 fc-light-grey m-t-15 m-b-15">
        No.12388888 Round starts in
      </div>
      <div class="fs35 bold fc-white m-t-15 m-b-15">01 : 29</div>
      <div class="flex-space-between-vc m-t-15">
        <div class="fs11 fc-white">Last round result:</div>
        <svg-icon icon-class="blue-baseball-white-03" class="result-icon" />
      </div>
    </div>
    <div class="flex-space-between-vc h-full">
      <img src="/imgs/blue-baseball.png" style="width: 40px; height: 40px;" />
      <!-- <svg-icon icon-class="blue-baseball" class="corner-icon" /> -->
      <svg-icon icon-class="red-baseball" class="corner-icon" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'RoundStatusBox',
  components: {},
  props: {
    seekValue: {
      type: Number,
      default: 50
    }
  },
  data() {
    return {}
  },
  computed: {
    leftLine() {
      return {
        backgroundColor: `#36d4ef`,
        width: this.seekValue + '%',
        height: '6px'
      }
    },
    midBall() {
      return {
        backgroundColor: `#ffe776`,
        width: '12px',
        height: '12px',
        borderRadius: '50%',
        marginLeft: '-3px',
        marginRight: '-3px',
        zIndex: '2'
      }
    },
    rightLine() {
      return {
        backgroundColor: `#ff6570`,
        width: 'calc(100% - ' + this.seekValue + '%)',
        height: '4px'
      }
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.main-box {
  border: 1px dashed $lightgold;
}

.corner-icon {
  width: 48px;
  height: 48px;
}

.middle-icon {
  width: 38px;
  height: 38px;
}

.result-icon {
  width: 34px;
  height: 34px;
}
</style>
