<template>
  <div class="flex-row-hc-vc h-full m-b-5">
    <div :style="leftLine"></div>
    <div :style="midBall"></div>
    <div :style="rightLine"></div>
  </div>
</template>

<script>
export default {
  name: 'Seekbar',
  components: {},
  props: {
    seekValue: {
      type: Number,
      default: 50
    }
  },
  data() {
    return {}
  },
  computed: {
    leftLine() {
      return {
        backgroundColor: `#36d4ef`,
        width: this.seekValue + '%',
        height: '6px'
      }
    },
    midBall() {
      return {
        backgroundColor: `#ffe776`,
        width: '12px',
        height: '12px',
        borderRadius: '50%',
        marginLeft: '-3px',
        marginRight: '-3px',
        zIndex: '2'
      }
    },
    rightLine() {
      return {
        backgroundColor: `#ff6570`,
        width: 'calc(100% - ' + this.seekValue + '%)',
        height: '4px'
      }
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped></style>
