<template>
  <div class="flex-row-hc-vc">
    <img :src="aryUserImg.items[userName]" class="name-icon m-r-15" />
    <div class="flex-col-hl-vc fc-bright-purple fs17 fw500">
      <div class="h-full name-box">{{ userName }}</div>
      <toll-box
        :bet="bettingVal"
        :purple="false"
        :large-icon="false"
        :weight="300"
        :small-font="true"
      />
    </div>
  </div>
</template>

<script>
import TollBox from '@/components/pc/games/TollBox.vue'

import aryUserImg from '@/assets/imgs/users.js'

export default {
  name: 'UserTollBox',
  components: {
    TollBox
  },
  props: {
    userName: {
      type: String,
      default: 'default'
    },
    bettingVal: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {}
  },
  computed: {
    aryUserImg() {
      return aryUserImg
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
.name-icon {
  width: 45px;
}

.name-box {
  text-align: left;
}
</style>
