<template>
  <div class="flex-col-hc-vc h-full pd-15">
    <div class=" fs16 fc-gold bold m-b-15">
      Win Chance
    </div>
    <div class="flex-row-hc-vc h-full">
      <div class="flex-row-hr-vc left-box">
        <div :style="leftLine"></div>
      </div>
      <div
        class="flex-space-between-vc fc-white mid-box br-ss fs15 p-l-10 p-r-10"
      >
        <div class="fw700">{{ chanceValue }}%</div>
        <div class="fs13">vs</div>
        <div class="fw700">{{ 100 - chanceValue }}%</div>
      </div>
      <div class="flex-row-hl-vc right-box">
        <div :style="rightLine"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'WinChanceBox',
  components: {},
  props: {
    chanceValue: {
      type: Number,
      default: 56
    }
  },
  data() {
    return {}
  },
  computed: {
    leftLine() {
      return {
        background: `linear-gradient(to right, #5fe6fe, #35bad3)`,
        width: this.chanceValue + '%',
        height: '100%',
        borderTopLeftRadius: '12px',
        borderBottomLeftRadius: '12px'
      }
    },
    rightLine() {
      return {
        background: `linear-gradient(to right, #ce464e, #fe7a84)`,
        width: 'calc(100% - ' + this.chanceValue + '%)',
        height: '100%',
        borderTopRightRadius: '12px',
        borderBottomRightRadius: '12px'
      }
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.left-box {
  width: 32%;
  height: 25px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 1px solid $greenblue;
  margin-right: -1px;
}

.mid-box {
  width: 36%;
  height: 40px;
  background-color: $mlightpurple;
  z-index: 2;
}

.right-box {
  width: 32%;
  height: 25px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid $chancered;
  margin-left: -1px;
}
</style>
