<template>
  <b-modal
    id="login"
    hide-footer
    centered
    content-class="login_dialog"
    header-class="login_header"
  >
    <template slot="modal-header">
      <div class="v-full h-full flex-space-between-vc">
        <span class="bold fs28 fc-white">{{ dlgType }}</span>
        <div class="close_container">
          <svg-icon
            icon-class="close_bt"
            class="ic_size_27 pointer"
            @click="closeDialog()"
          />
        </div>
      </div>
    </template>
    <template slot="default">
      <b-overlay :show="overlayVisible" variant="dark" class="h-full v-full">
        <login-view :view-type="dlgType" />
      </b-overlay>
    </template>
  </b-modal>
</template>

<script>
import LoginView from '@/components/pc/dialog/LoginView.vue'

export default {
  name: 'LoginDialog',
  components: {
    LoginView
  },
  props: {
    title: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      dlgType: '',
      overlayVisible: false
    }
  },
  mounted() {
    const self = this
    this.dlgType = this.title
    this.$bus.$on('show-overlay', function() {
      self.overlayVisible = true
    })
    this.$bus.$on('hide-overlay', function() {
      self.overlayVisible = false
    })
  },
  methods: {
    closeDialog() {
      this.$bvModal.hide('login')
      const self = this
      setTimeout(function() {
        self.signIn()
      }, 500)
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/styles/variables.scss';

.login_dialog {
  background: $footerBgColor !important;
  border-radius: 10px;
}

.login_header {
  border-bottom: 1px solid $menuBg;
}
</style>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.close_container {
  padding: 5px;
  width: 37px;
  height: 37px;
  border-radius: 10px;
  background: $mainBgColor;
}

.ic_size_27 {
  width: 27px !important;
  height: 27px !important;
}
</style>
