<template>
  <div class="flex-row-hc-vc">
    <div class="text-center fc-gold mw-40 p-r-10">
      <span>{{ bettingValue }}</span>
    </div>
    <border-box class="h-full" />
  </div>
</template>
<script>
import BorderBox from '@/components/pc/games/boat_racing/BorderBox.vue'

export default {
  name: 'BettingValueItem',
  components: {
    BorderBox
  },
  props: {
    bettingValue: {
      type: Number,
      default: 0
    }
  }
}
</script>
<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.mw-40 {
  min-width: 40px;
}
</style>
