<template>
  <div class="flex-row-hc-vc br-ss boat-number-box" :class="classObj">
    <div class="bold fs25 fc-white">{{ boatNumber }}</div>
  </div>
</template>

<script>
export default {
  name: 'BoatColor',
  components: {},
  props: {
    boatNumber: {
      type: Number,
      default: 1
    }
  },
  computed: {
    classObj: {
      get() {
        return {
          'is-bg-1': this.boatNumber === 1,
          'is-bg-2': this.boatNumber === 2,
          'is-bg-3': this.boatNumber === 3,
          'is-bg-4': this.boatNumber === 4,
          'is-bg-5': this.boatNumber === 5,
          'is-bg-6': this.boatNumber === 6,
          'is-bg-7': this.boatNumber === 7,
          'is-bg-8': this.boatNumber === 8,
          'is-bg-9': this.boatNumber === 9,
          'is-bg-10': this.boatNumber === 10
        }
      }
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.boat-number-box {
  width: 50px;
  height: 50px;
  text-align: center;
}

.is-bg-1 {
  background-color: $boat1;
}

.is-bg-2 {
  background-color: $boat2;
}

.is-bg-3 {
  background-color: $boat3;
}

.is-bg-4 {
  background-color: $boat4;
}

.is-bg-5 {
  background-color: $boat5;
}

.is-bg-6 {
  background-color: $boat6;
}

.is-bg-7 {
  background-color: $boat7;
}

.is-bg-8 {
  background-color: $boat8;
}

.is-bg-9 {
  background-color: $boat9;
}

.is-bg-10 {
  background-color: $boat10;
}
</style>
