<template>
  <div class="flex-space-between-vc flex-wrap h-full p-r-40" :class="classObj">
    <div class="fs26 fc-light-grey fw600 pd-30 index-box">
      {{ index + 1 }}{{ number }}
    </div>
    <boat-color v-for="(item, i) in aryBoats" :key="i" :boat-number="item" />
  </div>
</template>

<script>
import BoatColor from '@/components/pc/games/boat_racing/BoatColor.vue'

export default {
  name: 'BoatColorBox',
  components: {
    BoatColor
  },
  props: {
    index: {
      type: Number,
      default: 0
    },
    aryBoats: {
      type: Array,
      default: null
    },
    isBorder: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      number:
        this.index === 0
          ? 'st'
          : this.index === 1
          ? 'nd'
          : this.index === 2
          ? 'rd'
          : 'th'
    }
  },
  computed: {
    classObj: {
      get() {
        return {
          'is-border': this.isBorder
        }
      }
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.is-border {
  border-bottom: 1px solid $boatfilter;
}

.index-box {
  width: 120px;
}
</style>
