<template>
  <div class="border_box"></div>
</template>
<script>
export default {
  name: 'BorderBox'
}
</script>
<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.border_box {
  background: $darkgrey;
  border: 1px solid $normalBorderColor;
  border-radius: 3px;
  min-width: 55px;
  min-height: 40px;
}
</style>
