<template>
  <div class="h-full">
    <shadow-box
      :has-content-box="false"
      :has-shadow="false"
      class="pd-15 fc-white bold fs24 text-center"
    >
      <div slot="shadow-box-content">
        <span>Dragon/Tiger</span>
      </div>
    </shadow-box>
    <d-t-match-item
      v-for="(item, i) in aryScores"
      :key="i"
      :index="i"
      :ary-values="item"
    />
  </div>
</template>
<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import DTMatchItem from '@/components/pc/games/boat_racing/DTMatchItem.vue'

export default {
  name: 'DragonTigerBox',
  components: {
    ShadowBox,
    DTMatchItem
  },
  data() {
    return {
      aryScores: [
        [9.8, 9.8, 9.8, 9.8, 9.8, 9.8, 28.8],
        [9.8, 9.8, 9.8, 9.8, 9.8, 9.8, 28.8]
      ]
    }
  }
}
</script>
<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
</style>
