<template>
  <div class="flex-row-hc-vc fc-white border_bottom">
    <div class="flex-row-hc-vc match_title_box">
      <span v-if="index === 0">Dragon</span>
      <span v-else-if="index === 1">Tiger</span>
      <span v-else></span>
    </div>
    <div class="info_box flex-row-hc-vc h-full">
      <d-t-item
        v-for="(item, i) in aryValues"
        :key="i"
        :index="i"
        :value="item"
        :is-dragon="index === 0"
      />
    </div>
  </div>
</template>
<script>
import DTItem from '@/components/pc/games/boat_racing/DTItem.vue'

export default {
  name: 'DTMatchItem',
  components: {
    DTItem
  },
  props: {
    aryValues: {
      type: Array,
      default: null
    },
    index: {
      type: Number,
      default: 0
    }
  }
}
</script>
<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.match_title_box {
  font-size: 20px;
  font-weight: bold;
  min-width: 100px;
}

.info_box {
  background: $footerBgColor;
}

.border_bottom {
  background: $dark_back;
  border-bottom: 1px solid $normalBorderColor;
}
</style>
