<template>
  <div class="flex-row-hl-vc first-box h-full p-l-20 p-r-20">
    <div class="mw-40">{{ index }}</div>
    <div class="p-l-10 fc-boat-1">{{ value }}</div>
  </div>
</template>

<script>
export default {
  name: 'FrontScoreBox',
  components: {},
  props: {
    index: {
      type: Number,
      default: 1
    },
    value: {
      type: Number,
      default: 2.01
    }
  },
  computed: {
    classObj: {
      get() {
        return {
          'is-border': this.isBorder
        }
      }
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.is-border {
  border-bottom: 1px solid $boatfilter;
}

.first-box:nth-child(odd) {
  background-color: $footerBgColor;
}

.first-box:nth-child(even) {
  background-color: $darkgrey;
}

.first-box:first-child {
  border-top-left-radius: 10px;
}

.first-box:last-child {
  border-bottom-left-radius: 10px;
}

.mw-40 {
  min-width: 40px;
  width: 40px;
}
</style>
