<template>
  <div class="flex-row-hc-vt front-container br-ss h-full fc-white">
    <div class="fs36 fw600 text-nowrap flex-row-hc-vc">
      <div class="title-box">
        <span>Front {{ count }}</span>
      </div>
    </div>
    <div class="fs26 fw600 score_box_container">
      <front-score-box
        v-for="(items, i) in aryScore"
        :key="i"
        :index="items.ranking"
        :value="items.value"
        class="flex1"
      />
    </div>
    <div class="flex-col-hc-vc h-full">
      <boat-color-box
        v-for="(item, i) in aryFronts"
        :key="i"
        :index="i"
        :ary-boats="item"
        :is-border="i < count - 1"
      />
    </div>
    <div class="flex-col-hc-vc right-box p-l-15">
      <div class="text-nowrap h-full">Bet Amount</div>
      <input-box-with-clear-btn :auto-resize="false" />
    </div>
  </div>
</template>

<script>
import InputBoxWithClearBtn from '@/components/pc/games/InputBoxWithClearBtn'
import BoatColorBox from '@/components/pc/games/boat_racing/BoatColorBox.vue'
import FrontScoreBox from '@/components/pc/games/boat_racing/FrontScoreBox.vue'

export default {
  name: 'PickFrontBox',
  components: {
    InputBoxWithClearBtn,
    BoatColorBox,
    FrontScoreBox
  },
  props: {
    count: {
      type: Number,
      default: 2
    },
    aryFronts: {
      type: Array,
      default: null
    },
    aryScore: {
      type: Array,
      default: null
    }
  },
  computed: {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.front-container {
  background-color: $clrContainerBack;
  align-items: stretch;
}

.score_box_container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.title-box {
  transform: rotate(-90deg);
}

.is-gold {
  color: $flightgold;
}

.right-box {
  border-left: 1px solid $boatvfilter;
}
</style>
