<template>
  <div class="boat_item last flex-row-hc-vc flex1">
    <boat-color :boat-number="ranking" />
    <betting-value-item :betting-value="betting" class="p-l-10" />
  </div>
</template>

<script>
import BettingValueItem from '@/components/pc/games/boat_racing/BettingValueItem.vue'
import BoatColor from '@/components/pc/games/boat_racing/BoatColor.vue'

export default {
  name: 'PlaceMatchItemInfo',
  components: {
    BettingValueItem,
    BoatColor
  },
  props: {
    ranking: {
      type: Number,
      default: 1
    },
    betting: {
      type: Number,
      default: 0
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.boat_item {
  border-right: 1px solid $normalBorderColor;
  padding: 15px;
  width: 100%;
}

.boat_item:last-child {
  border-right: none;
}
</style>
