<template>
  <shadow-box
    :has-content-box="false"
    :has-shadow="false"
    :is-lightgray-back="false"
  >
    <div slot="shadow-box-content">
      <div class="flex-row-hc-vc fc-white">
        <div class="flex-row-hc-vc match_title_box">
          <span>{{ index }}</span>
          <span v-if="index === 1">st</span>
          <span v-else-if="index === 2">nd</span>
          <span v-else-if="index === 3">rd</span>
          <span v-else>th</span>
        </div>
        <div class="info_box flex-col-hc-vc h-full">
          <div class="flex-row-hc-vc h-full border_bottom">
            <place-match-item-info
              v-for="i in 5"
              :key="i"
              :ranking="matchInfo.ranking[i - 1]"
              :betting="matchInfo.betting[i - 1]"
            />
          </div>
          <div class="flex-row-hc-vc h-full border_bottom">
            <place-match-item-info
              v-for="i in 5"
              :key="i"
              :ranking="matchInfo.ranking[i + 4]"
              :betting="matchInfo.betting[i + 4]"
            />
          </div>
        </div>
      </div>
    </div>
  </shadow-box>
</template>
<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import PlaceMatchItemInfo from '@/components/pc/games/boat_racing/PlaceMatchItemInfo.vue'

export default {
  name: 'PlaceMatchItem',
  components: {
    ShadowBox,
    PlaceMatchItemInfo
  },
  props: {
    matchInfo: {
      type: Object,
      default() {
        return {
          ranking: null,
          betting: null
        }
      }
    },
    index: {
      type: Number,
      default: 1
    }
  }
}
</script>
<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.match_title_box {
  font-size: 20px;
  font-weight: bold;
  min-width: 100px;
}

.info_box {
  background: $footerBgColor;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.border_bottom {
  border-bottom: 1px solid $normalBorderColor;
}
</style>
