<template>
  <div class="flex-col-hc-vc ranking-boat-container br-ss mg-5">
    <div class="flex-row-hl-vb fc-white bold h-full pd-10" :class="classObj">
      <div class="fs14">{{ rankingStart }}</div>
      <div class="fs20">{{ index + 1 }}</div>
      <div class="fs14">{{ rankingEnd }}</div>
    </div>
    <img :src="aryBoats.items[boatNumber]" class="ic-image" />
    <div class="flex-row-hr-vb h-full pd-5">
      <div class="br-ss fc-white boat-number-box bold fs16" :class="classObj1">
        {{ boatNumber }}
      </div>
    </div>
  </div>
</template>

<script>
import aryBoats from '@/assets/imgs/boats.js'

export default {
  name: 'RankingBoatBox',
  components: {},
  props: {
    index: {
      type: Number,
      default: 0
    },
    boatNumber: {
      type: Number,
      default: 1
    }
  },
  data() {
    return {
      rankingEnd:
        this.index === 0
          ? 'ST'
          : this.index === 1
          ? 'ND'
          : this.index === 2
          ? 'RD'
          : '',
      rankingStart: this.index > 2 ? 'NO.' : ''
    }
  },
  computed: {
    classObj: {
      get() {
        return {
          'is-gold': this.index < 3
        }
      }
    },
    classObj1: {
      get() {
        return {
          'is-bg-1': this.boatNumber === 1,
          'is-bg-2': this.boatNumber === 2,
          'is-bg-3': this.boatNumber === 3,
          'is-bg-4': this.boatNumber === 4,
          'is-bg-5': this.boatNumber === 5,
          'is-bg-6': this.boatNumber === 6,
          'is-bg-7': this.boatNumber === 7,
          'is-bg-8': this.boatNumber === 8,
          'is-bg-9': this.boatNumber === 9,
          'is-bg-10': this.boatNumber === 10
        }
      }
    },
    aryBoats() {
      return aryBoats
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.ranking-boat-container {
  background-color: $darkgrey;
}

.is-gold {
  color: $flightgold;
}

.ic-image {
  width: 88px;
  height: 72px;
}

.boat-number-box {
  width: 25px;
  height: 25px;
  text-align: center;
}

.is-bg-1 {
  background-color: $boat1;
}

.is-bg-2 {
  background-color: $boat2;
}

.is-bg-3 {
  background-color: $boat3;
}

.is-bg-4 {
  background-color: $boat4;
}

.is-bg-5 {
  background-color: $boat5;
}

.is-bg-6 {
  background-color: $boat6;
}

.is-bg-7 {
  background-color: $boat7;
}

.is-bg-8 {
  background-color: $boat8;
}

.is-bg-9 {
  background-color: $boat9;
}

.is-bg-10 {
  background-color: $boat10;
}
</style>
