<template>
  <shadow-box
    :has-content-box="false"
    :has-shadow="false"
    :is-lightgray-back="false"
  >
    <div slot="shadow-box-content">
      <div class="flex-row-hc-vc fc-white">
        <div class="flex-row-hc-vc match_title_box">
          <span>{{ index + 1 }}</span>
          <span v-if="index === 0">st</span>
          <span v-else-if="index === 1">nd</span>
          <span v-else-if="index === 2">rd</span>
          <span v-else>th</span>
        </div>
        <div class="info_box flex-row-hc-vc h-full">
          <div
            v-for="(item, i) in aryValues"
            :key="i"
            class="boat_item flex-row-hc-vc flex1"
          >
            <span v-if="i === 0">Over</span>
            <span v-else-if="i === 1">Under</span>
            <span v-else-if="i === 2">Odd</span>
            <span v-else>Even</span>
            <betting-value-item :betting-value="item" class="p-l-10" />
          </div>
        </div>
      </div>
    </div>
  </shadow-box>
</template>
<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import BettingValueItem from '@/components/pc/games/boat_racing/BettingValueItem.vue'

export default {
  name: 'SideMatchItem',
  components: {
    ShadowBox,
    BettingValueItem
  },
  props: {
    aryValues: {
      type: Array,
      default: null
    },
    index: {
      type: Number,
      default: 0
    }
  }
}
</script>
<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.match_title_box {
  font-size: 20px;
  font-weight: bold;
  min-width: 100px;
}

.info_box {
  background: $footerBgColor;
  border-bottom: 1px solid $normalBorderColor;
}

.boat_item {
  border-right: 1px solid $normalBorderColor;
  padding: 15px;
  width: 100%;
}

.boat_item:last-child {
  border-right: none;
}

.border_box {
  background: $darkgrey;
  border: 1px solid $normalBorderColor;
  border-radius: 3px;
  min-width: 65px;
  min-height: 40px;
}
</style>
