<template>
  <div class="h-full">
    <shadow-box
      :has-content-box="false"
      :has-shadow="false"
      class="pd-15 fc-white bold fs24 text-center"
    >
      <div slot="shadow-box-content">
        <span>Sum</span>
      </div>
    </shadow-box>
    <div class="sum_info_box h-full flex-row border_bottom">
      <div class="flex1 pd-20-50 border_right">
        <div class="flex-space-between-vc h-full m-b-10">
          <span class="fc-white fs20 p-r-15">
            Sum - Over 1.96
          </span>
          <border-box class="mw-150 w-60p" />
        </div>
        <div class="flex-space-between-vc h-full m-t-10">
          <span class="fc-white fs20 p-r-15">
            Sum - Odd 1.96
          </span>
          <border-box class="mw-150 w-60p" />
        </div>
      </div>
      <div class="flex1 pd-20-50">
        <div class="flex-space-between-vc h-full m-b-10">
          <span class="fc-white fs20 p-r-15">
            Sum - Under 1.96
          </span>
          <border-box class="mw-150 w-60p" />
        </div>
        <div class="flex-space-between-vc h-full m-t-10">
          <span class="fc-white fs20 p-r-15">
            Sum - Even 1.96
          </span>
          <border-box class="mw-150 w-60p" />
        </div>
      </div>
    </div>
    <sum-match-item v-for="i in 3" :key="i" :ary-match-data="aryData" />
    <div class="total_result_box h-full flex-row border_bottom">
      <div class="flex1 pd-20-50 border_right">
        <div class="flex-space-between-vc h-full m-b-10">
          <span class="fc-white fs16 p-r-15 text-nowrap">
            03, 05, 18, 19
          </span>
          <betting-value-item :betting-value="10.8" class="h-full" />
        </div>
      </div>
      <div class="flex1 pd-20-50">
        <div class="flex-space-between-vc h-full m-b-10">
          <span class="fc-white fs16 p-r-15 text-nowrap">
            05, 06, 16, 17
          </span>
          <betting-value-item :betting-value="5.4" class="h-full" />
        </div>
      </div>
    </div>
    <div class="total_result_box h-full flex-row">
      <div class="flex1 pd-20-50 border_right">
        <div class="flex-space-between-vc h-full m-b-10">
          <span class="fc-white fs16 p-r-15 text-nowrap">
            07, 08, 14, 16
          </span>
          <betting-value-item :betting-value="3.6" class="h-full" />
        </div>
      </div>
      <div class="flex1 pd-20-50">
        <div class="flex-space-between-vc h-full m-b-10">
          <span class="fc-white fs16 p-r-15 text-nowrap">
            09, 10, 12, 113
          </span>
          <betting-value-item :betting-value="2.7" class="h-full" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import BorderBox from '@/components/pc/games/boat_racing/BorderBox.vue'
import SumMatchItem from '@/components/pc/games/boat_racing/SumMatchItem.vue'
import BettingValueItem from '@/components/pc/games/boat_racing/BettingValueItem.vue'

export default {
  name: 'SumMatchBox',
  components: {
    ShadowBox,
    BorderBox,
    SumMatchItem,
    BettingValueItem
  },
  data() {
    return {
      aryData: [
        {
          boatNo: 3,
          betting: 43.2
        },
        {
          boatNo: 4,
          betting: 43.2
        },
        {
          boatNo: 5,
          betting: 21.6
        },
        {
          boatNo: 6,
          betting: 21.6
        },
        {
          boatNo: 7,
          betting: 14.4
        },
        {
          boatNo: 8,
          betting: 14.4
        }
      ]
    }
  }
}
</script>
<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.mw-150 {
  min-width: 150px;
}

.w-60p {
  width: 60%;
}

.sum_info_box span {
  white-space: nowrap;
}

.border_right {
  border-right: 1px solid $normalBorderColor;
}

.border_bottom {
  border-bottom: 1px solid $normalBorderColor;
}
</style>
