<template>
  <div class="sum_match_item_info_box flex-col-hc-vc">
    <div class="flex-row-hc-vc p-l-40 h-full">
      <span class="fc-white">{{ matchInfo.boatNo }}</span>
    </div>
    <betting-value-item :betting-value="matchInfo.betting" class="h-full" />
  </div>
</template>
<script>
import BettingValueItem from '@/components/pc/games/boat_racing/BettingValueItem.vue'

export default {
  name: 'SumMatchItemInfo',
  components: {
    BettingValueItem
  },
  props: {
    matchInfo: {
      type: Object,
      default() {
        return {
          boatNo: 1,
          betting: 0
        }
      }
    }
  }
}
</script>
<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.sum_match_item_info_box {
  border-right: 1px solid $normalBorderColor;
  font-size: 16px;
  padding: 10px;
}

.sum_match_item_info_box:last-child {
  border-right: none;
}
</style>
