<template>
  <div class="h-full flex-row border_bottom">
    <sum-match-item-info
      v-for="(items, i) in aryMatchData"
      :key="i"
      :match-info="items"
      class="flex1"
    />
  </div>
</template>
<script>
import SumMatchItemInfo from '@/components/pc/games/boat_racing/SumMatchItemInfo.vue'

export default {
  name: 'SumMatchItem',
  components: {
    SumMatchItemInfo
  },
  props: {
    aryMatchData: {
      type: Array,
      default() {
        return [
          {
            boatNo: 1,
            betting: 0
          }
        ]
      }
    }
  }
}
</script>
<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.border_bottom {
  border-bottom: 1px solid $normalBorderColor;
}
</style>
