<template>
  <div class="flex-row-hc-vc front-container br-ss h-full fc-white pd-20">
    <div class="fs22 fw600 text-nowrap">TOTAL BET:</div>
    <div class="flex-col-hl-vc v-full p-l-15">
      <div class="text-nowrap h-full fs18 fw500 p-b-15">Place</div>
      <input-box-with-clear-btn :auto-resize="false" />
    </div>
    <div class="flex-col-hl-vc v-full p-l-15">
      <div class="text-nowrap h-full fs18 fw500 p-b-15">Sum</div>
      <input-box-with-clear-btn :auto-resize="false" />
    </div>
    <div class="flex-col-hl-vc v-full p-l-15">
      <div class="text-nowrap h-full fs18 fw500 p-b-15">Pick</div>
      <input-box-with-clear-btn :auto-resize="false" />
    </div>
    <div class="flex-col-hl-vc v-full p-l-15">
      <div class="text-nowrap h-full fs18 fw500 p-b-15">Extra</div>
      <input-box-with-clear-btn :auto-resize="false" />
    </div>
    <div class="flex-col-hl-vc v-full p-l-15">
      <div class="text-nowrap h-full fs20 fw500 fc-light-yellow p-b-15">
        BET AMOUNT: {{ total }}
      </div>
      <div class="flex-space-between-vc h-full">
        <div class="cancel_button fs14 fw500">Cancel</div>
        <div class="confirm_button fs14 fw500">Confirm</div>
      </div>
    </div>
  </div>
</template>

<script>
import InputBoxWithClearBtn from '@/components/pc/games/InputBoxWithClearBtn'

export default {
  name: 'TotalBetBox',
  components: {
    InputBoxWithClearBtn
  },
  props: {
    total: {
      type: Number,
      default: 1000
    }
  },
  computed: {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.front-container {
  background-color: $clrContainerBack;
}

.cancel_button {
  display: inline-block;
  padding: 10px 35px;
  cursor: pointer;
  border-radius: 10px;
  background: $boatcancel;
  margin: 5px;
}

.cancel_button:hover {
  background: $boatcancelhover;
}

.confirm_button {
  display: inline-block;
  padding: 10px 35px;
  cursor: pointer;
  border-radius: 10px;
  background: $boatconfirm;
  margin: 5px;
}

.confirm_button:hover {
  background: $boatconfirmhover;
}
</style>
