<template>
  <div class="h-full">
    <shadow-box
      :has-content-box="false"
      :has-shadow="false"
      class="pd-15 fc-white bold fs24 text-center"
    >
      <div slot="shadow-box-content">
        <span>2 Sides</span>
      </div>
    </shadow-box>
    <side-match-item
      v-for="(item, i) in aryScores"
      :key="i"
      :index="i"
      :ary-values="item"
    />
  </div>
</template>
<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import SideMatchItem from '@/components/pc/games/boat_racing/SideMatchItem.vue'

export default {
  name: 'TowSideBox',
  components: {
    ShadowBox,
    SideMatchItem
  },
  data() {
    return {
      aryScores: [
        [1.96, 1.96, 1.96, 1.96],
        [1.96, 1.96, 1.96, 1.96],
        [1.96, 1.96, 1.96, 1.96],
        [1.96, 1.96, 1.96, 1.96],
        [1.96, 1.96, 1.96, 1.96],
        [1.96, 1.96, 1.96, 1.96],
        [1.96, 1.96, 1.96, 1.96],
        [1.96, 1.96, 1.96, 1.96],
        [1.96, 1.96, 1.96, 1.96],
        [1.96, 1.96, 1.96, 1.96]
      ]
    }
  }
}
</script>
<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
</style>
