<template>
  <ticket-box :team-info="teamInfo">
    <div slot="ticket-box-content">
      <div class="fs15 fc-white flex-row-hr-vc">
        <div class="br-sm team_match_box flex-row-hc-vc p-l-15 p-r-15 fw500">
          <span>{{ teamInfo.firstTeamMatch }}</span>
        </div>
      </div>
    </div>
  </ticket-box>
</template>

<script>
import TicketBox from '@/components/pc/esports/TicketBox.vue'

export default {
  name: 'ComboTicketBox',
  components: {
    TicketBox
  },
  props: {
    teamInfo: {
      type: Object,
      default() {
        return {
          firstTeam: '',
          secondTeam: '',
          matchWinner: '',
          matchType: ''
        }
      }
    }
  },
  data() {
    return {}
  },
  computed: {},
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.team_match_box {
  height: 35px;
  background-color: $mlightpurple;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
}
</style>
