<template>
  <div class="date-selector-container flex-row-hl-vc p-l-15 p-r-15">
    <svg-icon icon-class="esports_event" class="ic_size_22" />
    <span class="date_selector_box"> Select date </span>
  </div>
</template>

<script>
export default {
  name: 'DateSelector',
  props: {}
}
</script>

<style lang="scss" scoped>
@import '~@/assets/styles/variables.scss';

.date-selector-container {
  background: $clrLightDarkContainerBack;
  border-radius: 9px;
}

.ic_size_22 {
  width: 22px;
  height: 22px;
}

.date_selector_box {
  color: $lightgrey;
  font-weight: 600;
  font-size: 16px;
  padding-left: 15px;
  font-family: Pangram;
}
</style>
