<template>
  <div class="date_time_box br-ss fs14 flex m-l-15 m-b-10">
    <span class="border_right pd-10">
      {{ timeString }}
    </span>
    <span class="fc-white bold pd-10">
      {{ dateString }}
    </span>
  </div>
</template>

<script>
export default {
  name: 'DateTimeViewer',
  props: {
    timeString: {
      type: String,
      default: '01:58'
    },
    dateString: {
      type: String,
      default: '13 Aug'
    }
  },
  data() {
    return {}
  },
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.date_time_box {
  background-color: $clrLightDarkContainerBack;
}

.border_right {
  border-right: 1px solid $grey59;
}
</style>
