<template>
  <div>
    <shadow-box :has-content-box="false" class="m-t-25 p-t-10 p-b-10">
      <div slot="shadow-box-content" class="flex-space-between-vc">
        <div class="flex-row-hc-vc p-l-30">
          <svg-icon icon-class="icon_live" class="ic_size_36" />
          <span class="fs20 p-l-15 fc-light-grey">Live stream start in</span>
        </div>
        <time-counter t-day="00" t-hour="02" t-minutes="19" />
        <div class="flex-row-hc-vc">
          <svg-icon icon-class="overwatch" class="ic_size_50" />
          <div class="p-l-15 flex-col">
            <span class="fs20 fc-light-grey m-b-10">Event</span>
            <span class="fs20 fw700">STANTANDER</span>
          </div>
          <div class="p-l-45 p-r-55 flex-col">
            <span class="fs20 fc-light-grey m-b-10">Maps</span>
            <span class="fs20 fw700">B03</span>
          </div>
        </div>
      </div>
    </shadow-box>
  </div>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import TimeCounter from '@/components/pc/esports/TimeCounter.vue'

export default {
  name: 'LiveMatchTimeCounter',
  components: {
    ShadowBox,
    TimeCounter
  },
  props: {
    liveMatchPlay: {
      type: String,
      default: ''
    }
  },
  data() {
    return {}
  },
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.ic_size_36 {
  width: 36px;
  height: 36px;
}

.ic_size_50 {
  width: 50px;
  height: 50px;
}

p {
  margin-bottom: 15px;
}
</style>
