<template>
  <div class="fw500 div-text-center">
    <b-row class="m-l-5 m-r-10 fs18 fc-light-grey">
      <b-col md="1" lg="1" xl="1">
        <svg-icon icon-class="icon_info" class="icon-box" />
      </b-col>
      <b-col md="3" lg="3" xl="3">Coins in pool</b-col>
      <b-col md="5" lg="5" xl="5">Match winner</b-col>
      <b-col md="3" lg="3" xl="3">Coins in pool</b-col>
    </b-row>
    <shadow-box :has-content-box="false" class="m-t-10 p-t-10 p-b-10">
      <b-row slot="shadow-box-content" class="fs18 m-l-5 m-r-10">
        <b-col md="1" lg="1" xl="1"></b-col>
        <b-col md="3" lg="3" xl="3">
          <div class="br-sm bg-dark-gray pd-15">
            {{ infoWinner.firstPool }}
          </div>
        </b-col>
        <b-col md="5" lg="5" xl="5">
          <b-row>
            <b-col md="6" lg="6" xl="6">
              <div class="br-sm bg-green pd-15">
                {{ infoWinner.firstWinner }}
              </div>
            </b-col>
            <b-col md="6" lg="6" xl="6">
              <div class="br-sm bg-red pd-15">
                {{ infoWinner.secondWinner }}
              </div>
            </b-col>
          </b-row>
        </b-col>
        <b-col md="3" lg="3" xl="3">
          <div class="br-sm bg-dark-gray pd-15">
            {{ infoWinner.secondPool }}
          </div>
        </b-col>
      </b-row>
    </shadow-box>
  </div>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'

export default {
  name: 'LiveMatchWinner',
  components: {
    ShadowBox
  },
  props: {
    infoWinner: {
      type: [Object],
      default() {
        return [
          {
            firstPool: 0,
            firstWinner: 0,
            secondPool: 0,
            secondWinner: 0
          }
        ]
      },
      request: true
    }
  },
  data() {
    return {}
  },
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
.bg-green {
  background-color: $bgGreen;
}

.bg-red {
  background-color: $bgRed;
}

.bg-dark-gray {
  background-color: $darkgrey;
}

.div-text-center {
  text-align: center;
}

.icon-box {
  width: 27px;
}
</style>
