<template>
  <div>
    <shadow-box :has-content-box="false" class="mg-0">
      <div slot="shadow-box-content" class="live_player_container">
        <img :src="liveMatchPlay" class="h-full br-ss live_player_container" />
        <div class="h-full v-full live_player_back flex-row-hc-vc br-ss">
          <img
            src="/imgs/esports/liveplay.png"
            class="br-ss live_player_play"
          />
        </div>
      </div>
    </shadow-box>
  </div>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'

export default {
  name: 'LiveMatchPlayer',
  components: {
    ShadowBox
  },
  props: {
    liveMatchPlay: {
      type: String,
      default: ''
    }
  },
  data() {
    return {}
  },
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.live_player_container {
  position: relative;
  max-height: 400px;
}

.live_player_back {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.live_player_play {
  position: absolute;
  cursor: pointer;
}
</style>
