<template>
  <shadow-box
    :is-lightgray-back="false"
    :has-content-box="false"
    :has-shadow="false"
    class="pd-10"
  >
    <div slot="shadow-box-content" class="flex-col-hc-vt">
      <img
        ref="img_top"
        src="/imgs/esports_main_top.png"
        class="h-full br-sm banner_image"
      />
      <div class="text-box fc-white p-l-55">
        <div class="fs55 fw300">What you are waiting For ?</div>
        <div class="fs32 fw500 m-t-45">Create your wallet today..</div>
        <div class="fs13 fw300 m-t-45">
          Tarobet is an innovative eSports betting platform designed to meet the
          expectations
        </div>
        <div class="fs13 fw300 m-t-10">
          of the fast-growing community of games and eSports enthusiasts.
        </div>
        <div class="flex-row-hl-vc m-t-60">
          <action-button
            label="Register now"
            :font-size="20"
            :padding-size="20"
            :has-weight="false"
            bg-color="#a753ff"
          />
          <div class="fs15 m-l-25">You have an account?</div>
          <nuxt-link to="#" class="fs15 hyper-log-in m-l-5"
            >Log in now</nuxt-link
          >
        </div>
      </div>
    </div>
  </shadow-box>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import ActionButton from '@/components/ActionButton.vue'

/**
 * @param {Function} func
 * @param {number} wait
 * @param {boolean} immediate
 * @return {*}
 */
export function debounce(func, wait, immediate) {
  let timeout, args, context, timestamp, result

  const later = function() {
    // 据上一次触发时间间隔
    const last = +new Date() - timestamp

    // 上次被包装函数被调用时间间隔 last 小于设定时间间隔 wait
    if (last < wait && last > 0) {
      timeout = setTimeout(later, wait - last)
    } else {
      timeout = null
      // 如果设定为immediate===true，因为开始边界已经调用过了此处无需调用
      if (!immediate) {
        result = func.apply(context, args)
        if (!timeout) context = args = null
      }
    }
  }

  return function(...args) {
    context = this
    timestamp = +new Date()
    const callNow = immediate && !timeout
    // 如果延时不存在，重新设定延时
    if (!timeout) timeout = setTimeout(later, wait)
    if (callNow) {
      result = func.apply(context, args)
      context = args = null
    }

    return result
  }
}

export default {
  name: 'MainTopImageBox',
  components: {
    ShadowBox,
    ActionButton
  },
  props: {},
  data() {
    return {
      $_sidebarElm: null
    }
  },
  computed: {},
  mounted() {
    this.__resizeHandler = debounce(() => {
      if (this.$refs.img_top) {
        this.$refs.img_top.height = this.$refs.img_top.width / 2.5
      }
    }, 100)
    window.addEventListener('resize', this.__resizeHandler)
    this.$_sidebarElm = document.getElementsByClassName('leftsidebar')[0]
    if (this.$_sidebarElm != null) {
      this.$_sidebarElm.addEventListener(
        'transitionend',
        this.$_sidebarResizeHandler
      )
    }
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.__resizeHandler)

    if (this.$_sidebarElm != null) {
      this.$_sidebarElm.removeEventListener(
        'transitionend',
        this.$_sidebarResizeHandler
      )
    }
  },
  methods: {
    $_sidebarResizeHandler(e) {
      if (e.propertyName === 'width') {
        this.__resizeHandler()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.text-box {
  position: absolute;
}

.hyper-log-in {
  color: $mlightpurple;
  text-decoration: none;
}

.hyper-log-in:hover {
  color: $lightpurple;
}

.banner_image {
  max-height: 500px;
}
</style>
