<template>
  <div class="pd-15 text-center fc-light-grey fw500 fs16">
    <div class="m-l-10 m-r-10">
      <b-row>
        <b-col md="5" lg="5" xl="5" />
        <b-col md="7" lg="7" xl="7">
          <b-row class="header_style">
            <b-col md="2" lg="2" xl="2">Score</b-col>
            <b-col md="2" lg="2" xl="2">Pool</b-col>
            <b-col md="4" lg="4" xl="4">Match winner</b-col>
            <b-col md="4" lg="4" xl="4">More bets</b-col>
          </b-row>
        </b-col>
      </b-row>
    </div>
    <match-list-item
      v-for="(item, i) in aryMatchInfo"
      :key="i"
      :match-info="item"
    />
  </div>
</template>

<script>
import MatchListItem from '@/components/pc/esports/MatchListItem.vue'

export default {
  name: 'MatchList',
  components: {
    MatchListItem
  },
  props: {},
  data() {
    return {
      aryMatchInfo: [
        {
          dateString: '13 Aug',
          timeString: '01:58',
          firstTeamName: 'FC Barcalona',
          firstTeamScore: '01',
          firstTeamPool: 48,
          firstTeamMatch: 1.28,
          firstTeamMatchStatus: 1,
          secondTeamName: 'Bayern Muchen',
          secondTeamScore: '02',
          secondTeamPool: 48,
          secondTeamMatch: 2.89,
          secondTeamMatchStatus: 2,
          moreBets: 33
        },
        {
          dateString: '13 Aug',
          timeString: '01:58',
          firstTeamName: 'FC Barcalona',
          firstTeamScore: '01',
          firstTeamPool: 48,
          firstTeamMatch: 1.28,
          firstTeamMatchStatus: 0,
          secondTeamName: 'Bayern Muchen',
          secondTeamScore: '02',
          secondTeamPool: 48,
          secondTeamMatch: 2.89,
          secondTeamMatchStatus: 0,
          moreBets: 33
        },
        {
          dateString: '13 Aug',
          timeString: '01:58',
          firstTeamName: 'FC Barcalona',
          firstTeamScore: '01',
          firstTeamPool: 48,
          firstTeamMatch: 1.28,
          firstTeamMatchStatus: 1,
          secondTeamName: 'Bayern Muchen',
          secondTeamScore: '02',
          secondTeamPool: 48,
          secondTeamMatch: 2.89,
          secondTeamMatchStatus: 2,
          moreBets: 33
        },
        {
          ddateString: '13 Aug',
          timeString: '01:58',
          firstTeamName: 'FC Barcalona',
          firstTeamScore: '01',
          firstTeamPool: 48,
          firstTeamMatch: 1.28,
          firstTeamMatchStatus: 1,
          secondTeamName: 'Bayern Muchen',
          secondTeamScore: '02',
          secondTeamPool: 48,
          secondTeamMatch: 2.89,
          secondTeamMatchStatus: 2,
          moreBets: 33
        },
        {
          dateString: '13 Aug',
          timeString: '01:58',
          firstTeamName: 'FC Barcalona',
          firstTeamScore: '01',
          firstTeamPool: 48,
          firstTeamMatch: 1.28,
          firstTeamMatchStatus: 1,
          secondTeamName: 'Bayern Muchen',
          secondTeamScore: '02',
          secondTeamPool: 48,
          secondTeamMatch: 2.89,
          secondTeamMatchStatus: 2,
          moreBets: 33
        }
      ]
    }
  },
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
.header_style {
  font-family: Pangram;
  font-weight: 600;
}
</style>
