<template>
  <div class="flex-row-hl-vc">
    <div :class="'match_info_box p-l-10 p-r-10 br-sm' + teamInfoBoxStyle">
      {{ teamMatch }}
    </div>
    <div class="triangle_box m-l-15">
      <svg-icon v-if="teamMatchStatus === 1" icon-class="triangle_up" />
      <svg-icon v-if="teamMatchStatus === 2" icon-class="triangle_down" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'MatchWinnerView',
  props: {
    teamMatch: {
      type: Number,
      default: 0
    },
    teamMatchStatus: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      teamInfoBoxStyle:
        this.teamMatchStatus === 1
          ? ' win'
          : this.teamMatchStatus === 2
          ? ' lose'
          : ''
    }
  },
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.match_info_box {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 70px;
}

.match_info_box.win {
  background-color: $green;
  border: 2px solid $green;
}

.match_info_box.lose {
  background-color: $bgRed;
  border: 2px solid $bgRed;
}

.triangle_box {
  display: flex;
  width: 18px;
  background-color: $clrContainerBack;
}
</style>
