<template>
  <div class="match_advertise_box br-xs m-t-15 h-full pd-5">
    <div v-if="advertiseInfo.imgAdvertise.length === 1" class="h-full m-b-10">
      <img :src="advertiseInfo.imgAdvertise[0]" class="h-full br-xs" />
    </div>
    <div v-else class="h-full m-b-20 multi_img_box">
      <img :src="advertiseInfo.imgAdvertise[0]" class="h-full m-b-5 br-xs" />
      <div class="flex-space-between-vc">
        <img
          :src="advertiseInfo.imgAdvertise[1]"
          class="sub_img_size m-r-4 br-xs"
        />
        <div class="sub_img_size br-xs" style="position: relative;">
          <img class="h-full br-xs" :src="advertiseInfo.imgAdvertise[2]" />
          <div class="overlay_box br-xs v-full h-full flex-row-hc-vc fc-white">
            <span class="fs24">{{ advertiseInfo.overlayTxt }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="fs12 fw400 m-b-20">
      <span class="fc-yellow m-r-25">{{ advertiseInfo.matchType }}</span>
      <span class="txt_date">{{ advertiseInfo.matchDate }}</span>
    </div>
    <div class="fs14 fw500 fc-white m-b-20">
      {{ advertiseInfo.matchTitle }}
    </div>
    <div class="fs12 fw500 fc-light-grey m-b-20">
      {{ advertiseInfo.matchDesc }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'MatchAdvertiseBox',
  components: {},
  props: {
    advertiseInfo: {
      type: Object,
      default() {
        return [
          {
            imgAdvertise: [''],
            matchType: '',
            matchDate: '',
            matchTitle: '',
            matchDesc: '',
            overlayTxt: ''
          }
        ]
      }
    }
  },
  data() {
    return {}
  },
  computed: {},
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.match_advertise_box {
  background-color: $mainBgColor;
}

.multi_img_box {
  position: relative;
}

.sub_img_size {
  width: calc(50% - 5px);
  max-height: 95px;
  img {
    width: 100%;
    max-height: 95px;
  }
}

.txt_date {
  color: $greyAC;
}

.overlay_box {
  background-color: $imgMaskColor;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.m-r-4 {
  margin-right: 4px;
}
</style>
