<template>
  <shadow-box
    :has-shadow="false"
    :has-content-box="false"
    class="match_list_item"
  >
    <div
      slot="shadow-box-content"
      class="m-l-10 m-r-10 text-center fc-light-grey fw400 fs14"
    >
      <b-row>
        <b-col md="5" lg="5" xl="5" class="border_right">
          <b-row class="v-full">
            <b-col md="6" lg="6" xl="6" class="border_right">
              <b-row class="flex-space-around-vc">
                <img
                  src="/imgs/logo_league_icon.png"
                  class="m-l-10 m-t-10 m-b-10 ic_size_60"
                />
                <div class="live_box br-ss pd-10 fc-white">
                  <span>Live</span>
                  <svg-icon icon-class="streaming" />
                </div>
              </b-row>
              <b-row>
                <date-time-viewer
                  :date-string="matchInfo.dateString"
                  :time-string="matchInfo.timeString"
                />
              </b-row>
            </b-col>
            <b-col md="6" lg="6" xl="6">
              <div class="flex-col-hc-vc v-full">
                <team-info-view
                  :team-name="matchInfo.firstTeamName"
                  class="m-t-5 m-b-5"
                />
                <team-info-view
                  :team-name="matchInfo.secondTeamName"
                  class="m-t-5 m-b-5"
                />
              </div>
            </b-col>
          </b-row>
        </b-col>
        <b-col md="7" lg="7" xl="7" class="fc-white">
          <b-row class="v-full pangram_medium">
            <b-col md="2" lg="2" xl="2" class="border_right">
              <div class="flex-col-hc-vc v-full">
                <div class="info_box">
                  {{ matchInfo.firstTeamScore }}
                </div>
                <div class="info_box">
                  {{ matchInfo.secondTeamScore }}
                </div>
              </div>
            </b-col>
            <b-col md="2" lg="2" xl="2" class="border_right">
              <div class="flex-col-hc-vc v-full">
                <div class="info_box">{{ matchInfo.firstTeamPool }}%</div>
                <div class="info_box">{{ matchInfo.secondTeamPool }}%</div>
              </div>
            </b-col>
            <b-col md="4" lg="4" xl="4" class="border_right">
              <div class="flex-col-hc-vc v-full">
                <match-winner-view
                  :team-match="matchInfo.firstTeamMatch"
                  :team-match-status="matchInfo.firstTeamMatchStatus"
                  class="m-t-5 m-b-5"
                />
                <match-winner-view
                  :team-match="matchInfo.secondTeamMatch"
                  :team-match-status="matchInfo.secondTeamMatchStatus"
                  class="m-t-5 m-b-5"
                />
              </div>
            </b-col>
            <b-col md="4" lg="4" xl="4">
              <div class="flex-col-hc-vc v-full">
                <div class="round_box p-t-20 p-b-20 fw500">
                  <span v-if="matchInfo.moreBets > 0">+</span>
                  {{ matchInfo.moreBets }}
                </div>
              </div>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </div>
  </shadow-box>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import DateTimeViewer from '@/components/pc/esports/DateTimeViewer.vue'
import TeamInfoView from '@/components/pc/esports/TeamInfoView.vue'
import MatchWinnerView from '@/components/pc/esports/MatchWinnerView.vue'

export default {
  name: 'MatchListItem',
  components: {
    ShadowBox,
    DateTimeViewer,
    TeamInfoView,
    MatchWinnerView
  },
  props: {
    matchInfo: {
      type: Object,
      default() {
        return {
          dateString: '',
          timeString: '',
          firstTeamName: '',
          firstTeamScore: '00',
          firstTeamPool: 0,
          firstTeamMatch: 0,
          firstTeamMatchStatus: 0,
          secondTeamName: '',
          secondTeamScore: '00',
          secondTeamPool: 0,
          secondTeamMatch: 0,
          secondTeamMatchStatus: 0,
          moreBets: 0
        }
      }
    }
  },
  data() {
    return {}
  },
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.match_list_item {
  margin-top: 20px !important;
}

.live_box {
  background-color: $red;
}

.border_right {
  border-right: 1px solid $grey59;
}

.info_box {
  background-color: $clrLightDarkContainerBack;
  border-radius: 10px;
  padding: 15px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.round_box {
  background-color: $clrLightDarkContainerBack;
  border-radius: 50%;
  padding-left: 14px;
  padding-right: 14px;
}

.ic_size_60 {
  width: 60px;
  height: 60px;
}

.pangram_medium {
  font-family: 'Pangram';
  font-weight: 600;
}
</style>
