<template>
  <div class="h-center">
    <img
      v-for="(item, i) in images.items"
      :key="i"
      :src="item"
      class="br-sm m-t-10 m-b-10 ic_size_promo"
    />
  </div>
</template>

<script>
import promos from '@/assets/imgs/promo.js'

export default {
  name: 'PromoContainer',
  components: {},
  props: {
    images: {
      type: [Object],
      default() {
        return promos
      }
    }
  },
  data() {
    return {}
  },
  computed: {},
  methods: {}
}
</script>

<style lang="scss" scoped>
.ic_size_promo {
  width: 280px;
  height: 210px;
}
</style>
