<template>
  <div class="rightsidebar v-full">
    <r-s-container class="dark_back no_border fc-white">
      <div slot="header" class="rs-container--header">
        <tab-select
          slot="header"
          tab-class="fs16 bold nav_class_promo"
          :tabs="rightSidebarTabs"
          :active-tab="1"
          @select="rsTabSelected"
        ></tab-select>
      </div>
      <div
        slot="content"
        :class="{
          'rs-container--content': true,
          'with-header': true,
          'with-header-lg': true,
          'with-footer': rightSidebarTabs[0].active,
          'with-footer--sm': rightSidebarTabs[0].active && !ticketFooterIsCombo,
          'with-footer--lg': rightSidebarTabs[0].active && ticketFooterIsCombo
        }"
      >
        <ticket-container
          v-if="rightSidebarTabs[0].active"
          @tabsSelected="ticketTabsSelected"
        />
        <promo-container
          v-if="rightSidebarTabs[1].active"
          class="no-scrollbar v-full"
        />
      </div>
      <div
        v-if="rightSidebarTabs[0].active"
        slot="footer"
        class="rs-container--footer"
      >
        <total-ticket-box
          :is-combo="ticketFooterIsCombo"
          :total-stake="3000"
          :total-return="15000"
        />
      </div>
    </r-s-container>
    <b-card no-body class="dark_back no_border fc-white">
      <!-- <b-tabs
        nav-class="fs16 bold nav_class_promo"
        :no-nav-style="false"
        content-class="mt-2"
        fill
      >
        <b-tab title-link-class="title_link_class promo" title="Tickets">
          <ticket-container />
        </b-tab>
        <b-tab title-link-class="title_link_class promo" title="Promo" active>
          <promo-container />
        </b-tab>
      </b-tabs> -->
    </b-card>
  </div>
</template>
<script>
import TicketContainer from '@/components/pc/esports/TicketContainer.vue'
import PromoContainer from '@/components/pc/esports/PromoContainer.vue'
import TabSelect from '@/components/pc/rightsidebar/TabSelect'
import RSContainer from '@/components/pc/rightsidebar/Container'
import TotalTicketBox from '@/components/pc/esports/TotalTicketBox.vue'
export default {
  name: 'EsportsRightSidebarContent',
  components: {
    TicketContainer,
    PromoContainer,
    TabSelect,
    RSContainer,
    TotalTicketBox
  },
  data() {
    return {
      ticketFooterIsCombo: false,
      rightSidebarTabs: [
        {
          nav_item_class: '',
          title_link_class: 'title_link_class promo',
          title: 'Tickets',
          key: 0,
          active: false
        },
        {
          nav_item_class: '',
          title_link_class: 'title_link_class promo',
          title: 'Promo',
          key: 1,
          active: false
        }
      ]
    }
  },
  computed: {
    sidebar() {
      return this.$store.getters['app/getSidebar']
    }
  },
  mounted() {},
  methods: {
    rsTabSelected(tab) {
      for (let i = 0; i < this.rightSidebarTabs.length; i++) {
        if (this.rightSidebarTabs[i].key === tab.key) {
          this.rightSidebarTabs[i].active = true
          break
        }
      }
    },
    ticketTabsSelected(index) {
      this.ticketFooterIsCombo = index !== 0
    }
  }
}
</script>
<style lang="scss" scoped></style>
