<template>
  <ticket-box :team-info="teamInfo" class="single_ticket_box">
    <div slot="ticket-box-content">
      <div class="fs15 fc-white m-t-30 flex-space-between-vc">
        <div class="br-sm team_match_box flex-row-hc-vc p-l-15 p-r-15 fw500">
          <span>{{ teamInfo.firstTeamMatch }}</span>
        </div>
        <div
          class="br-sm match_betting_box flex-row-hc-vc p-l-10 fc-light-grey"
        >
          <input
            id="bet"
            v-model="varLink"
            placeholder="Enter Stake"
            oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
            class="m-r-10 fs15 fw600"
            @keyup="onValueChange()"
          />
          <div
            class="br-sm match_betting_box max_bet flex-row-hc-vc p-l-15 p-r-15 fw600"
            @click="maxBetting()"
          >
            <span>Max Bet</span>
          </div>
        </div>
      </div>
      <div v-if="isConfirmVisible" class="confirm_box br-sm pd-15 fs15">
        <div class="confirm_box_content flex-col-hc-vc br-sm fc-white p-b-25">
          <div class="pos-abs r-0 t-0 p-r-5 p-t-5">
            <font-awesome-icon
              icon="times"
              class="fs10 fc-white close_btn"
              @click="closeConfirm()"
            />
          </div>
          <div class="bold text-center">
            <p>The Odds have Changed, Do</p>
            <p>you accept?</p>
          </div>
          <div class="flex-space-between-vc h-full btn_container">
            <div
              class="br-sm team_match_box confirm_btn flex-row-hc-vc p-l-25 p-r-25 fw500"
              @click="closeConfirm()"
            >
              <span>Confirm</span>
            </div>
            <div
              class="br-sm match_betting_box max_bet flex-row-hc-vc p-l-25 p-r-25 fw500"
              @click="closeConfirm()"
            >
              <span>Reject</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ticket-box>
</template>

<script>
import TicketBox from '@/components/pc/esports/TicketBox.vue'

export default {
  name: 'SingleTicketBox',
  components: {
    TicketBox
  },
  props: {
    varLink: {
      type: String,
      default: ''
    },
    teamInfo: {
      type: Object,
      default() {
        return {
          firstTeam: '',
          firstTeamMatch: 0,
          secondTeam: '',
          secondTeamMatch: 0,
          matchWinner: '',
          matchType: ''
        }
      }
    }
  },
  data() {
    return {
      isConfirmVisible: false
    }
  },
  computed: {},
  created() {},
  methods: {
    maxBetting() {
      this.isConfirmVisible = true
    },

    onValueChange() {
      if (this.varLink === '') this.varLink = ''
      else this.varLink = Math.round(parseFloat(this.varLink) * 10) / 10
    },

    closeConfirm() {
      this.isConfirmVisible = false
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.single_ticket_box {
  position: relative;
}

.team_match_box {
  height: 35px;
  background-color: $mlightpurple;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
}

.match_betting_box {
  height: 35px;
  background-color: $grey59;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
}

.match_betting_box input {
  background: none;
  border: none;
  outline: none;
  color: $lightgrey;
  width: 85px;
}

.match_betting_box.max_bet {
  background-color: $mainBgColor;
}

.match_betting_box.max_bet:hover {
  background-color: $grey40;
  cursor: pointer;
}

.confirm_box {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.confirm_box_content {
  width: 100%;
  height: 100%;
  background-color: $clrContainerBack;
  position: relative;
}

.confirm_box_content p {
  margin-bottom: 10px;
}

.btn_container {
  position: absolute;
  bottom: 0px;
}

.team_match_box.confirm_btn:hover {
  background-color: $lightpurple;
  cursor: pointer;
}
</style>
