<template>
  <shadow-box :has-content-box="false" class="team_bet_box">
    <div slot="shadow-box-content" class="flex-col-hc-vc p-l-30 p-r-30">
      <div class="ring_team_box pd-5">
        <div>
          <img :src="aryTeamImg.items[teamName]" class="ic_size_55" />
        </div>
      </div>
      <span class="fs15 p-t-15 p-b-15">{{ teamName }}</span>
      <div class="bet_btn br-s h-full p-t-10 p-b-10 text-center m-t-10 m-b-10">
        <span class="fs18">Bet</span>
      </div>
    </div>
  </shadow-box>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'

import aryTeamImg from '@/assets/imgs/team_icon.js'

export default {
  name: 'TeamBetBox',
  components: {
    ShadowBox
  },
  props: {
    teamName: {
      type: String,
      default: ''
    }
  },
  data() {
    return {}
  },
  computed: {
    aryTeamImg() {
      return aryTeamImg
    }
  },
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.team_bet_box {
  width: 170px;
  position: relative;
}

.ring_team_box {
  border-radius: 50%;
  background-color: $clrContainerBack;
  margin-top: -20px;
}

.ring_team_box > div {
  padding: 18px;
  border-radius: 50%;
  background-color: $navbarBgColor;
}

.ic_size_55 {
  width: 55px;
  height: 55px;
}

.bet_btn {
  background-color: $mlightpurple;
  cursor: pointer;
}
</style>
