<template>
  <nuxt-link to="/esports/123" class="h-full">
    <div class="flex-row-hl-vc team_info_box br-sm h-full">
      <div class="team_icon_box br-sm">
        <img :src="aryTeamImg.items[teamName]" class="ic_size_20" />
      </div>
      <span class="fc-white p-l-10 fs14">
        {{ teamName }}
      </span>
    </div>
  </nuxt-link>
</template>

<script>
import aryTeamImg from '@/assets/imgs/team_icon.js'

export default {
  name: 'TeamInfoView',
  props: {
    teamName: {
      type: String,
      default: ''
    }
  },
  computed: {
    aryTeamImg() {
      return aryTeamImg
    }
  },
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.team_info_box {
  background-color: $clrLightDarkContainerBack;
  padding: 7px;
}

.team_info_box span {
  overflow: hidden;
  font-family: Pangram;
  font-weight: 500;
}

.team_icon_box {
  background-color: $clrContainerBack;
}

.team_icon_box img {
  margin: 7px;
}

.ic_size_20 {
  width: 20px;
  height: 20px;
}
</style>
