<template>
  <shadow-box
    v-if="isVisible"
    :has-shadow="false"
    :has-content-box="false"
    class="ticket_box m-t-5 m-b-10 p-d-0 fc-light-grey"
  >
    <div slot="shadow-box-content">
      <div class="h-full flex-row-hr-vc p-t-5 p-r-10">
        <font-awesome-icon
          icon="times"
          class="fs10 fc-white close_btn"
          @click="closeTicket()"
        />
      </div>
      <ticket-info-view :team-info="teamInfo" />
      <slot name="ticket-box-content"></slot>
    </div>
  </shadow-box>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'
import TicketInfoView from '@/components/pc/esports/TicketInfoView.vue'

export default {
  name: 'TicketBox',
  components: {
    ShadowBox,
    TicketInfoView
  },
  props: {
    teamInfo: {
      type: Object,
      default() {
        return {
          firstTeam: '',
          secondTeam: '',
          matchWinner: '',
          matchType: ''
        }
      }
    }
  },
  data() {
    return {
      isVisible: true
    }
  },
  computed: {},
  created() {},
  methods: {
    closeTicket() {
      this.isVisible = false
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.ticket_box {
  border: 1px solid $grey59;
  line-height: 1;
}

.close_btn {
  cursor: pointer;
}
</style>
