<template>
  <div class="fs15 flex-row-hl-vc h-full">
    <div class="flex-col-hl-vc p-l-10 p-r-20">
      <div class="img_box top br-sl pd-10">
        <img :src="aryTeamImg.items[teamInfo.firstTeam]" class="ic_size_20" />
      </div>
      <div class="img_box bottom br-sl pd-10">
        <img :src="aryTeamImg.items[teamInfo.secondTeam]" class="ic_size_20" />
      </div>
    </div>
    <div class="flex-col-hc-vt">
      <p class="m-b-10 bold flex flex-wrap">
        <span>{{ teamInfo.firstTeam }}</span>
        <span class="fc-m-light-purple p-l-5 p-r-5"> vs </span>
        <span>{{ teamInfo.secondTeam }}</span>
      </p>
      <p class="fc-white fs12 m-b-10">{{ teamInfo.matchWinner }}</p>
      <p class="fc-yellow bold m-b-0">{{ teamInfo.matchType }}</p>
    </div>
  </div>
</template>

<script>
import aryTeamImg from '@/assets/imgs/team_icon.js'

export default {
  name: 'TicketInfoView',
  components: {},
  props: {
    teamInfo: {
      type: Object,
      default() {
        return {
          firstTeam: '',
          secondTeam: '',
          matchWinner: '',
          matchType: ''
        }
      }
    }
  },
  data() {
    return {}
  },
  computed: {
    aryTeamImg() {
      return aryTeamImg
    }
  },
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.img_box {
  background-color: $clrDarkContainerBack;
  width: 42px;
  height: 42px;
}

.img_box.top {
  border: 1px solid $grey6d;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  z-index: 2;
}

.img_box.bottom {
  border: 1px solid $mlightpurple;
  margin-top: -8px;
  z-index: 1;
}

.ic_size_20 {
  width: 20px;
  height: 20px;
}
</style>
