<template>
  <!-- <div class="v-full h-full h-center"> -->
  <r-s-container
    class="dark_back no_border fc-white v-full h-full h-center"
    :no-collapse="true"
  >
    <div slot="header" class="rs-container--header" style="z-index: 1001;">
      <tab-select
        slot="header"
        tab-class="fs15 fw500 nav_class_ticket"
        :tabs="tabs"
        :active-tab="0"
        :is-fill="false"
        @select="rsTabSelected"
      >
        <div slot="tabs-end">
          <div class="v-full flex-row-hc-vc">
            <span class="purple_round">3</span>
          </div>
        </div>
      </tab-select>
    </div>
    <div
      slot="content"
      :class="{
        'rs-container--content': true,
        'with-header': true,
        'with-header-sm': true,
        'no-scrollbar v-full': true
      }"
    >
      <div v-if="tabs[0].active" class="p-l-10 p-r-10">
        <single-ticket-box
          v-for="(item, i) in aryTicketInfo"
          :key="i"
          :team-info="item.teamInfo"
        />
      </div>
      <div v-if="tabs[1].active" class="p-l-10 p-r-10">
        <combo-ticket-box
          v-for="(item, i) in aryTicketInfo"
          :key="i"
          :team-info="item.teamInfo"
        />
      </div>
    </div>
  </r-s-container>
  <!-- <b-card no-body class="dark_back no_border fc-white h-full">
    <b-tabs
      nav-class="fs15 fw500 nav_class_ticket"
      :no-nav-style="false"
      content-class="mt-2"
      @input="tabsSelected"
    >
      <b-tab
        title-item-class="title_item_class ticket"
        title-link-class="title_link_class ticket"
        title="SINGLE"
        active
      >
        <div class="p-l-10 p-r-10">
          <single-ticket-box
            v-for="(item, i) in aryTicketInfo"
            :key="i"
            :team-info="item.teamInfo"
          />
        </div>
      </b-tab>
      <b-tab
        title-item-class="title_item_class ticket"
        title-link-class="title_link_class ticket"
        title="COMBO"
      >
        <div class="p-l-10 p-r-10">
          <combo-ticket-box
            v-for="(item, i) in aryTicketInfo"
            :key="i"
            :team-info="item.teamInfo"
          />
        </div>
      </b-tab>
      <div slot="tabs-end">
        <div class="v-full flex-row-hc-vc">
          <span class="purple_round">3</span>
        </div>
      </div>
    </b-tabs>
  </b-card> -->
  <!-- </div> -->
</template>

<script>
import SingleTicketBox from '@/components/pc/esports/SingleTicketBox.vue'
import ComboTicketBox from '@/components/pc/esports/ComboTicketBox.vue'
// import TotalTicketBox from '@/components/pc/esports/TotalTicketBox.vue'
import RSContainer from '@/components/pc/rightsidebar/Container'
import TabSelect from '@/components/pc/rightsidebar/TabSelect'

import promos from '@/assets/imgs/promo.js'

export default {
  name: 'TicketContainer',
  components: {
    SingleTicketBox,
    ComboTicketBox,
    RSContainer,
    TabSelect
    // TotalTicketBox
  },
  props: {
    images: {
      type: [Object],
      default() {
        return promos
      }
    }
  },
  data() {
    return {
      tabs: [
        {
          nav_item_class: 'title_item_class ticket',
          title_link_class: 'title_link_class ticket',
          title: 'Single',
          key: 0,
          active: false
        },
        {
          nav_item_class: 'title_item_class ticket',
          title_link_class: 'title_link_class ticket',
          title: 'Combo',
          key: 1,
          active: false
        }
      ],
      aryTicketInfo: [
        {
          teamInfo: {
            firstTeam: 'Bayern Muchen',
            firstTeamMatch: 1.28,
            secondTeam: 'FC Barcalona',
            secondTeamMatch: 2.89,
            matchWinner: 'Map 2 Winner',
            matchType: 'VIRTUS PRO'
          }
        },
        {
          teamInfo: {
            firstTeam: 'Bayern Muchen',
            firstTeamMatch: 1.28,
            secondTeam: 'FC Barcalona',
            secondTeamMatch: 2.89,
            matchWinner: 'Map 2 Winner',
            matchType: 'VIRTUS PRO'
          }
        },
        {
          teamInfo: {
            firstTeam: 'Bayern Muchen',
            firstTeamMatch: 1.28,
            secondTeam: 'FC Barcalona',
            secondTeamMatch: 2.89,
            matchWinner: 'Map 2 Winner',
            matchType: 'VIRTUS PRO'
          }
        },
        {
          teamInfo: {
            firstTeam: 'Bayern Muchen',
            firstTeamMatch: 1.28,
            secondTeam: 'FC Barcalona',
            secondTeamMatch: 2.89,
            matchWinner: 'Map 2 Winner',
            matchType: 'VIRTUS PRO'
          }
        },
        {
          teamInfo: {
            firstTeam: 'Bayern Muchen',
            firstTeamMatch: 1.28,
            secondTeam: 'FC Barcalona',
            secondTeamMatch: 2.89,
            matchWinner: 'Map 2 Winner',
            matchType: 'VIRTUS PRO'
          }
        }
      ]
    }
  },
  computed: {},
  methods: {
    rsTabSelected(tab) {
      let index = 0
      for (let i = 0; i < this.tabs.length; i++) {
        if (this.tabs[i].key === tab.key) {
          this.tabs[i].active = true
          index = i
          break
        }
      }
      this.$emit('tabsSelected', index)
    }
    // tabsSelected(index) {
    //   this.$emit('tabsSelected', index)
    // }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.dark_back {
  background-color: $clrDarkContainerBack;
}

.no_border {
  border: none;
  border-radius: 0px;
}

.purple_round {
  width: 20px;
  height: 20px;
  background-color: $purple;
  border-radius: 50%;
  text-align: center;
  padding-top: 3px;
  font-weight: 500;
  font-size: 12px;
}
</style>
