<template>
  <div class="flex-row-hc-vc">
    <div class="flex-col-hc-vc">
      <span class="fs20 fw700 p-b-10">{{ tDay }}</span>
      <span class="fs12 fw400">Day</span>
    </div>
    <div class="flex-col-hc-vc">
      <span class="fs20 fw700 p-b-10 p-l-10 p-r-10">:</span>
      <span class="fs12 fw400 space_box"></span>
    </div>
    <div class="flex-col-hc-vc">
      <span class="fs20 fw700 p-b-10">{{ tHour }}</span>
      <span class="fs12 fw400">Hours</span>
    </div>
    <div class="flex-col-hc-vc">
      <span class="fs20 fw700 p-b-10 p-l-10 p-r-10">:</span>
      <span class="fs12 fw400 space_box"> </span>
    </div>
    <div class="flex-col-hc-vc">
      <span class="fs20 fw700 p-b-10">{{ tMinutes }}</span>
      <span class="fs12 fw400">Minutes</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TimeCounter',
  components: {},
  props: {
    tDay: {
      type: String,
      default: ''
    },
    tHour: {
      type: String,
      default: ''
    },
    tMinutes: {
      type: String,
      default: ''
    }
  },
  data() {
    return {}
  },
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
.space_box {
  height: 12px;
}
</style>
