<template>
  <shadow-box
    :has-shadow="false"
    :has-content-box="false"
    class="total_ticket_box pd-0 fc-light-grey"
  >
    <div slot="shadow-box-content" class="p-t-15 fs15">
      <div v-if="isCombo">
        <div class="total_ticket_title p-l-20 p-b-10">
          <span>Total Odds</span>
        </div>
        <div class="flex-space-between-vc p-t-15 p-l-15 p-r-15 p-b-5">
          <span
            class="flex-row-hc-vc fc-white fs18 p-l-20 p-r-20 p-t-10 p-b-10 yellow_box br-ss"
            >9.20</span
          >
          <div class="flex">
            <div class="br-sm darkgrey_box flex-row-hc-vc p-l-10 fc-light-grey">
              <input
                id="bet"
                v-model="varLink"
                placeholder="Stake"
                oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                class="m-r-10 fs15"
              />
            </div>
            <div class="flex-col-hc-vc m-l-5 pd-10 darkgrey_box br-ss fs10">
              <font-awesome-icon icon="chevron-down" />
              <font-awesome-icon icon="chevron-up" />
            </div>
          </div>
        </div>
      </div>
      <div class="flex-space-between-vc fw600 p-t-10">
        <span class="p-l-15">Total Stake:</span>
        <span class="p-r-15">{{ totalStake }} Coins</span>
      </div>
      <div class="flex-space-between-vc fw600 p-t-15">
        <span class="p-l-15">Total Return:</span>
        <span class="p-r-15 fc-yellow">{{ totalReturn }} Coins</span>
      </div>
      <div class="p-t-15 p-b-10 p-l-15 p-r-15">
        <div
          class="log_in_btn flex-space-between-vc pd-15 fc-white br-ss fw500"
        >
          <span>LOGIN TO START</span>
          <svg-icon icon-class="arrow_right" />
        </div>
      </div>
    </div>
  </shadow-box>
</template>

<script>
import ShadowBox from '@/components/pc/common/ShadowBox.vue'

export default {
  name: 'TotalTicketBox',
  components: {
    ShadowBox
  },
  props: {
    isCombo: {
      type: Boolean,
      default: false
    },
    varLink: {
      type: String,
      default: ''
    },
    totalStake: {
      type: Number,
      default: 0
    },
    totalReturn: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {}
  },
  computed: {},
  created() {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';

.total_ticket_box {
  border: 1px solid $grey6d;
  border-radius: 0px;
  line-height: 1;
  // position: fixed;
  max-width: 300px;
  // right: 0px;
  // bottom: 0px;
  width: 280px;
  margin-left: 10px;
  z-index: 5;
}

.total_ticket_title {
  border-bottom: 1px solid $grey59;
}

.yellow_box {
  background-color: $yellow;
}

.darkgrey_box {
  background-color: $darkgrey;
}

.darkgrey_box input {
  width: 65px;
  background-color: $darkgrey;
  color: $lightgrey;
  border: none;
  outline: none;
}

.log_in_btn {
  background-color: $mlightpurple;
  cursor: pointer;
}
</style>
