<template>
  <div class="versus-result h-full">
    <div :class="{ 'pd-20': mode == 'sidebar' }">
      <div v-if="mode == 'sidebar'" class="fs12 fw500 p-t-20 p-b-20">
        PLAY NOW
      </div>
      <versus-name :is-live="mode == 'sidebar'" />
      <div class="flex-space-between-vc m-t-20">
        <versus-tag
          flag1="flag1"
          flag2="flag2"
          :score1="0"
          :score2="1"
          :padding-big="mode == 'sidebar'"
        />
        <versus-tag
          flag1="flag1"
          flag2="flag2"
          :score1="0"
          :score2="1"
          :padding-big="mode == 'sidebar'"
        />
      </div>
    </div>
    <div v-if="hasSeperator" class="m-r-10 versus-result--seperator" />
  </div>
</template>

<script>
import VersusTag from './VersusTag'
import VersusName from './VersusName'

export default {
  name: 'VersusResult',
  components: {
    VersusTag,
    VersusName
  },
  props: {
    mode: {
      type: String,
      default: 'sidebar'
    },
    hasSeperator: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {}
  },
  computed: {},
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/variables.scss';
.versus-result {
  color: $grey88;
  .versus-result--title {
    line-height: 16px;
  }
  .versus-result--page {
    padding: 0px 5px;
    color: white;
    font-weight: 400;
    background: $grey59;
    line-height: 16px;
  }
  .versus-result--live {
    color: red;
    line-height: 16px;
  }
  .versus-result--seperator {
    height: 1px;
    background: $navSeperatorColor;
  }
}
</style>
