<script>
export default {
  name: 'ContainerTest',
  functional: true,
  props: {},
  render(h, context) {
    // const vnodes = []

    const header = this.$slots.header
    const body = this.$slots.default
    const footer = this.$slots.footer
    return createElement(
      'div',
      {
        class: {
          'v-full': true,
          'h-full': true,
          'rs-container--root': true
        }
      },
      [
        createElement(
          'div',
          {
            class: {
              'rs-container--header': true
            }
          },
          header
        ),
        createElement(
          'div',
          {
            class: {
              'rs-container--content': true
            }
          },
          body
        ),
        createElement(
          'div',
          {
            class: {
              'rs-container--footer': true
            }
          },
          footer
        )
      ]
    )

    // if (icon) {
    //   vnodes.push(<svg-icon icon-class={icon}/>)
    // }

    // if (title) {
    //   vnodes.push(<span slot='title'>{(title)}</span>)
    // }
    // return vnodes
  }
}
</script>
