<template>
  <div :class="classObj">
    <div
      v-if="!noCollapse"
      class="rs-container--btn_collapse pd-5"
      @click="collapseRS"
    >
      <svg-icon icon-class="rsidebar-collapse" />
    </div>
    <slot ref="header" name="header"></slot>
    <slot ref="content" name="content"></slot>
    <slot ref="footer" name="footer"></slot>
  </div>
</template>

<script>
export default {
  name: 'Container',
  components: {},
  props: {
    noCollapse: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {}
  },
  computed: {
    classObj() {
      return {
        'v-full h-full rs-container--root': true,
        'no-collapse': this.noCollapse
      }
    }
  },
  mounted() {
    // console.log(this.$slots.content[0])
    // this.$refs.content.style.paddingBottom = this.$refs.footer.height
  },
  methods: {
    collapseRS() {
      this.$store.dispatch('app/closeRightSideBar')
    }
  }
}
</script>

<style lang="scss" scoped></style>
