<template>
  <div class="mini-rs--root p-l-15 p-r-15 p-t-25 p-b-25 br-sm">
    <div class="mini-rs--btn" @click="expandRS('normal')">
      <svg-icon icon-class="expand" class="mini-rs--btn_expand" />
    </div>
    <div class="mini-rs--btn m-t-25" @click="expandRS('chat')">
      <svg-icon icon-class="chat" class="mini-rs--btn_normal" />
    </div>
    <div class="mini-rs--btn m-t-30" @click="expandRS('promo')">
      <svg-icon icon-class="promo" class="mini-rs--btn_normal" />
    </div>
    <div class="mini-rs--btn m-t-30" @click="expandRS('score')">
      <svg-icon icon-class="ticket" class="mini-rs--btn_normal" />
    </div>
    <div class="mini-rs--btn m-t-150" @click="expandRS('event')">
      <svg-icon icon-class="event" class="mini-rs--btn_normal" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'MiniRightSidebar',
  components: {},
  props: {},
  data() {
    return {}
  },
  computed: {},
  mounted() {},
  methods: {
    expandRS(activeTabName) {
      this.$emit('expandRS', activeTabName)
    }
  }
}
</script>

<style lang="scss" scoped>
.mini-rs--root {
  background: rgba(25, 26, 26, 0.7);
  // width: 95px;
  .mini-rs--btn {
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
  .mini-rs--btn_expand {
    width: 25px;
    height: 18px;
  }
  .mini-rs--btn_normal {
    width: 25px;
    height: 25px;
  }
}
</style>
