<template>
  <ul role="tablist" :class="tabListClassObj">
    <!---->
    <li
      v-for="(tab, index) in tabItems"
      :key="index"
      :class="'nav-item ' + tab.nav_item_class"
      role="presentation"
    >
      <a
        role="tab"
        target="_self"
        href="javascript:;"
        :class="
          'nav-link ' + tab.title_link_class + (tab.active ? ' active' : '')
        "
        @click="tabSelected(tab)"
      >
        {{ tab.title }}
      </a>
    </li>
    <!---->
    <slot name="tabs-end" />
  </ul>
</template>

<script>
export default {
  name: 'TabSelect',
  components: {},
  props: {
    tabClass: {
      type: String,
      default: ''
    },
    isFill: {
      type: Boolean,
      default: true
    },
    tabs: {
      type: Array,
      default() {
        return []
      }
    },
    activeTab: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      tabItems: this.tabs
    }
  },
  computed: {
    tabListClassObj: {
      get() {
        return (
          'nav nav-tabs' + (this.isFill ? ' nav-fill ' : ' ') + this.tabClass
        )
      }
    }
  },
  mounted() {
    for (let i = 0; i < this.tabItems.length; i++) {
      if (i === this.activeTab) {
        this.tabItems[i].active = true
      }
    }
  },
  methods: {
    tabSelected(tab) {
      for (let i = 0; i < this.tabItems.length; i++) {
        this.tabItems[i].active = false
      }
      tab.active = true
      this.$emit('select', tab)
    }
  }
}
</script>

<style lang="scss" scoped></style>
